<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue"></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background_origin">
    <ion-refresher (ionRefresh)="ref($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-slides pager class="newsSlide" *ngIf="slides && slides.length" autoplay="3000" speed="500" (load)="loaded = true">
    <div *ngFor="let slide of slides">
      <ion-slide (click)="news(slide)">

        <div class="newscard">
          <div class="imgs-container">
            <div class="image_load">
              <img class="imgCer fadeI_grad" src="{{slide.imgurl}}" (load)="loaded = true" alt="">
              <div gravity="center" class="p-materialbox">
                <div class="p-circle--rotate p-materialbox__item">
                  <div class="p-circle--rotate__item1"></div>
                  <div class="p-circle--rotate__item2"></div>
                  <div class="p-circle--rotate__item3"></div>
                  <div class="p-circle--rotate__item4"></div>
                  <div class="p-circle--rotate__item5"></div>
                  <div class="p-circle--rotate__item6"></div>
                  <div class="p-circle--rotate__item7"></div>
                  <div class="p-circle--rotate__item8"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ion-slide>
    </div>
  </ion-slides>
  <div></div>
  <div gravity="center" class="p-materialbox" *ngIf="!slides">
    <div class="p-circle--rotate p-materialbox__item box" style="
  " *ngIf="!loaded">
      <div class="p-circle--rotate__item1"></div>
      <div class="p-circle--rotate__item2"></div>
      <div class="p-circle--rotate__item3"></div>
      <div class="p-circle--rotate__item4"></div>
      <div class="p-circle--rotate__item5"></div>
      <div class="p-circle--rotate__item6"></div>
      <div class="p-circle--rotate__item7"></div>
      <div class="p-circle--rotate__item8"></div>
    </div>
  </div>

  <div *ngFor="let item of items  ;let i = index">
    <div class="card-noticard-read read fadeIn{{i}}" (click)="NotificationPage(item)">
      <p class="card-title"> {{item.title}}</p>
      <p class="card-time"> {{decode(item.time)}}</p>
      <div class="tabOff"></div>
    </div>
  </div>
  <ion-infinite-scroll  *ngIf="Infi_load==false" (ionInfinite)="doRefresh($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
