page-guests-notification {
   
    .newsSlide{
      height: 56vw;
    
        border-radius: 10px;


    }
    .imgs{
        border-radius: 20px;
    }
    .notification-field {
 
      background-color: rgba(255, 255, 255, 0.698);
    }
    .card-noticard {
      width: 100%;
      height: 60px;
      margin-bottom: 2%;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
     .card-title {
        font-size: 12px;
        margin-left: 20px;
      }
      .card-time {
        font-size: 12px;
        margin-left: 20px;
      }
    
    }
    .card-noticard-read.read {
      background-color: rgba(3, 3, 3, 0.582);
      opacity: 0 !important;
  
      background-color: rgba(0, 0, 0, 0.342);
      border: solid 1px rgba(0, 0, 0, 0);
      border-radius: 15px;
    
      .card-title {
        font-size: 14px;
        margin-left: 28px;
        // opacity: 0 !important;
        color: white;
      }
      .card-time {
        font-size: 12px;
        margin-left: 28px;
        margin-top: -13px;
        // opacity: 0 !important;
        color: white;
      }
    }
  
    .card-noticard-read {
      // background: url('../assets/ui/home/noticard-read.png');
      // background-size: cover;
      background-color: rgba(0, 0, 0, 0.637);
      position: relative;
      width: 100%;
    padding: 2%;
      border: solid 2px rgb(0, 0, 0);
      margin-bottom: 0.6%;
      border-radius: 5px;  
      
   
      .card-title {
        font-size: 10px;
        margin-left: 28px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .card-time {
        font-size: 12px;
        margin-left: 28px;
        margin-top: -13px;
  
      }
    }
    .head {
      color: white;
    }
  .tabOn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-left: 8px;
    width: 10px;
    border-radius: 20px;
    height: 50px;
    background:linear-gradient(180deg, #9c9c9c, #4e4e4e);
    opacity: 0.23;
    }
    .tabOff {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      margin-left: 8px;
      width: 10px;
      border-radius: 20px;
      height: 50px;
       background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
    }
  .item.item-block .item-inner {
      padding-right: 8px;
      padding-right: 8px;
      border-bottom: 0px solid #c8c7cc !important;
  }
  .box{
    position: absolute!important;
    right: 0 !important;;
    left: 0 !important;;
    top: 14% !important;;
    z-index: 999;
    margin: auto!important;;

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  {    
      top: 24% !important;;
    
    }
  } 
  .p-materialbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    // width: 100%;
     // position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // top: 50%;
    // transform: translateY(-50%); 
    &__item {
      margin-left: 50px;
      &:first-child {
        margin-left: 0;
      }
    }
  } // circle--rotate
  .p-circle--rotate {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  } // circle--rotate__item基本
  .circle--rotate__item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
  }
  @mixin circle--rotate($delay: 0s) {
    animation: circle--rotate 1s linear $delay infinite;
  } // circle--rotate__item 8個生成して動きをずらす
  @for $i from 1 through 8 {
    .p-circle--rotate__item#{$i} {
      @extend .circle--rotate__item;
      @include circle--rotate($i*.125s);
    }
  } // circle--rotate__itemそれぞれのポジション
  .p-circle--rotate__item1 {
    top: -1px;
    left: 20px;
  }
  .p-circle--rotate__item2 {
    top: 5px;
    left: 35px;
  }
  .p-circle--rotate__item3 {
    top: 20px;
    left: 41px;
  }
  .p-circle--rotate__item4 {
    top: 35px;
    left: 35px;
  }
  .p-circle--rotate__item5 {
    top: 41px;
    left: 20px;
  }
  .p-circle--rotate__item6 {
    top: 35px;
    left: 5px;
  }
  .p-circle--rotate__item7 {
    top: 20px;
    left: -1px;
  }
  .p-circle--rotate__item8 {
    top: 5px;
    left: 5px;
  }
}
