page-announce {
  .bg {
    position: relative;
    backdrop-filter: blur(28px);
    background-color: rgba(0, 0, 0, 0.589);
    .scroll-content {
      overflow: hidden !important;
    }
  }
  .img {
    border-radius: 15px;
    width: 100%;
    
  }
  .img2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px
  }
  .card {
    position: relative;
    
    width: 80%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30%;
    background-color: rgba(224, 224, 224, 0);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-top: -10%;
    @media screen and (device-aspect-ratio: 40/71) {
      height: 265px;
    }
    @media only screen and (min-device-width: 414px) {
      height: 310px;
    }
    @media only screen and (min-device-width: 768px) {
      width: 59%;
    }
    .btm {
      position: relative;;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      bottom: 0;
      height: 120px;

      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
      color: white;
      font-weight: bold;

      margin-top: -10%;
      @media only screen and (min-device-width: 768px) {
       transform: translateY(-37%)
      }
      @media only screen and (min-device-width: 1024px) {
        transform: translateY(-61%)
       }
    }
    .cross-front {
      position: absolute;
      top: 10.4%;
      right: 5.4%;
      margin: auto;
      z-index: 10;
    }
  }

  .exactCenter {
		width:80vw;
		height:80vw;
		position: fixed;
		// background-color: #00FF00;
		top: 40%;
		left: 50%;
		margin-top: -40vw;
    margin-left: -40vw;
    

	}
}
