<ion-content padding class="bg">
  <div class="card">

    <div class="exactCenter">
        <div *ngIf="item.type=='event'">
            <!-- <img class="img2" src="{{item.imgurl}}" alt=""> -->
       
                <div class="image_load" style="">
                    <img class="imgCer" src="{{item.imgurl}}" (load)="loaded = true" alt="" style="padding: 0;  border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0; ">
                    <div gravity="center" class="p-materialbox"   *ngIf="!loaded">
                      <div class="p-circle--rotate p-materialbox__item">
                        <div class="p-circle--rotate__item1"></div>
                        <div class="p-circle--rotate__item2"></div>
                        <div class="p-circle--rotate__item3"></div>
                        <div class="p-circle--rotate__item4"></div>
                        <div class="p-circle--rotate__item5"></div>
                        <div class="p-circle--rotate__item6"></div>
                        <div class="p-circle--rotate__item7"></div>
                        <div class="p-circle--rotate__item8"></div>
                      </div>
                    </div>
                  </div>
       
          </div>
          <div *ngIf="item.type=='News'">
      <div>
          <div class="image2_load">
              <img class="imgCer" src="{{item.imgurl}}" (load)="loaded = true" alt="">
              <div gravity="center" class="p-materialbox"  *ngIf="!loaded" >
                <div class="p-circle--rotate p-materialbox__item">
                  <div class="p-circle--rotate__item1"></div>
                  <div class="p-circle--rotate__item2"></div>
                  <div class="p-circle--rotate__item3"></div>
                  <div class="p-circle--rotate__item4"></div>
                  <div class="p-circle--rotate__item5"></div>
                  <div class="p-circle--rotate__item6"></div>
                  <div class="p-circle--rotate__item7"></div>
                  <div class="p-circle--rotate__item8"></div>
                </div>
              </div>
            </div>
      </div>
         
          </div>
      
      
          <!-- <div class="count">{{checkmember(item.Attendees.interes)}}/{{item.Attendees.unit}}</div> -->
          <div *ngIf="item.type=='event'">
            <button class="btm" *ngIf="checkregister(item)==1" (click)="register(item)" disabled>
              <h1>ลงทะเบียนแล้ว</h1>
            </button>
            <button class="btm" *ngIf="checkregister(item)==0" (click)="register(item)">
              <h1>ลงทะเบียน</h1>
            </button>
      
          </div>
          <a class="cross-front" (click)="dismiss()">
              <img src="./assets/ui/home/cross.png" width="24">
            </a>
    </div>
    
    <ion-infinite-scroll (ionInfinite)="doRefresh($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  
  </div>
</ion-content>
