
<ion-header no-border class="padding-head active">
    <ion-navbar hideBackButton end>
      <ion-buttons right>
        <a (click)="dismiss()">
          <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
          <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
        </a>
      </ion-buttons>
      <ion-title style="color: aliceblue"></ion-title>
    </ion-navbar>
  </ion-header>
<!-- <ion-header no-border style="padding-top: 6%;">
    <ion-navbar hideBackButton>
      <ion-buttons left>
        <a  (click)="dismiss()"><img src="assets/imgs/back.png" width="24" style="margin:5px"></a>
      </ion-buttons>
      <ion-title>{{items.title}}</ion-title>
    </ion-navbar>
  </ion-header> -->

  <ion-content padding class="background_origin">

      <div class="Dtsitem">
          <div class="text">{{items.title}} : {{items.des}}<br>
            <!-- <div class="textTime">{{decode(items.time)}}</div> -->
          </div>
          
          <div class="textTime"></div>
        <!-- <img class="arrow" src="assets/imgs/back.png" width="24"> -->

      </div>
    <div class="card-body-content">
        <ion-row>
          <ion-col class="head-name">
          สถานะปัจจุบัน
          </ion-col>
          <ion-col class="head-status">
           <div class="headlabel pass" *ngIf="items.status==0">อนุมัติ</div> 
           <div class="headlabel wait" *ngIf="items.status==1">กำลังดำเนินการ</div>
           <div class="headlabel reject" *ngIf="items.status==2">ไม่อนุมัติ</div> 
            <!-- <img class="status" src="assets/imgs/active.png"> -->
          </ion-col>
        </ion-row>
    </div>
    <div class="card-body">
        ได้รับเอกสารเมื่อวันที่ : {{decode(items.time)}}
    </div>
    <div class="card-body active">
        <div class="passdate" *ngIf="!items.passtime">อนุมัติวันที่ : - </div>
        <div class="passdate" *ngIf="items.passtime">อนุมัติวันที่ : {{decode(items.passtime)}}</div>
    </div>
    <!-- <div class="btn-chat">
        <button ion-button  color="dark"   class="btn-car">Chat</button>
    </div> -->
    
  </ion-content>
  