page-dts-view {
  .advisorbg {
    background-color: rgba(150, 17, 17, 0.733)
  }
  .AdvisorCard-head {
    background-color: rgba(74, 212, 69, 0.973)
  }
  .head-name {
    // font-size: 16px;
    font-weight: bold;
    text-align: left !important;
    color: white;
  }

  .Dtsitem{
    position: relative;
    width: 100%;
    // height: 65px;

    margin-bottom:1%;
    border-radius: 6px;
    // border: solid 1px rgb(0, 0, 0);
    padding: 3%;
    background: rgba(19, 19, 19, 0.651);
    // border: solid 1px rgba(0, 0, 0, 0.432);
    border-radius: 15px;
    margin-bottom: 3%;

    .text{
      position: relative;
      top: 0;
      /* bottom: 0; */
   
      width: 93%;
    
  
      // font-size: 16px;
     
      color: #ff9c00; 
  
      margin: auto;
   }
    .textTime{
      // font-size: 14px;
      text-align: right;
        }
}
  .head-status {
    text-align: right !important;
    .headlabel {
      width: 40%;
      text-align: center;
      padding: 2%;
      padding-left: 4%;
      padding-right: 4%;
      color: white;
      border-radius: 40px;
      margin-left: 60%;
      // font-size: 16px;
      font-weight: bold;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.048);
      
      background-color: rgba(0, 0, 0, 0.342);
      // border: solid 1px rgba(0, 0, 0, 0.432);
      border-radius: 15px;
    }
    .headlabel.pass {
      background: -webkit-linear-gradient(#8acf7c, #69b875);

      animation-duration: 1s;
      animation-name: scale;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    .headlabel.wait {
      margin-left: 20%;
      width: 90%;
      background-color: #ffd000;

      animation-duration: 1s;
      animation-name: scale;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    .headlabel.reject {
      background: -webkit-linear-gradient(#ff5a5a, #df043b);
      width: 55%;
      padding-left: 6%;
      padding-right: 6%;


      animation-duration: 1s;
      animation-name: scale;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
  .status {
    margin-left: 70px;
    position: relative;
    width: 90px;
  }
  .card-body {
    background-color: rgba(0, 0, 0, 0.514);
    padding: 6%;
    // font-size: 14px;
    border-radius: 3px;
    border: 0;
    border-radius: 6px;
    color: white;

    background-color: rgba(0, 0, 0, 0.342);
    // border: solid 1px rgba(0, 0, 0, 0.432);
    border-radius: 15px;
    margin-bottom: 2%;

    @media only screen and (min-device-width: 768px) {
      padding-top: 3%;
      padding-bottom: 3%;
    }
    @media only screen and (min-device-width: 1024px) {
      padding-top: 3%;
      padding-bottom: 3%;
    }
  }
  .card-body-content{
    background-color: rgba(0, 0, 0, 0.514);
    padding: 6%;
    // font-size: 14px;
    border-radius: 3px;
    border: 0;
    border-radius: 6px;
    color: white;

    background-color: rgba(0, 0, 0, 0.342);
    // border: solid 1px rgba(0, 0, 0, 0.432);
    border-radius: 15px;
    margin-bottom: 4%;

    @media only screen and (min-device-width: 768px) {
      padding-top: 3%;
      padding-bottom: 3%;
    }
    @media only screen and (min-device-width: 1024px) {
      padding-top: 3%;
      padding-bottom: 3%;
    }
  }
  .card-body.active {
    background-color: rgba(0, 0, 0, 0.514);
    padding: 6%;
    // font-size: 14px;
    border-radius: 3px;
    border: 0;
    border-radius: 6px;
    // border: solid 1px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.342);
    // border: solid 1px rgba(0, 0, 0, 0.432);
    border-radius: 15px;


    @media only screen and (min-device-width: 768px) {
      padding-top: 3%;
      padding-bottom: 3%;
    }
    @media only screen and (min-device-width: 1024px) {
      padding-top: 3%;
      padding-bottom: 3%;
    }
  }
  .card-head {
    // border: solid 1px rgb(0, 0, 0);
    // margin-top: 12px;
    border-radius: 6px;
    padding: 6%;
    // margin-bottom: 2%;
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    background-color: rgba(0, 0, 0, 0.342);
    // border: solid 1px rgba(0, 0, 0, 0.432);
    border-radius: 15px;
    margin-bottom: 7%;

    margin-top: 4%;
    @media only screen and (min-device-width: 768px) {
      padding-top: 3%;
      padding-bottom: 3%;
    }
    @media only screen and (min-device-width: 1024px) {
      padding-top: 3%;
      padding-bottom: 3%;
    }
  }
  .btn-chat {
    position: relative;
    text-align: center;
  }
  .btn-car {
    position: relative;
    width: 100%;
    background-color: rgb(133, 133, 133);
    margin-top: 7%;
  }
  
  .passdate {}

  @keyframes scale {
    0% {
      opacity: 0.8;
  
    }
    100% {
      opacity: 1;
    
    }
  }
}
