<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue">Notification</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="notification-field">
    <div class="nocer" *ngIf="items.length==0">

        ไม่มีการแจ้งเตือน
    
      </div>

  <div *ngFor="let item of items ;let i = index">
     
    <div *ngIf="notofication(item.read)==1" class="card-noticard-read fadeIn{{i}}" (click)="NotificationPage(item)">
      <div class="read">
        <p class="card-title"> {{item.title}}</p>
        <p class="card-time"> {{decode(item.time)}}</p>
        <div class="tabOn"></div>
      </div>
    </div>
  
    <div *ngIf="notofication(item.read)==0">

      <div class="card-noticard-read fadeIn{{i}}" (click)="NotificationPage(item)">

        <p class="card-title"> {{item.title}}</p>
        <p class="card-time"> {{decode(item.time)}}</p>
        <div class="tabOff"> </div>

      </div>
    </div>
  
  </div>


</ion-content>
