page-modal-notification {
  // background-color: white;
  .notification-field {
    backdrop-filter: blur(28px);
    background-color: rgba(0, 0, 0, 0.589);
  }
  .card-noticard {
    width: 100%;
    height: 60px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    .card-title {
      font-size: 14px;
      margin-left: 20px;
    }
    .card-time {
      font-size: 12px;
      margin-left: 20px;
    }
  } // .card-noticard-read {
  //   background-color: rgba(0, 0, 0, 0.568); // opacity: 0.6;
  //   .card-title {
  //     font-size: 14px;
  //     margin-left: 28px; // 
  //   }
  //   .card-time {
  //     font-size: 12px;
  //     margin-left: 28px;
  //     margin-top: -13px; //
  //   }
  // }
  .card-noticard-read {
    position: relative;
    width: 100%;
    height: 70px; // border: solid 1px rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.342);
    border: solid 1px rgba(0, 0, 0, 0);
    .card-title {
      color: white;
      font-size: 14px;
      margin-left: 28px;
    }
    .card-time {
      color: white;
      font-size: 12px;
      margin-left: 28px;
      margin-top: -12px;
    }
    .read {
      opacity: 0.4;
    }
    margin-bottom: 1%;
  }
  .head {
    color: white;
  }
  .tabOn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-left: 8px;
    width: 10px;
    border-radius: 20px;
    height: 50px;
    background: linear-gradient(180deg, #9c9c9c, #4e4e4e);
    opacity: 0.23;
  }
  .tabOff {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-left: 8px;
    width: 10px;
    border-radius: 20px;
    height: 50px;
    background: linear-gradient(180deg, #f5cc50, #e58633);
  }
  .item.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0px solid #c8c7cc !important;
  }
  .has-refresher>.scroll-content {
    border-top: 1px solid transparent;
  }
  .nocer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.295);
    margin-top: 45%;
    border-radius: 10px;
  }
}
