page-book-news {

}
.bg-news{
    position: relative;
    background-color: white;
    text-align: -webkit-center;
 
    font-size: 150%;
            .menu1{
                position: relative;
           
                height: 80px;
                width: 200px;
                background-color: rgb(45, 46, 110);
                // top: 30%;
                left: 0;
                right:0;
                margin-left: auto;
                margin-right: auto;
                margin-top: 100%;
                border-radius: 100px;
                color: white;
                padding: 4%;
            }
            .menu2{
                position: relative;
           
                height: 80px;
                width: 200px;
                background-color: rgb(109, 110, 45);
                // top: 30%;
                left: 0;
                right:0;
                margin-left: auto;
                margin-right: auto;
                margin-top: 100%;
                border-radius: 100px;
                color: white;
                padding: 4%;
            }
            .menu3{
                position: relative;
           
                height: 80px;
                width: 200px;
                background-color: rgb(117, 48, 119);
                // top: 30%;
                left: 0;
                right:0;
                margin-left: auto;
                margin-right: auto;
                margin-top: 100%;
                border-radius: 100px;
                color: white;
                padding: 6%;
            }
       


}