
<ion-header >
  <ion-navbar class="ionic-header">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-navbar>

</ion-header>

<ion-content >
    <ion-slides pager class="bg-news">
        <ion-slide style="background-color: rgb(248, 248, 248)">
          <a href="http://www.nupress.grad.nu.ac.th/Category/pr/"> <button ion-button round class="menu1"  >ข่าวประชาสัมพันธ์</button></a> 

        </ion-slide>
      
        <ion-slide style="background-color: rgb(238, 238, 238)">
          <a href="http://www.nupress.grad.nu.ac.th/Category/activity/"><button ion-button round class="menu2">กิจกรรมของเรา</button></a> 
        </ion-slide>
      
        <ion-slide style="background-color: rgb(231, 231, 231)">
            <a href="http://www.nupress.grad.nu.ac.th/Category/%E0%B9%80 %E0%B8%97%E0%B8%84%E0%B8%99%E0%B8%B4%E0 %B8%84%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8 %97%E0%B8%B3%E0%B8%AB%E0%B8%99%E0%B8%B1 %E0%B8%87%E0%B8%AA%E0%B8%B7%E0%B8%AD%E0 %B8%95%E0%B8%B3%E0%B8%A3%E0%B8%B2/"><button ion-button round class="menu3">สาระน่ารู้</button></a> 

        </ion-slide>
      </ion-slides>
     


</ion-content>