

<ion-content   class="background_login">
  
    <div class="animeBG"></div>
    <!-- <div class="logo2"></div>
    <div class="logo3"></div> -->
        <div class="logo">
              <img src="assets/ui/logo.png" width="250" >
        </div>

        <ion-item class="item-content">
            <ion-label  floating>Student ID </ion-label>
            <ion-input [(ngModel)]="user.username" type="text"></ion-input>
        </ion-item>
          <ion-item class="item-content">
            <ion-label  floating>Password</ion-label>
            <ion-input [(ngModel)]="user.password"   type="password"></ion-input>
          </ion-item>
          <div class="btn_box">
               <button ion-button class="btn-login" (click)="login()">L O G I N </button>
            <button ion-button class="btn-login" (click)="Guest()">G U E S T &nbsp; L O G I N</button>
          </div>
          <img src="assets/ui/foot.png" width="400" >
</ion-content>
