page-login {
  text-align: -webkit-center; // z-index: 10;
  // .filter{
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background-color:rgba(0, 0, 0, 0.103);
  //   z-index: -10;
  // }
  .backgound-body {
    background-image: url('../assets/ui/background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background_login{
    background-image: url('../assets/ui/home/menu/background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .animebBG {
    // background-image: url('../assets/ui/background.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // width: 100%;
    // height: 100%;
  }
  .logo {
    position: relative;
    margin-top: 20%;
    width: 55%;
  }
  .logo2 {
    position: absolute;
    margin-top: 20%;
    left: 0;
    right: 0;
    top: 11.5vh;
    width: 170px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.089);
    margin: auto;
    border-radius: 100%;
    animation-duration: 1s;
    animation-name: scale2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media screen and (device-aspect-ratio: 40/71) {
      top: 6.5vh;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
      top: 8.5vh;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
      top: 15.5vh;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
      top: 11.5vh;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      top: 18.5vh;
    }
  }
  .logo3 {
    position: absolute;
    margin-top: 20%;
    left: 0;
    right: 0;
    top: 11.5vh;
    width: 170px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.103);
    margin: auto;
    border-radius: 100%;
    animation-duration: 1.3s;
    animation-name: scale3;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media screen and (device-aspect-ratio: 40/71) {
      top: 6.5vh;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
      top: 8.5vh;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
      top: 15.5vh;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
      top: 11.5vh;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      top: 18.5vh;
    }
  }
  .item-content {
    position: relative;
    background-color: #f12b2b00 !important;
    color: #ffffff;
    width: 90%;
  }
  .btn_box {
    margin-top: 6%;
    .btn-login {
      background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
      width: 90%;
      color: #ffffff;
      border-radius: 10px;
      font-weight: bold;
    }
  }
  @media only screen and (max-device-width: 412px) and (max-device-height: 732px) {
    .logo {
      position: relative;
      margin-top: 10%
    }
  }
  .body.active {
    opacity: 0.9;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: blur;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: blur;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: blur;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: blur;
  }
  @keyframes blur {
    0% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
    100% {
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px);
    }
  }
  @keyframes blurout {
    0% {
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px);
    }
    100% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
  }
  @keyframes scale2 {
    0% {
      // opacity: 0.4;
      transform: scale(1);
    }
    100% {
      // opacity: .73;
      transform: scale(1.3);
    }
  }
  @keyframes scale3 {
    0% {
      // opacity: 0.4;
      transform: scale(1);
    }
    100% {
      // opacity: .73;
      transform: scale(1.3);
    }
  }
}
