<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue">ปฎิทินการศึกษา</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding class="background2">
  <ion-list>
    <div class="boxdate">
      <div class="date">{{date}}</div>
      <div class="mm">{{mm}}</div>

    </div>
    <div no-border class="sliding" *ngFor="let item of  items" (click)="popup(item)">
   

        <ion-row no-padding>

          <div col-12 class="container">
            <div class="selected-des">{{item.title}}</div>
            <!-- <div class="selected-address">{{item.address}}</div> -->
          </div>
        </ion-row>

    </div>
  </ion-list>
</ion-content>
