page-calendar-event {
  .background2 {
    background-image: url('../assets/ui/home/menu/background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sliding {
    // height: 80px;
    border: 0;
    border-radius: 6px;
    margin-bottom: 5px;
    border-radius: 15px;

    background-color: rgba(0, 0, 0, 0.342);
                // border: solid 1px rgba(0, 0, 0, 0.432);
  }
  .selected-day {
    margin: 0;
    font-size: 28px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  .selected-mounth {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 50%;
    margin-top: -5px;
    color: rgb(255, 255, 255);
  }
 
  .selected-head {
    text-align: center;
    width: 10%; // margin: 6%
  }
  .container {
    text-align: center;
    position: relative;
    .selected-des {
      position: relative;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      text-align: left;
      // font-size: 16px;
      padding: 16px;
      color: rgb(255, 255, 255); // margin-left:  2%;
      // margin-top: 2%;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
  
      
    }
  }
  .toastcalendar {
    background: rgb(255, 255, 255);
  }
  .edit {
    background-color: #ff8abf;
  }
  .del {
    background-color: #fc0a5b;
  }
  .selected-address {
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0;
    right: 0;
  }
  .boxdate {
    position: relative;
    width: 130px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.342);
    text-align: center;
    border-radius: 100%;
    padding: 3%;
    margin: auto;
    margin-bottom: 3%; //  background-color: white;
    // border: solid 1px rgb(0, 0, 0);
    .date {
      font-size: 68px;
      color: #ff9c00;
    }
    .mm {
      position: absolute;
      bottom: 12%;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 28px;
      color: rgb(255, 255, 255);
      font-weight: bold;
    }
  }
}
