<ion-header class="" >
    <ion-navbar hideBackButton >
      <ion-buttons end>
         <a (click)="dismiss()"><ion-icon class="btn"ios="md-log-out" md="md-log-out" ></ion-icon></a>
      </ion-buttons>
      <ion-title class="headtitle">Info</ion-title>
    </ion-navbar>

  <ion-row>
      <ion-col>
          <img class="nisit-img" src="http://im.rediff.com/movies/2014/apr/04captain-america.jpg" alt="">
          <div class="camera">
              <ion-icon id="camera" ios="ios-camera-outline" md="md-camera"></ion-icon>
          </div>
      </ion-col>
      <ion-col col-8>
        <div class="name">
            <h4> {{User.name}}
              </h4>
           
        </div>
        <h4>เกรดเฉลี่ยสะสม</h4>
        <h4>คณะ {{User.fac}}</h4>
        <h4>ที่ปรึกษา {{success}}</h4>
      </ion-col>
    </ion-row>

      <div class="skill">
          <h4>{{success}}</h4>
        <progress class="skill-1" max="100" value="{{success}}">
           
        </progress>
      </div>

      
</ion-header>

<ion-content class="field-info">


  
    <ion-grid>
        <ion-row class="detail">
          <div class="content">
              <h4>ข้อมูลติดต่อ</h4>
              <div class="content-des">
                 {{User.address}}
              </div>
          </div>
          <div class="content">
              <h4>หัวข้อวิทยานิพนธ์</h4>
              <div class="content-des">
               {{User.tesis}}
                </div>
            </div>
             <div class="content"> 
            <h4>การสอบภาษาอังกฤษ</h4>
            <div class="content-des">
                {{User.Eng}}
              </div>
          </div>
          <div class="content">
            <h4>สถานะวิจัยในมนุษย์</h4>
              <div class="content-des">
             
              </div>
          </div>
          <div class="content"> 
            <h4>สถานะวิทยานิพนธ์</h4>
            <div class="content-des">
                {{User.status}}
              </div>
          </div>
        
         
       
        </ion-row>
      </ion-grid>


</ion-content>