page-modal-info {
    

}
.field-info{
    // text-align: center; 

    background: rgb(248, 248, 248);
    // padding-top:15%;
    padding-left:2%;
    padding-right: 2%; 
    .nisit-img{
        width: 150px;
        height: 150px;
        box-shadow: 0px 1px 83px -1px #cfcfcf;
    }
    h4{
        text-align: left;
        color: rgb(95, 95, 95)
    }
    .detail{
        background: #ececec;
        .content{
            width: 100vw;
            .content-des{
                padding: 4%;
               
            }
        }
    }
  
    .name{
            h4{
                width: auto;
                // background: -webkit-linear-gradient(#ff5a5a, #df043b);
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
            }
    }
  
}
.camera{
    position: absolute;
    bottom: 8%;
    width: 93%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.63);
    text-align: center;
    font-size: 80%;
 
}
#camera{
    font-size: 50px;
}
.boxx{
    display: block;
    height: 70px;
    margin: 2%;
}



  progress, progress[role] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-size: auto;
    height: 10px;
    width: 100%;
    transition: 0.5s

  }
  

  
  // The list item
  .skill {
  position: relative;
  background-color: #f3f3f3;
  text-align: center;
  
    ::-webkit-progress-value { 
        animation:bar-fill 2s;
        -webkit-animation: bar-fill 2s;
        width: 0px;
    }
    h4{
        padding-top: 2%;
        position: relative;
       
    }
  }
  
  // Style the bar colors
  .skill-1::-webkit-progress-value {
    background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);  
  }
  .skill-1::-moz-progress-bar {
    background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);  
  }
  // Animation Keyframes
  @-webkit-keyframes bar-fill {
    0% { width: 0; }
  }
  @keyframes bar-fill {
    0% { width: 0; }

  }