
<ion-header >
  <ion-navbar class="ionic-header">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>ติดต่อ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="contact-book">
    <h1>ติดต่อ</h1>
</ion-content>

