page-guests-register {
    text-align: center;
    .item{
        background-color: transparent;
        border:0 !important;
    }
    .text{
        // font-family: 'kanit';

        color: white;
    }
    .phe{
        background-color: rgba(0, 0, 0, 0.493) !important;
        // border: solid 1px rgba(0, 0, 0, 0.329);
        border-radius: 15px;
        padding: 2%;
        padding-left: 4%;
        color:white;;
        width: 100%;
    }
    .phe:hover{
    
    }
    .btn-car{
        text-align: center;
        width: 100%;
         background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
        box-shadow: 3px 8px 40px rgba(0, 0, 0, 0.13);
        border-radius: 8px;
        margin: auto;
    }
    .list .item-block .item-inner {
        border-bottom: 0
    }
    .item{
        padding: 0;
    }
    .item.item-block .item-inner{
        padding: 0;
    }
}
