<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue">สนใจเข้าศึกษาต่อ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background_origin">
  <ion-list>
    <ion-item>
      <ion-label class="text" stacked>ชื่อ</ion-label>
      <ion-input class="phe" [(ngModel)]="items.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="text" stacked>นามสกุล</ion-label>
      <ion-input class="phe" [(ngModel)]="items.surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="text" stacked>อีเมล</ion-label>
      <ion-input class="phe" [(ngModel)]="items.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="text" stacked>เบอร์โทร</ion-label>
      <ion-input class="phe" [(ngModel)]="items.tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="text" stacked>ระดับการศึกษาที่สนใจเข้าศึกษา</ion-label>
      <ion-input class="phe" [(ngModel)]="items.coust"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="text" stacked>สาขาที่สนใจเข้าศึกษา</ion-label>
      <ion-input class="phe" [(ngModel)]="items.interest"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="text" stacked>วุฒิการศึกษาที่สำเร็จการศึกษา</ion-label>
      <ion-input class="phe" [(ngModel)]="items.oldEducational"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="text" stacked>มหาวิทยาลัยที่สำเร็จการศึกษา</ion-label>
      <ion-input class="phe" [(ngModel)]="items.oldUniversity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="text" stacked>เกรดเฉลี่ยสะสม</ion-label>
      <ion-input class="phe" [(ngModel)]="items.gpax"></ion-input>
    </ion-item>
  </ion-list>
  <div class="setting-container">
    <div class="btn-chat">
      <button ion-button color="dark" class="btn-car" (click)="save(items)">
        <b>บันทึก</b>
      </button>
    </div>
  </div>
</ion-content>
