<ion-header class="" >
    <ion-navbar hideBackButton >
      <ion-buttons end>
         <a (click)="dismiss()"><ion-icon class="btn"ios="md-log-out" md="md-log-out" ></ion-icon></a>
      </ion-buttons>
      <ion-title class="headtitle">Chat</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding class="chat-body">
  <div *ngFor="let item of shoppingItems | async" class="chat-container">
  <!-- ng-12 -->
      <div class="chat-box" *ngIf="(item.name !=user)">
        <div class="chat-form">
           
              <div class="text1">
                {{item.message}}
                <div class="chat-time">
                    {{item.time}}
                  </div>
              </div> 
        </div> 
      </div>
<!-- ng -->
      <div class="chat-box2" *ngIf="item.name ==user">
          <div class="chat-form2">
              
                 <div class="text2">
                    <div class="chat-time2">
                        {{item.time}}
                      </div>
                      {{item.message}}
                    </div> 
          </div> 
        </div>
    
  </div>
  
</ion-content>
<ion-footer  class="chat-foot" >
    <ion-textarea  class="message-box no-padding" type="text" [(ngModel)]="text.message"> </ion-textarea>
    <button ion-button color="dark" class="message-send" (click)="SendMessage()">Send</button>
</ion-footer>