page-modal-talk {
  
}
.box-dev{
    font-family: 'Kanit';
    text-align: center;
    background-color: rgb(252, 208, 208);  
}
.message-box{
    font-family: 'Kanit';

    position: relative;
    border: 0;
    border-radius: 30px; 
    width: 70%;
    background-color: #f1f1f1;
   
    color: rgb(36, 36, 36);
    // border:solid 1px rgb(71, 71, 71)
  
}
.message-send{
    position: absolute;
    right: 0;
    font-family: 'Kanit';
    font-size: 100% !important;
    bottom: 12%;
    border-radius: -8%;
    height: 69%;
    margin-right:15px 
   
}
.chat-box{
    position: relative;

}

.chat-container{
    position: relative;
    display: inline;
}
.chat-foot{
    background-color: #dadada;

}
.chat-head{
    background-color: rgb(83, 83, 83)
}
.chat-body{
    background-color: rgb(255, 255, 255)
    
}
.no-padding {
    padding: 0px !important;
    padding-left: 20px !important;
    margin-left: 20px;
}
.chat-time{
    position: absolute;

    bottom: -2px;
    color: rgb(216, 216, 216);
    font-size: 80%;
 
}
.chat-form{
    position: static;
    font-family: 'Kanit';

    color: white;
    margin: 2%;
    border-radius: 25px;
    padding:2%;
    // width: auto;
    right: 0;
    font-size: 80%;
    text-align: left;
}


.chat-time2{
    position: absolute;
   
    bottom: 0px;
    color: rgba(100, 100, 100, 0.356);
    font-size: 80%;
    
}
.chat-form2{
    position: static;
    font-family: 'Kanit';
   
    color: white;
    margin: 2%;
    border-radius: 25px;
    padding:2%;
    text-align: right
    
}
.chat-box2{
    position: relative;

}
.text1{

    display: -webkit-inline-box;
    position: static;
    font-family: 'Kanit';
    background-color: rgb(207, 19, 19);
    color: white;
    margin: 2%;
    border-radius: 25px;
    padding:3%;

  
}
.text2{

    display: -webkit-inline-box;
    position: static;
    font-family: 'Kanit';
    background-color: rgb(248, 80, 80);
    color: white;
    margin: 2%;
    border-radius: 25px;
    padding:3%;

  
}