page-book-service {
   
}
.bg-book{
    position: relative;
    background-color: white;
    text-align: -webkit-center;
    font-family: 'kanit';
    font-size: 150%;
    .menu1{
        position: relative;
        display: block;
        height: 10%;
        width: 60%;
        background-color: rgb(240, 191, 191);
        top: 30%;
        left: 0;
        right:0;
        margin-left: auto;
        margin-right: auto;
       
        border-radius: 100px;

        padding: 4%;
    }
    .menu2{
            position: relative;
            display: block;
            height: 10%;
            width: 60%;
            top:35%;
            background-color: rgb(49, 185, 129);
            left: 0;
            right:0;
            margin-left: auto;
            margin-right: auto;

            border-radius: 100px;

            padding: 4%;
    }
}
