
<ion-header >
  <ion-navbar class="ionic-header">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-book">
    <button ion-button round class="menu1"  (click)=makebook() >จัดทำหนังสือ/ตารา</button>
    <button ion-button round class="menu2"  (click)=makeother()>จัดทาสิ่งพิมพ์อื่น</button>
</ion-content>