<ion-header class="" >
    <ion-navbar hideBackButton >
      <ion-buttons end>
         <a (click)="dismiss()"><ion-icon class="btn"ios="md-log-out" md="md-log-out" ></ion-icon></a>
      </ion-buttons>
      <ion-title class="headtitle">ทุน</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="notification-field">
    <ion-slides class="slide-style">

        <ion-slide style="">
         <img src="https://image.slidesharecdn.com/random-120716210705-phpapp01/95/-30-728.jpg?cb=1342472925" alt="">
        </ion-slide>
      
        <ion-slide style="">
      <img src="http://blog.eduzones.com/images/blog/magazine/20160620-1466392171.1675-0.jpg" alt="">
        </ion-slide>

      </ion-slides>
<ion-searchbar class="" placeholder="Filter Items with Cancel" showCancelButton color="danger" (ionInput)="filterItems($event)"></ion-searchbar>



  <ion-item *ngFor="let item of items">
    <div class="notification-card" (click)="capitalPage()">
      <ion-grid>
        <ion-row>
          <ion-col col-2>
            <div class="notification-status">
            </div>
          </ion-col>
          <ion-col col-8>
            <h4> {{ item }}</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-item>
</ion-content>