page-media-know {

}
.bg-know{
    background-color: white;
    text-align: center;
    font-family: 'kanit','sans-serif';
    
}
.slide-h{
    height: 30%;
}
.label-head{
    text-align: left;
}
.mycard{
    height: 100vh;
}
