<ion-header>
  <ion-navbar class="ionic-header">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>แหล่งเรียนรุ้</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="bg-know">
  <label class="label-head">
    <h1>ทั่วไป</h1>
  </label>
  <ion-slides pager class="slide-h">
    <ion-slide style="background-color: rgb(255, 255, 255)">
      <img src="https://sites.google.com/a/suratham.ac.th/surathamgroup/_/rsrc/1481641563063/sarsnthes-rwm/haelngreiynru/%E0%B9%81%E0%B8%AB%E0%B8%A5%E0%B9%88%E0%B8%87%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%99%E0%B8%A3%E0%B8%B9%E0%B9%89.jpg"alt="">
    </ion-slide>
  </ion-slides>
  <ion-row>
    <ion-col col-6><img src="https://semantic-ui.com/images/avatar/large/laura.jpg" alt=""></ion-col>
    <ion-col col-6><img src="https://reachli.s3.amazonaws.com/images/0fcf0a80b91c9a3316692a9a7cda469f.png" alt=""></ion-col>
  </ion-row>
  <br>
  <label class="label-head">
        <h1>วิทยาศาสตร</h1>
</label>
  <ion-slides pager class="slide-h">
        <ion-slide style="background-color: rgb(255, 255, 255)">
          <img src="https://www.90daykorean.com/wp-content/uploads/2016/07/Formal-I-Know-in-Korean.jpg"alt="">
        </ion-slide>
      </ion-slides>
      <ion-row>
            <ion-col col-6><img src="https://semantic-ui.com/images/avatar/large/laura.jpg" alt=""></ion-col>
            <ion-col col-6><img src="https://reachli.s3.amazonaws.com/images/0fcf0a80b91c9a3316692a9a7cda469f.png" alt=""></ion-col>
          </ion-row>
</ion-content>
