<ion-header no-border class="padding-head active">
    <ion-navbar hideBackButton end>
      <ion-buttons right>
       
      </ion-buttons>
      <ion-title style="color: aliceblue"></ion-title>
    </ion-navbar>
  </ion-header>

<ion-content  class="bg notification-field" style="    box-shadow: 1px 4px 60px 0px #c5c5c557;">
    <ion-grid class="gridpadding" style="">
      <ion-row>
        <ion-col col-4 *ngFor="let item of items" style="     padding: 4% !important; text-align:center;">
          <a (click)="gotopage(item.component)">
            <div class="circle-menu">
              <img src="{{item.url}}" alt="">
            </div>
            <div class="text">{{item.title}}</div>
          </a>
        </ion-col>
      </ion-row>
  
  
      <ion-row>
        <ion-col>
  
  
        </ion-col>
        <ion-col>
  
            <div class="red"></div>
  
                <img class="close"  (click)="dismiss()" src="assets/ui/home/menu/new/close.png" />
           
         
          
        </ion-col>
        <ion-col>
  
  
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <div class="blurred"></div> -->
  </ion-content>
  