page-report {
  .out {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
    -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
    backdrop-filter: saturate(180%) blur(20px) !important;
  }
}
