
<ion-header >
    <ion-navbar class="ionic-header">
      <ion-buttons start>
        <button ion-button (click)="dismiss()">Close</button>
      </ion-buttons>
      <ion-title>Research</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="bg">
     
          <div class="menu1"> วิทยาศาสตร์และ เทคโนโลยี</div>
          <div class="menu2">มนุษยศาสตร์และ สังคมศาสตร์</div>
  </ion-content>
 