page-research-paper {

}
.bg{
    background-color: white;
    position: relative;

    text-align: -webkit-center;
    font-family: 'kanit';
    font-size: 150%;
    .menu1{
        position: relative;
        display: block;
        height: 10%;
     
        background-color: rgb(240, 191, 191);
        // top: 30%;
        left: 0;
        right:0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25%;
        border-radius: 100px;
        margin-bottom: 3%;
        padding: 4%;
    }
    .menu2{
            position: relative;
            display: block;
            height: 10%;
            
            // top:35%;
            background-color: rgb(49, 185, 129);
            left: 0;
            right:0;
            margin-left: auto;
            margin-right: auto;

            border-radius: 100px;
            margin-bottom: 3%;
            padding: 4%;
    }
}