<!--
  Generated template for the BookOtherbookDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
    <ion-navbar class="ionic-header">
      <ion-buttons start>
        <button ion-button (click)="dismiss()">Close</button>
      </ion-buttons>
      <ion-title>สิ่งพิมพ์อื่น</ion-title>
    </ion-navbar>
  
  </ion-header>

<ion-content padding>
    <a href=""> <button ion-button round class="menu1"  >ขั้นตอนการจัดทำ</button></a> 
    <a href="http://www.nupress.grad.nu.ac.th/wp- content/uploads/2015/06/SNP-11-28-2-60.pdf?x77142"> <button ion-button round class="menu2"  >เอกสารที่เกี่ยวข้อง</button></a> 
    <a href=""> <button ion-button round class="menu3"  >ติดตามสถานะจัดทำ</button></a> 

</ion-content>
