<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue">{{curricula}}</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding class="background_origin">

  <div *ngIf="items==1">
    <ion-item *ngFor="let d of phd; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <div col-12 class="head">
        &#8226; {{d.title}}
      </div>
      <div *ngIf="isGroupShown(i)">
        <div *ngFor="let items of d.type">
          <ion-col class="headsub">
            {{items.name}}
          </ion-col>
          <ion-row>
            <div *ngFor="let item of items.des">
              <ion-col col-12 class="des">
                {{item.name}}
              </ion-col>
              <div *ngFor="let data of item.data">
                <ion-col col-12 class="des2">
                  - {{data}}
                </ion-col>
              </div>
            </div>

          </ion-row>
        </div>
      </div>
    </ion-item>
  </div>
  <div *ngIf="items==2">
    <ion-item *ngFor="let d of master2; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <div col-12 class="head">
        <!-- <ion-icon color="success" class="do2t"  item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon> -->
        &#8226; {{d.title}}
      </div>
      <div *ngIf="isGroupShown(i)">
        <div *ngFor="let items of d.type">
          <ion-col class="headsub">
            {{items.name}}
          </ion-col>
          <ion-row>
            <div *ngFor="let item of items.des">
              <ion-col col-12 class="des">
                {{item.name}}
              </ion-col>
              <div *ngFor="let data of item.data">
                <ion-col col-12 class="des2">
                  - {{data}}
                </ion-col>
              </div>
            </div>
          </ion-row>
        </div>
      </div>
    </ion-item>
  </div>
  <div *ngIf="items==3">
    <ion-item *ngFor="let d of diseases; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <div col-12 class="head">
        <!-- <ion-icon color="success" class="do2t"  item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon> -->
        &#8226; {{d.title}}

      </div>
      <div *ngIf="isGroupShown(i)">
        <div *ngFor="let items of d.type">
          <ion-col class="headsub">
            {{items.name}}
          </ion-col>
          <ion-row>
            <div *ngFor="let item of items.des">
              <ion-col col-12 class="des">
                {{item.name}}
              </ion-col>
              <div *ngFor="let data of item.data">
                <ion-col col-12 class="des2">
                  - {{data}}
                </ion-col>
              </div>
            </div>

          </ion-row>
        </div>
      </div>
    </ion-item>
  </div>






</ion-content>