page-guests-course {
  .btnSegment{
    font-size: 14px !important;
  }
  .head {
    color: rgb(255, 255, 255);
    // font-family: 'kanit';
    padding-left: 11px;
    // font-size: 18px;
  }
  .headsub{
    color: #ff9c00;
    // font-family: 'kanit';
    padding-left: 11px;
    // font-size: 14px;
  }
  .des {
    text-align: left !important;
    padding-left: 11px;
    // font-family: 'kanit';
    // font-size: 14px;
        color: #ff9c00;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }
  .des2 {
    text-align: left !important;
    padding-left: 11px;
    // font-family: 'kanit';
    font-size: 13px;
        color: #ffffff;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }
  .item-block {
    border: 0 !important
  }
  .item {
    background: rgba(0, 0, 0, 0.5);
    // border:solid 1px black !important;
    margin-top: 1px;
    border-radius: 10px;
    color: white;;
    margin-bottom: 2%;
  }
  .do2t {
    position: absolute;;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 24px;
    padding-top: 5%;
  }
  .segmet {
    background-color: #ff9c00;
    color: #888888;
  }
    .segment-button {
    border-color: rgba(255, 255, 255, 0.308);
    color: rgba(0, 0, 0, 0.795) !important;
}   
.item.item-block .item-inner {
  border: 0;
  }
  .item-md.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0.55px solid transparent !important;
}
}
