<!--
  Generated template for the QuestionnairePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>questionnaire</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <div *ngFor="let item of items">

    <label for="{{item.title}}">
        {{item.title}}
    </label>
    <input id="{{item.title}}" type="checkbox" style="display: none">
    <div class="test">
        <div *ngFor="let value of [item.value]">
            {{value.chou|json}}
        </div>
    </div>
  </div>
</ion-content>
