page-questionnaire {
    label {
        cursor: pointer;
        display: inline-block;
        padding: 4%;
        border-radius: 4px;
        background: #f0f0f0;
        color: rgb(24, 24, 24);
        font-family: arial;
        width: 100%;
        text-align: center;
      }
      

      
      .test {
        -webkit-transition: height .3s ease;
        height: 0;
        overflow: hidden;
        width: 100%;
        background: red;
    
      }
      
      input:checked + .test {
        height: 200px;
      }
}
