page-event {
    .card{
          position: relative;
          width:100%;
          // height: 290px;
          left: 0;
          right: 0;
          margin: 0 auto;
          top:20%;
          background-color: rgba(0, 0, 0, 0.425);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.205);
        .img{
            position: relative;
        }
        .title{
            text-align: left;
            position: relative;
            color: #ff9c00;
            font-size: 75%;
            left: 0;
            right: 0;
            margin: auto;
            padding: 2%;
            padding-left: 4%;
            padding-right: 4%;
            
            background-color: black;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  




        }
        .texttime {
            position: relative;
            color: rgb(255, 255, 255);
            bottom: 2%;
            right: 5%;
            margin: auto;
      
            padding-left: 5%;
            padding-right: 4%;

          }
    }

    .close-container{
        position: relative;
        width: 100%;
        text-align: center;
        .close{
            width: 33.33%;
            position: relative;
            left: 0;
            right: 0;
            margin: auto;
        }
        .red{
            position: absolute; 
            width: 60px;
            height: 60px;
            border-radius: 100%;
            background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(50px);
        }
    }


.image_load_event {
    position: relative;
    width: 100%;
  
    height: 54vw;

    background-color: rgba(255, 0, 0, 0);
    margin: auto;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.438);
    padding: 2%;
  .loadimg{
    text-align: center;
  
    margin-top: 25%;
    font-family: 'kanit';
    color: white;
  }
    .imgCer {
      position: relative;
      width: 100%;
      border-radius: 15px;
      z-index: 3;
    //   padding: 2%;
    }
    .p-materialbox {
      
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding-top: 20%;
      text-align: center;
      width: 12%; // position: relative;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // top: 50%;
      // transform: translateY(-50%); 
      z-index: 2;
      &__item {
        margin-left: 50px;
        &:first-child {
          margin-left: 0;
        }
      }
    } // circle--rotate
    .p-circle--rotate {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    } // circle--rotate__item基本
    .circle--rotate__item {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
    }
    @mixin circle--rotate($delay: 0s) {
      animation: circle--rotate 1s linear $delay infinite;
    } // circle--rotate__item 8個生成して動きをずらす
    @for $i from 1 through 8 {
      .p-circle--rotate__item#{$i} {
        @extend .circle--rotate__item;
        @include circle--rotate($i*.125s);
      }
    } // circle--rotate__itemそれぞれのポジション
    .p-circle--rotate__item1 {
      top: -1px;
      left: 20px;
    }
    .p-circle--rotate__item2 {
      top: 5px;
      left: 35px;
    }
    .p-circle--rotate__item3 {
      top: 20px;
      left: 41px;
    }
    .p-circle--rotate__item4 {
      top: 35px;
      left: 35px;
    }
    .p-circle--rotate__item5 {
      top: 41px;
      left: 20px;
    }
    .p-circle--rotate__item6 {
      top: 35px;
      left: 5px;
    }
    .p-circle--rotate__item7 {
      top: 20px;
      left: -1px;
    }
    .p-circle--rotate__item8 {
      top: 5px;
      left: 5px;
    }
  }
  
}
