<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue"></ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="background_origin">
  <ion-refresher (ionRefresh)="loadAgain($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let item of slides">
    <div class="card" (click)="showevent(item)">
      <div class="image_load_event">
        <img class="imgCer fadeI_grad" src="{{item.imgurl}}" (load)="loaded = true" alt="">
            <div class="loadimg">
             
            </div>
      </div>
      <div class="title">{{item.title}}
        <div class="texttime">ประกาศเมื่อ: {{decode(item.timeStart)}}</div>
      </div>
    </div>
  </div>

  <ion-infinite-scroll *ngIf="Infi_load==false" (ionInfinite)="doRefresh($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
