<!--
  Generated template for the BookServiceDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header >
    <ion-navbar class="ionic-header">
      <ion-buttons start>
        <button ion-button (click)="dismiss()">Close</button>
      </ion-buttons>
      <ion-title>จัดทำหนังสือ</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>
    <a href="http://www.nupress.grad.nu.ac.th/document/docs/about-book/"> <button ion-button round class="menu1"  >ขั้นตอนการจัดทำ</button></a> 
    <a href="http://www.nupress.grad.nu.ac.th/document/"> <button ion-button round class="menu2"  >เอกสารที่เกี่ยวข้อง</button></a> 
    <a href=""> <button ion-button round class="menu3"  >ติดตามสถานะจัดทำ</button></a> 
    <a href=""> <button ion-button round class="menu4"  >ติดตาทผลจำหนาย</button></a> 
</ion-content>
