page-book-service-detail {
    background-color: white;

  
}
.menu1{
    position: relative;
    display: block;
    height: 10%;
    width: 60%;
    background-color: rgb(240, 191, 191);
    // top: 30%;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    border-radius: 100px;
    margin-bottom: 3%;
    padding: 4%;
}
.menu2{
        position: relative;
        display: block;
        height: 10%;
        width: 60%;
        // top:35%;
        background-color: rgb(49, 185, 129);
        left: 0;
        right:0;
        margin-left: auto;
        margin-right: auto;

        border-radius: 100px;
        margin-bottom: 3%;
        padding: 4%;
}
.menu3{
    position: relative;
    display: block;
    height: 10%;
    width: 60%;
    // top:35%;
    background-color: rgb(81, 185, 49);
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;

    border-radius: 100px;
    margin-bottom: 3%;
    padding: 4%;
}
.menu4{
position: relative;
display: block;
height: 10%;
width: 60%;
// top:35%;
background-color: rgb(49, 51, 185);
left: 0;
right:0;
margin-left: auto;
margin-right: auto;

border-radius: 100px;
margin-bottom: 3%;
padding: 4%;
}