<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="body">
  <ion-list *ngFor="let item of year ;let i = index">
    <div class="card-head fadeIn{{i}} ">

      ปีการศึกษา {{item}}

    </div>
    <ion-grid class="card-body">
      <div class="team">
        <div class="card-head2">

          &#8226; ภาคการศึกษาที่ 1/{{sub(item)}}

        </div>
        <ion-row *ngIf="SEMESTER1.length==0">
            <ion-col col-12 class="center">-</ion-col>
          </ion-row>
        <div *ngFor="let acade of SEMESTER1  ;let i2 = index2" class="team fadeIn1">
          <ion-row *ngIf="acade.ACADYEAR==item" >
            <ion-col col-3 class="left"> {{acade.COURSECODE}}</ion-col>
            <ion-col col-7 class="left">{{acade.COURSENAME}}</ion-col>
            <ion-col col-2 class="center">{{acade.GRADE}}</ion-col>
          </ion-row>
        </div>
      </div>
      <div class="team">
        <div class="card-head2">

          &#8226; ภาคการศึกษาที่ 2/{{sub(item)}}

        </div>
        <ion-row *ngIf="SEMESTER2.length==0">
            <ion-col col-12 class="center">-</ion-col>
          </ion-row>
        <div *ngFor='let acade of SEMESTER2' class="team fadeIn2">
          <ion-row *ngIf="acade.ACADYEAR==item">
            <ion-col col-3 class="left"> {{acade.COURSECODE}}</ion-col>
            <ion-col col-7 class="left">{{acade.COURSENAME}}</ion-col>
            <ion-col col-2 class="center">{{acade.GRADE}}</ion-col>
          </ion-row>
        </div>

      </div>
      <div class="team">
        <div class="card-head2">
          &#8226; ภาคการศึกษาที่ 3/{{sub(item)}}

        </div>
        <ion-row *ngIf="SEMESTER3.length==0">
          <ion-col col-12 class="center">-</ion-col>
        </ion-row>
          <div *ngFor='let acade of SEMESTER3' class="team fadeIn3">
            <ion-row *ngIf="acade.ACADYEAR==item">
              <ion-col col-3 class="left"> {{acade.COURSECODE}}</ion-col>
              <ion-col col-7 class="left">{{acade.COURSENAME}}</ion-col>
              <ion-col col-2 class="center">{{acade.GRADE}}</ion-col>
            </ion-row>
          </div>
        </div>
       
 
    </ion-grid>
  </ion-list>
</ion-content>
