page-gpax {
  .left {
    text-align: left !important;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    color: rgb(255, 255, 255)
  }
  .circle-head2 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 2.3%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #cd73930c;
    border-radius: 100%;


    animation-duration: 1.4s;
    animation-name: scale2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media only screen and (min-device-width: 1024px) {
      top: 1.3%;
    }
  }
  .circle-head3 {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 2.3%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #cd73930c;
    border-radius: 100%;
    animation-duration: 1s;
    animation-name: scale2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media only screen and (min-device-width: 768px) {
      top: 1.3%;
    }
  }
  .gpx {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    color: #ff9c00
  }
  .gpax {
    position: absolute;
    left: 0;
    right: 0;
    top: 19%;
    margin: auto;
  }
  @keyframes scale2 {
    0% {
      opacity: 0.6;
      transform: scale(1)
    }
    100% {
      opacity: 1;
      transform: scale(1.4)
    }
  }
  .circle-head {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    margin: auto;
    border: solid 2px white; // padding-top: 8%;

  }
  .center {
    text-align: center !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(255, 255, 255)
  }
  .grad {
    // padding-top: 4%;
    position: relative;
    text-align: center;
    font-family: 'kanit';
    color: #cd7393;
    font-size: 42px;
    @media only screen and (min-device-width: 1024px) {
      padding-top:2%;
    }
  }
  .body {
    backdrop-filter: blur(28px);
  background-color: rgba(0, 0, 0, 0.589);
  }
  .card-body {
    background-color: rgba(0, 0, 0, 0.349);
    padding: 2%;
    font-size: 14px;
    border-radius: 3px;
    border: 0;
    border-radius: 6px;
    
  }
  .list-header {
    border-bottom: 0;
  }
  .card-head {
    color: #ff9c00;
    // margin-top: 12px;
    border-radius: 6px;
    padding: 2%;
    margin-bottom: 0;
    border: 0;
    background-color: rgb(0, 0, 0);
    font-family: 'kanit';
    transition: 1s;
    text-align: center;
    font-size: 16px;
    margin-bottom:3%;

  }
 
  .list:not([inset])+.list-ios:not([inset]) ion-list-header {
    margin-top: 0;
    padding-top: 0;
  }
  .list-header {
    font-size: 18px !important;
  }
  .team{

    background-color: rgba(236, 236, 236, 0);
    margin-bottom: 2%;
    .card-head2{
      // margin-top: 12px;
      border-radius: 2px;
      padding: 2%;
      margin-bottom: 0;
      border-radius: 6px;
      background-color: rgb(0, 0, 0);
      font-family: 'kanit';
      font-size: 16px;
      transition: 1s;
      color: rgb(255, 255, 255)
    }
  }
}
