<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue"></ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding class="bg">

  
  <a (click)="scholarship()">
    <div class="scholarship-contain">
      <div class="scholarship-card">
        <p>{{ElementObject.title}}</p>
        <div class="scholarship-status"></div>
        <!-- <img class="arrow" src="assets/imgs/back.png" width="20"> -->
      </div>
    </div>
  </a>
  <div class="notification-content">

    <div class="image_load" *ngIf="ElementObject.type=='event' ">
      <img class="imgCer fadeI_grad" src="{{ElementObject.imgurl}}" (load)="loaded = true" alt="">
      <div gravity="center" class="p-materialbox" *ngIf="!loaded">
        <div class="p-circle--rotate p-materialbox__item">
          <div class="p-circle--rotate__item1"></div>
          <div class="p-circle--rotate__item2"></div>
          <div class="p-circle--rotate__item3"></div>
          <div class="p-circle--rotate__item4"></div>
          <div class="p-circle--rotate__item5"></div>
          <div class="p-circle--rotate__item6"></div>
          <div class="p-circle--rotate__item7"></div>
          <div class="p-circle--rotate__item8"></div>
        </div>
      </div>
    </div>
    <div class="image2_load" *ngIf="ElementObject.type=='News' ">
      <img class="imgCer fadeI_grad" src="{{ElementObject.imgurl}}" (load)="loaded = true" alt="">
      <div gravity="center" class="p-materialbox" *ngIf="!loaded">
        <div class="p-circle--rotate p-materialbox__item">
          <div class="p-circle--rotate__item1"></div>
          <div class="p-circle--rotate__item2"></div>
          <div class="p-circle--rotate__item3"></div>
          <div class="p-circle--rotate__item4"></div>
          <div class="p-circle--rotate__item5"></div>
          <div class="p-circle--rotate__item6"></div>
          <div class="p-circle--rotate__item7"></div>
          <div class="p-circle--rotate__item8"></div>
        </div>
      </div>
    </div>


    <ion-card-content class="notification-announcer">
      {{ElementObject.des}}
    </ion-card-content>
    <ion-card-content>
      <div class="notification-date">
        {{decode(ElementObject.timeStart)}}
      </div>
    </ion-card-content>

  </div>
  <div *ngIf="ElementObject.RegisterStatus==1">
    <a *ngIf="ElementObject.guests_register" href="{{ElementObject.guests_register}}">
      <button class="btm active">
        <h1>Register</h1>
      </button>
    </a>
  </div>
  <p></p>
  <div class="btn-notification">
    <!-- <button ion-button  color="dark"   class="btn-down">D O W N L O A D</button>
          <h3>OR</h3> -->
    <a href="{{ElementObject.link}}">
      <button ion-button color="dark" class="btn-share">M O R E</button>
    </a>

  </div>
  <div class="btn-notification">
    <!-- <button ion-button  color="dark"   class="btn-down">D O W N L O A D</button>
            <h3>OR</h3> -->
    <button ion-button (click)="ScholarshipShare(ElementObject)" color="dark" class="btn-share">S H A R E</button>
  </div>




</ion-content>
