page-guests-notification-views {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  .notification-content {
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.342); // border: solid 1px rgba(0, 0, 0, 0.432);
    border-radius: 15px;
  }
  .notification-des {}
  .notification-header {
    border-radius: 10%;
  }
  .notification-announcer {}
  .notification-date {
    text-align: right;
  }
  .btm {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    height: 120px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #e58633;
    color: white;
    font-weight: bold;
  }
  .btm.active {
    animation-duration: 1s;
    animation-name: op;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes op {
    0% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  .btn-notification {
    text-align: center;
    .btn-down {}
    .btn-share {}
  }
  .bg {
    backdrop-filter: blur(28px);
    background-color: rgba(0, 0, 0, 0.589);
    text-align: left
  }
  .head {
    position: relative;
    color: #e76693;
    background: rgb(252, 252, 252);
    margin: 0 auto;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    font-size: 28px;
    padding: 14px;
    box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
  }
  .scholarship-contain {
    overflow-y: scroll;
    z-index: 2000;
    .scholarship-card {
      display: block;
      position: relative;
      color: rgba(255, 255, 255, 0.78);
      margin: 0 auto;
      width: 100%; // height: 62px;
      border-radius: 15px;
      font-size: 13px;
      padding: 6px;
      margin-top: 13px;
      text-align: left;
      padding-left: 10%;
      padding-right: 32px;
      margin-bottom: 2px;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.658);
      padding-top: 2% !important; // border: solid 1px rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.342); // border: solid 1px rgba(0, 0, 0, 0.432);
      border-radius: 15px;
      .close {
        position: relative;
        margin: auto;
        width: 100%;
      }
      .scholarship-status {
        position: absolute;
        width: 15px;
        height: 15px;
        background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
        top: 0;
        bottom: 0;
        left: 4%;
        border-radius: 100%;
        margin: auto;
      }
      .arrow {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 0;
        bottom: 0;
        right: 2%;
        transform: rotate(180deg);
        margin: auto;
      }
    }
  }
  .btn-notification {
    width: 100%;
    .btn-share {
      width: 100%;
      margin-top: 4%;
      background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
      box-shadow: 3px 8px 40px rgba(0, 0, 0, 0.13);
      border-radius: 33px;
    }
  }
}
