page-announcelist {
    .scholarship-body{
        text-align: center;
        backdrop-filter: blur(28px);
        background-color: rgba(0, 0, 0, 0.589);
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .head {
        position: relative;
        color: #e76693;
        background: #fcfcfc;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        height: 60px;
  
        font-size: 34px;
        padding: 11px;
        -webkit-box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
        box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
        
    }
        .scholarship-contain{
           
            
         
            z-index: 2000;
            .texttime {
                position: relative;
                color: rgba(255, 255, 255, 0.774);
                bottom: 2%;
         
        
                margin: auto;
                font-size: 13px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;
              }
            .scholarship-card {
            
                position: relative;
                color: rgba(0, 0, 0, 0.774);
               
                width: 100%;
                // height: 62px;
                border-radius: 15px;
                font-size: 13px;
                padding: 2%;
                // margin-top: 13px;
                text-align: left;
                padding-top:2%; 
                padding-left: 10%;
                padding-right: 32px;
                margin-bottom: 1%;
                font-weight: bold;
                background-color: rgba(0, 0, 0, 0.527);
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
                padding-top:2% !important; 
                // border: solid 1px rgb(0, 0, 0);


                background-color: rgba(0, 0, 0, 0.342);
                // border: solid 1px rgba(0, 0, 0, 0.432);
                border-radius: 15px;
                .text-title{
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: white;
                }
                .scholarship-status {
                  position: absolute;
                  width: 15px;
                  height: 15px;
                     background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
           
                  top: 0;
                  bottom: 0;
                  left: 3%;
                  border-radius: 100%;
                  margin: auto;
                }
                .arrow{
                  position: absolute;
                  width: 15px;
                  height: 15px;
                  top: 0;
                  bottom: 0;
                  right: 2%;
                  transform: rotate(180deg);
                  margin: auto;
                }
              }
            
        }
 
        .nocer {
            text-align: center;
            color: rgb(73, 73, 73);
            background: #ffffff49;
            padding: 4%;
            border-radius: 10px;
          }
}
