<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue">News</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="background_origin" >
  <ion-refresher (ionRefresh)="ref($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="scholarship-contain">
    <div class="scholarship-card fadeIn{{i}}" *ngFor="let item of items  ;let i = index" (click)="scholarship(item)">
      <div class="text-title"> {{item.title }}</div>
      <div class="texttime"> {{decode(item.timeStart)}}</div>
      <div class="scholarship-status"></div>
      <img class="arrow" src="assets/imgs/back.png" width="20">
    </div>

  </div>
  <ion-infinite-scroll *ngIf="Infi_load==false"  (ionInfinite)="doRefresh($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
