page-contact {
  .left {
    text-align: left !important;
    color: white;
  }
  #map {
    width: 100%;
    height: 40%;
    border-radius: 10px;
  }
  .background_origin {
    //   text-align: center;
  }
  .goto {
    width: 100%;
    background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
    box-shadow: 3px 8px 40px rgba(0, 0, 0, 0.13);
    border-radius: 33px;
    margin: 7% auto 3% auto;
    border-radius: 10px;
    padding: 2%;
    color: white;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
  }
  .list {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10%;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius:10px;
  }
  .comment {
    border-radius:15px;
    //   padding-left:5%;
    //   padding-right: 3%; 
  }
}
