<ion-header no-border class="padding-head active">
    <ion-navbar hideBackButton end>
      <ion-buttons right>
        <a (click)="dismiss()">
          <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
          <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
        </a>
      </ion-buttons>
      <ion-title style="color: aliceblue"></ion-title>
    </ion-navbar>
  </ion-header>
  

<ion-content padding class="background_origin">
  <div #map id="map"></div>
  <div class="goto" (click)="go()">ขอเส้นทาง</div>
  <ion-list class="list">
    <ion-row>
      <ion-col col-2 class="left">
          <ion-icon ios="ios-pin" md="md-pin" style="color: #ff9c00;"></ion-icon>
      </ion-col>
      <ion-col col-10 class="left">
          บัณฑิตวิทยาลัย มหาวิทยาลัยนเรศวร<br>
          99 หมู่ 9 อาคารมหาธรรมราชา ชั้น 1 ตำบลท่าโพธิ์ อำเภอเมือง จังหวัดพิษณุโลก 65000
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-2 class="left">
          <ion-icon ios="ios-call" md="md-call" style="color: #ff9c00;"></ion-icon>
      </ion-col>
      <ion-col col-10 class="left">
        0-5596-8821
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2 class="left">
          <ion-icon ios="ios-print" md="md-print" style="color: #ff9c00;"></ion-icon>
      </ion-col>
      <ion-col col-10 class="left">
       0-5596-8826
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-2 class="left">
          <ion-icon ios="ios-mail" md="md-mail" style="color: #ff9c00;" ></ion-icon>
      </ion-col>
      <ion-col col-10 class="left">
        graduate@nu.ac.th
      </ion-col>

    </ion-row>

  </ion-list>
  <ion-row class="comment">
   
      <ion-textarea  [(ngModel)]="items" placeholder="สอบถามเพิ่มเติม" style="    border: 0;
      background-color: #0000005e;
      color: white;
      padding:3%; 
      border-radius: 9px;"
      ></ion-textarea>

  </ion-row>
  <div class="goto" (click)="contact(items)">ส่งคำถาม</div>
  <!-- <div class="goto" (click)="go()">ขอเส้นทาง</div> -->
</ion-content>
