<ion-content class='body no-scroll'>
  <!-- <div class="clound">
    <img src="assets/ui/home/cloud.png" alt="">
  </div> -->
  <div class="filter">

  </div>
  <div class="ring">
    <div class="control">
      <div class="center" style="">
        <div class="img-center">
          <div class="imgCenter">
            <div class="text">
              <!-- <div class="percentage">{{percent}}%</div> -->
              <div class="name">{{userid.Name}}</div>
              <div class="nuid">{{userid.Code}}</div>
              <div class="fac">{{userid.ProgramName}}</div>
            </div>
          </div>
          <div class="scaleup"></div>
          <div class="scaleup2"></div>
          <div class="node-contanier">
            <div class="node_book1" id="node1" style="z-index: 3;">
              <div class="bubble">
                <img *ngIf="engStatus==1" class="iconNode" src="assets/ui/home/engpass.png" (click)="eng(true)" />
                <img *ngIf="engStatus!=1" class="iconNode" src="assets/ui/home/engpassdis.png" (click)="eng(false)" />
              </div>
            </div>
            <div class="node_book2" style="z-index: 3; ">
              <div class="bubble">
                <a (click)="gpax()">
                  <img class="iconNode" src="assets/ui/home/gpax.png" />
                  <div class="gpx">{{CovertNumber(userid.gpx)}}</div>
                </a>

              </div>
            </div>

            <div *ngIf="advisorStatus==1" class="node_book3">
              <div class="bubble">
                <img class="iconNode" src="assets/ui/home/advisor.png" width="600" (click)="advisor(true)" />

              </div>
            </div>
            <div *ngIf="advisorStatus==0" class="node_book3">
              <div class="bubble">
                <img class="iconNode" src="assets/ui/home/advisordis.png" width="300" (click)="advisor(false)" />
              </div>
            </div>

            <div class="node_book4">
              <div class="bubble">

                <a (click)="thesis()">

                  <img class="iconNode" src="assets/imgs/thesis.png" />
                  <div class="percentage">{{percent.toFixed(0)}}
                    <div class="per">%</div>
                  </div>
                </a>

                <!-- <div class="donut-chart" style="">
                  <div class="slice one"></div>
                  <div class="slice two"></div>
                  <div class="chart-center">
                  </div>
                </div> -->
              </div>
            </div>
            <div class="node_book5">
              <div class="bubble">
                <a href="tel:0 5596 8829">
                  <img class="iconNode" src="assets/ui/home/call.png" style="z-index: 14!important;" />
                </a>
              </div>
            </div>
          </div>
          <div class="content">
            <svg version="1.1" id="paper-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
              y="0px" viewBox="0 0 212 212" style="enable-background:new 0 1 212 212;" xml:space="preserve">
              <style type="text/css">
                .st0 {
                  opacity: 0.352;
                  fill: none;
                  stroke: #ff0a84;
                  stroke-miterlimit: 10;
                }

                .st1 {
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                  fill: #96949510;
                }

                .st2 {
                  fill: #96949510;
                }

                .st3 {
                  fill: #96949510;
                }

                .st4 {
                  fill: #96949510;
                }

                .st5 {
                  fill: #96949510;
                }

                .st6 {
                  fill: #96949510;
                }

                .st7 {
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                  fill: #9694950c;
                }

                .st8 {
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                  fill: #9694950c;
                }

                .st9 {
                  fill: #9694950c;
                }

              </style>
              <g class="left-lines">
                <path id="bg-3" class="st1" d="M111.5,108h34.8c5.2,0,9.5,4.3,9.5,9.5s-4.3,9.5-9.5,9.5h-34.8c-5.2,0-9.5-4.3-9.5-9.5
       S106.3,108,111.5,108z" />
                <path id="bg-2" class="st1" d="M33.5,103h7.8c5.2,0,9.5,4.3,9.5,9.5c0,5.2-4.3,9.5-9.5,9.5h-7.8c-5.2,0-9.5-4.3-9.5-9.5
       C24,107.3,28.3,103,33.5,103z" />
              </g>
              <path id="bg-1" class="st1" d="M130.5,78h34.8c5.2,0,9.5,4.3,9.5,9.5c0,5.2-4.3,9.5-9.5,9.5h-34.8c-5.2,0-9.5-4.3-9.5-9.5
       C121,82.3,125.3,78,130.5,78z" />
              <g class="dots">
                <path id="dot-4" class="st6" d="M95,161L95,161c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3S93.3,161,95,161z" />
                <path id="dot-3" class="st8" d="M47,81L47,81c1.7,0,3,1.3,3,3c0,1.7-1.3,3-3,3s-3-1.3-3-3C44,82.3,45.3,81,47,81z" />
                <path id="dot-2" class="st9" d="M165,61L165,61c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3S163.3,61,165,61z" />
                <circle id="dot-1" class="st7" cx="100.6" cy="64.6" r="5" />
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scholarship">
    <div class="head">
      Scholarship
    </div>
    <div class="scholarship-contain">
      <a (click)="scholarship(item)" *ngFor="let item of scholarshipItem ;let i=index">
        <div class="scholarship-card fadeIn{{i}}">
          <p> {{item.title}}</p>
          <div class="texttime">{{decode(item.timeStart)}}</div>
          <div class="scholarship-status"></div>
          <img class="arrow" src="assets/imgs/back.png" width="20">
        </div>
      </a>
    </div>
    <a (click)="scholarship_more()">
      <img src="assets/ui/home/more.png" width="38" alt="" style="margin-top: 8px;">
    </a>
  </div>


  <div class="calendar">
    <div class="head">
      Calendar
    </div>
    <div class="scholarship-contain">
      <a (click)="showevent(item)" *ngFor="let item of event_calendar;let i=index">
        <div class="scholarship-card fadeIn{{i}}">
          <p> {{item.title}}</p>
          <div class="texttime">{{decode(item.start)}}</div>
          <div class="scholarship-status"></div>
          <img class="arrow" src="assets/imgs/back.png" width="20">
        </div>
      </a>
    </div>
    <a (click)="calendar_more()">
      <img src="assets/ui/home/more.png" width="38" alt="" style="margin-top: 8px;">
    </a>
  </div>


  <div class="announce" style="    display: block !important;">
    <div class="head">
      Event
    </div>
    <ion-slides pager class="announce-slide" *ngIf="slides && slides.length" autoplay="4000" speed="500">
      <div *ngFor="let slide of slides" (click)="news(slide)">
        <ion-slide>

          <div class="newscard">
            <div class="imgs-container">
              <img class="imgCer" src="{{slide.imgurl}}" (load)="loaded = true" alt="">

              <div class="text"> {{slide.title}}</div>
              <div class="texttime">{{decode(slide.timeStart)}}</div>
            </div>


          </div>

        </ion-slide>
      </div>


    </ion-slides>



    <a (click)="announce_more()">
      <img class="more" src="assets/ui/home/more.png" width="32" alt="" style="    margin-top: 8px;">
    </a>
  </div>

  <div id="menu" style="opacity:0.2">
    <div class="ex-item" (click)="menu_home(0)">
      <img src="assets/imgs/home.png" width="410" style="    border-radius: 50%;" />
    </div>
    <div class="ex-item" (click)="menu_scholarship(1)">
      <img src="assets/imgs/scholarship.png" width="410" style="    border-radius: 50%;" />
    </div>
    <div class="ex-item" (click)="menu_calendar(2)">
      <img src="assets/imgs/carlendar.png" width="410" style="    border-radius: 50%;" />
    </div>

    <div class="ex-item" (click)="menu_announce(3)">
      <img src="assets/imgs/news.png" width="410" style="    border-radius: 50%;" />
    </div>

  </div>
  <div class="menu">
    <img class="menucircle" id="#myMap" (click)="menu()" src="assets/ui/home/btnmenu.png" width="110" style="  ">
    <div class="white-bar">
      <div class="small-circle">

      </div>
      <ion-row>
        <ion-col>
          <div class="circle-notification" *ngIf="result!=0">
            <div class="text">{{result}}</div>
          </div>
          <a (click)="notification()">
            <img class="left" width="100" src="assets/ui/home/nortificationmenu.png" />
          </a>
        </ion-col>
        <ion-col>
          <a (click)="qrcode()">
            <img class="right" width="100" src="assets/ui/home/menucard.png" /> </a>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
