page-home {
  $value: 70;
  .filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.103);
    z-index: -10;
    top: 0;
    left: 0;
  }
  .gpx {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(80%) translateY(150%);
    width: 40%;
    height: 20%;
    font-size: 85%;
    font-weight: bold;
    color: #ffffff;
    @media only screen and (min-device-width: 1024px) {
      font-size: 59px;
    }
  }
  #menu {
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0px;
    left: 0px;
    opacity: 1;
    outline: none;
    overflow: hidden;
    padding-top: 40%;
    z-index: -3;
    @media only screen and (max-device-width: 412px) and (max-device-height: 732px) {
      padding-top: 41%;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      padding-top: 50%;
    }
    @media only screen and (min-device-width: 768px) {
      margin-top: -19%;
    }
  }
  .chart_head_div {
    position: absolute;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
    background-color: red;
  }
  .chart_head {
    color: rgba(255, 255, 255, 1);
    font-size: 300%;
    z-index: 2;
  }
  text-align: center;
  .main {
    position: relative;
    margin-top: 40%;
  }
  .body {
    background-image: url('../assets/ui/home/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: blurout;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.2s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: blurout;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 0.2s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: blurout;
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: blurout;
    .scroll-content {
      overflow: hidden !important;
    }
  }
  .ex-item {
    width: 280px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.193);
    border-radius: 100%;
    border: solid 5px white;
    box-shadow: 0 0 15 0px rgba(0, 0, 0, 0.075);
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    @media only screen and (min-device-width: 768px) {
      width: 190px;
      height: 190px;
    }
    h1 {
      margin-left: -300%;
      text-align: center;
      font-weight: bold;
      width: 1000px;
      font-size: 62px;
      opacity: 0.3;
      background: -webkit-linear-gradient(#ff5a5a, #df043b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .circle {
    border-radius: 50%;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    z-index: 1;
    box-shadow: 0px -2px 153px 4px rgba(78, 78, 78, 0.226);
    .menu-icon {
      font-size: 450%;
      color: white;
    }
  }
  .menu{
    z-index: -3;
  }
  .menucircle {
    width: 30vw;
    margin: auto;
    z-index:-3 !important;  
  margin-top: -10%;
  @media only screen and (min-device-width: 768px) {
    width: 20vw;
    margin-top: -7%;
  }


  }
  .white-bar {
    position: absolute;
    height: 90%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(28px);
    display: block;
    z-index: 100;
    bottom: 0;
    z-index: -3;
    padding-top: 1.09vh;

    .small-circle{
      position: absolute;
      width: 7px;
      height: 7px;
      background-color: rgba(255, 255, 255, 0.842);
      border-radius: 100%;
      bottom: 5%;
      left: 0;
      right: 0;
      margin: auto;
        }
    @media only screen and (min-device-width: 768px) {
      height: 70%;
    }
    .right {
      position: relative;
    text-align: center !important;
    bottom: 0;
    top: 17px;
    right: -10px;
    margin: auto;
    width: 47%;
    }
    .left {
      position: relative;
        text-align: center !important;
        margin-left: 10%;
        bottom: 0;
        top: 16px;
        left: -14px;
        width: 21%;
        width: 41%;
    }
    @media only screen and (min-device-width: 768px) {
      .right {
        position: relative;
        text-align: center !important;
        bottom: 0;
        top: 30%;
        margin: auto;
        width: 20%;
      }
      .left {
        position: relative;
        text-align: center !important;
        margin-left: 10%;
        bottom: 0;
        top: 30%;
        margin: auto;
        width: 20%;
      }
    }
    .col {
      text-align: center !important;
    }
  }
  .title {
    font-family: 'Oswald', sans-serif;
    color: #828282;
    margin-top: 30vh;
    h1 {
      margin: 0px;
      font-size: 7.5rem;
      line-height: 7rem;
      background: linear-gradient(330deg, $color_first 50%, $color_second 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h5 {
      margin: 0;
      font-size: 2.5rem;
      background: linear-gradient(330deg, $color_first 70%, $color_second);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    small {
      font-size: 2rem;
    }
  }
  .b {
    width: 200px;
    height: 200px;
    background: tan;
  } // ion-slide{
  //     width: 40px !important;
  // }
  .ring {
    opacity: 1;
    position: relative;
    z-index: 100;
    text-align: center;
    margin-top: 0;
    .center {
      position: relative;
      width: 100%;
      text-align: -webkit-center;
      color: white;
      font-size: 28px;
      z-index: 1;
      .img-center {
        position: relative;
        text-align: center;
        width: 100%;
        height: 530px; // background-color: red;
        @media only screen and (min-device-width: 320px) {
          height: 380px;
        }
        @media only screen and (min-device-width: 375px) {
          height: 530px;
        }
        @media only screen and (min-device-width: 768px) {
          height: 700px; // background-color: red;
        }
        @media only screen and (min-device-width: 1024px) {
          height: 900px;
        }
        .imgCenter {
          position: absolute;
          width: 240px;
          height: 240px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          background-color:rgba(0, 0, 0, 0.692); 
          border-radius: 100%;
          border: solid 14px #ffffff57;
          z-index: 10;
          -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
          @media only screen and (min-device-width: 320px) {
            width: 210px;
            height: 210px;
          }
          @media only screen and (min-device-width: 375px) {
            width: 260px;
            height: 260px;
          }
          @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
            height: 200px;
            width: 200px;
          }
          @media only screen and (min-device-width: 768px) {
            width: 350px;
            height: 350px;
          }
        }
        .text {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          text-align: center;
          padding-top: 20%;
          @media only screen and (min-device-width: 768px) {
            padding-top:33%;
          }
          @media only screen and (min-device-width: 1024px) {
            padding-top: 16%;
          }
          .percentage {
            position: relative;
            font-size: 53px; // margin: 47px 0 14px 0;
            color: #ff9c00; 
          }
          .name {
            position: relative;
            font-size: 18px;
            color: #ffffff;
          }
          .nuid {
            position: relative;
            font-size: 16px;
            margin: 10px;
            color: #ff6c00;
          }
          .fac {
            position: relative;
            font-size: 14px;
            color: #ffffff;
            width: 80%;
            margin: auto;
          }
          @media only screen and (min-device-width: 320px) {
            padding-top: 29%;
            .percentage {
              position: relative;
              font-size: 4px; // margin: 47px 0 14px 0;
              color: #ffffff;
            }
            .name {
              position: relative;
              font-size: 20px;
              color: #ffffff;
            }
            .nuid {
              position: relative;
              font-size: 18px;
              margin: 10px;
              color: #ff6c00;
            }
            .fac {
              position: relative;
              font-size: 12px;
              color: #ffffff;
            }
          }
          @media only screen and (min-device-width: 768px) {
            padding-top: 35%;
            .percentage {
              position: relative;
              font-size: 83px; // margin: 47px 0 14px 0;
              color: #ff9c00; 
            }
            .name {
              position: relative;
              font-size: 100%;
              color: #ffffff;
            }
            .nuid {
              position: relative;
              font-size: 22px;
              margin: 10px;
              color: #ff6c00;
            }
            .fac {
              position: relative;
              font-size: 16px;
              color: #ffffff;
            }
          }
          @media only screen and (min-device-width: 1024px) {
            padding-top: 35%;
            .percentage {
              position: relative;
              font-size: 95px; // margin: 47px 0 14px 0;
              color: #ffffff;
            }
            .name {
              position: relative;
              font-size: 28px;
              color: #ffffff;
            }
            .nuid {
              position: relative;
              font-size: 22px;
              margin: 10px;
              color: #ff6c00;
            }
            .fac {
              position: relative;
              font-size: 15px;
              color: #ffffff;
            }
          }
        }
      }
      .content {
        position: absolute;
        top: 35%;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 50%;
        z-index: 13;
        @media only screen and (min-device-width: 768px) {
          width: 40%;
        }
        @media only screen and (min-device-width:1024px) {
          width: 30%;
        }
      }
    }
    .iconNode {
      width: 100%;
      @media only screen and (min-device-width: 320px) {
        width: 73%;
      }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
        width: 62%;
      }
      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
        width: 64%;
      }
      @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
        width: 64%;
      }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
        width: 57%;
      }
      @media only screen and (min-device-width: 768px) {
        width: 34%;
      }
      @media only screen and (min-device-width: 1024px) {
        width: 45%;
      }
    }
  }
  .node-contanier {
    position: relative;
    top: 38%;
    z-index: 15;
    .node_book1 {
      position: absolute;
      top: 25%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 50%;
      border-radius: 50%;
    }
    .node_book2 {
      position: absolute;
      top: 25%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 50%;
      border-radius: 50%;
    }
    .node_book3 {
      position: absolute;
      top: 25%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 50%;
      border-radius: 50%;
      transition: 0.3s ease-out;
    }
    .node_book4 {
      position: absolute;
      top: 25%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 50%;
      border-radius: 50%;
      transition: 0.3s ease-out;
    }
    .node_book5 {
      position: absolute;
      top: 25%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; // width: 15%;
      // background: -webkit-gradient(linear, right bottom, left top, color-stop(25%, #ef6856), color-stop(70%, #ff3165));
      // background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      border-radius: 50%;
      width: 50%;
      transition: 0.3s ease-out;
    }
    .node_book6 {
      position: absolute;
      width: 50%;
      background: -webkit-gradient(linear, right bottom, left top, color-stop(25%, #ef6856), color-stop(70%, #ff3165));
      background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      border-radius: 50%;
    }
  }
  .node-contanier.active {
    .node_book1 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node1;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 5s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node1;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node1;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node1;
      .bubble {
        animation-duration: 3.4s;
        animation-name: bubble;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    .node_book2 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node2;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node2;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node2;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node2;
      .bubble {
        animation-duration: 3.3s;
        animation-name: bubble;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    .node_book3 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node3;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node3;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node3;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node3;
      .bubble {
        animation-duration: 3.7s;
        animation-name: bubble;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    .node_book4 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node4;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node4;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node4;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node4;
      .bubble {
        animation-duration: 4.6s;
        animation-name: bubble;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    .node_book5 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node5;
      -moz-animation-delay: 0s;
      animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node5;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node5;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node5;
      .bubble {
        animation-duration: 4.1s;
        animation-name: bubble;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    .node_book6 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node6;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node5;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node6;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node6;
      .bubble {
        animation-duration: 4.3s;
        animation-name: bubble;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  } // งานอำนวยกาย
  .node-manage {
    z-index: 0;
    transform: translate(20%, -30vh);
    .node_menu1 {
      position: absolute;
      width: 15%;
      background: -webkit-gradient(linear, right bottom, left top, color-stop(25%, #9156ef), color-stop(70%, #31c5ff));
      background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      border-radius: 50%;
      transition: 0.2s ease-out;
    }
    .node_menu2 {
      position: absolute;
      width: 15%;
      background: -webkit-gradient(linear, right bottom, left top, color-stop(25%, #9156ef), color-stop(70%, #31c5ff));
      background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      border-radius: 50%;
      transition: 0.2s ease-out;
    }
  }
  .node-manage.active {
    .node_menu1 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node1;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node1;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node1;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node1;
    }
    .node_menu2 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node3;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node3;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node1;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node3;
    }
  } // สารสนเทศ
  .node-media {
    z-index: 0;
    transform: translate(20%, -30vh);
    .node_media1 {
      position: absolute;
      width: 15%;
      background: -webkit-gradient(linear, right bottom, left top, color-stop(25%, #9156ef), color-stop(70%, #31c5ff));
      background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      border-radius: 50%;
      transition: 0.2s ease-out;
    }
    .node_media2 {
      position: absolute;
      width: 15%;
      background: -webkit-gradient(linear, right bottom, left top, color-stop(25%, #9156ef), color-stop(70%, #31c5ff));
      background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      border-radius: 50%;
      transition: 0.2s ease-out;
    }
  }
  .node-media.active {
    .node_media1 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node2;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node2;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node2;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node2;
    }
    .node_media2 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node5;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node5;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node5;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node5;
    }
  } // งานวิจัย
  .node-research {
    z-index: 0;
    transform: translate(20%, -30vh);
    .node_research1 {
      position: absolute;
      width: 15%;
      background: -webkit-gradient(linear, right bottom, left top, color-stop(25%, #9156ef), color-stop(70%, #31c5ff));
      background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      border-radius: 50%;
      transition: 0.2s ease-out;
    }
    .node_research2 {
      position: absolute;
      width: 15%;
      background: -webkit-gradient(linear, right bottom, left top, color-stop(25%, #9156ef), color-stop(70%, #31c5ff));
      background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      border-radius: 50%;
      transition: 0.2s ease-out;
    }
  }
  .node-research.active {
    .node_research1 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node1;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node1;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node1;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node1;
    }
    .node_research2 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node6;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node6;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node6;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node6;
    }
  } // book
  .node-book {
    z-index: 0;
    transform: translate(20%, -30vh);
    .node_book1 {
      position: absolute;
      width: 15%;
      background: -webkit-gradient(linear, right bottom, left top, color-stop(25%, #9156ef), color-stop(70%, #31c5ff));
      background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      border-radius: 50%;
      transition: 0.2s ease-out;
    }
    .node_book2 {
      position: absolute;
      width: 15%;
      background: -webkit-gradient(linear, right bottom, left top, color-stop(25%, #9156ef), color-stop(70%, #31c5ff));
      background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      border-radius: 50%;
      transition: 0.2s ease-out;
    }
    .node_book3 {
      position: absolute;
      width: 15%;
      background: -webkit-gradient(linear, right bottom, left top, color-stop(25%, #9156ef), color-stop(70%, #31c5ff));
      background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      border-radius: 50%;
      transition: 0.2s ease-out;
    }
    .node_book4 {
      position: absolute;
      width: 15%;
      background: -webkit-gradient(linear, right bottom, left top, color-stop(25%, #9156ef), color-stop(70%, #31c5ff));
      background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      border-radius: 50%;
      transition: 0.2s ease-out;
    }
  }
  .node-book.active {
    .node_book1 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node2;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node2;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node2;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node2;
    }
    .node_book2 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node3;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node3;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node3;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node3;
    }
    .node_book3 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node4;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node4;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node4;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node4;
    }
    .node_book4 {
      -webkit-animation-delay: 0s;
      -webkit-animation-duration: 0.6s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: both;
      -webkit-animation-name: node5;
      -moz-animation-delay: 0s;
      -moz-animation-duration: 0.6s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: both;
      -moz-animation-name: node5;
      -ms-animation-delay: 0s;
      -ms-animation-duration: 0.6s;
      -ms-animation-iteration-count: 1;
      -ms-animation-fill-mode: both;
      -ms-animation-name: node5;
      animation-delay: 0s;
      animation-duration: 0.6s;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-name: node5;
    }
  }
  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }
  .ring.active {
    opacity: 0;
    -webkit-animation-delay: 0.3s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: ring;
    -moz-animation-delay: 0.3s;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: ring;
    -ms-animation-delay: 0.3s;
    -ms-animation-duration: 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: ring;
    animation-delay: 0.3s;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: ring;
  }
  $node_0:rotate(0deg) translateX(0) translateY(0) rotate(0deg);
  $node_30:rotate(0deg) translateX(-200px) translateY(-180px)rotate(0deg); // $node1: rotate(-295deg)translateX(-170px) translateY(-95px)rotate(-425deg);
  // $node1-5: rotate(-335deg) translateX(-170px) translateY(-95px)rotate(-405deg);
  // $node2: rotate(-290deg) translateX(-110px) translateY(-180px) rotate(-429deg);
  // $node2-5: rrotate(-300deg) translateX(-110px) translateY(-110px)rotate(-416deg);
  // $node3: rotate(-350deg) translateX(-150px) translateY(-140px)rotate(-10deg);
  // $node3-5: rotate(-365deg) translateX(-150px) translateY(-140px) rotate(-135deg);
  // $node4: rotate(-170deg) translateX(-130px) translateY(-170px)rotate(-190deg);
  // $node4-5: rotate(-205deg) translateX(-130px) translateY(-170px) rotate(-180deg);
  // $node5: rotate(-100deg) translateX(-140px) translateY(-140px) rotate(-265deg);
  // $node5-5: rotate(-165deg) translateX(-140px) translateY(-140px)rotate(-235deg);
  // $node6: rotate(-90deg) translateX(0) translateY(0)rotate(-270deg);
  // $node6-5: rotate(-125deg)translateX(0) translateY(0)rotate(-270deg);
  @media only screen and (min-device-width: 320px) {
    $node1: rotate(-295deg)translateX(-135px) translateY(-80px)rotate(-425deg);
    $node1-5: rotate(-335deg) translateX(-135px) translateY(-80px)rotate(-405deg);
    $node2: rotate(-290deg) translateX(-80px) translateY(-140px) rotate(-429deg);
    $node2-5: rotate(-300deg) translateX(-80px) translateY(-140px)rotate(-416deg);
    $node3: rotate(-350deg) translateX(-120px) translateY(-90px)rotate(-10deg);
    $node3-5: rotate(-350deg) translateX(-120px) translateY(-90px) rotate(-25deg);
    $node4: rotate(-170deg) translateX(-120px) translateY(-110px)rotate(-190deg);
    $node4-5: rotate(-205deg) translateX(-120px) translateY(-110px) rotate(-180deg);
    $node5: rotate(-100deg) translateX(-120px) translateY(-100px) rotate(-265deg);
    $node5-5: rotate(-165deg) translateX(-120px) translateY(-100px)rotate(-235deg);
    @keyframes node1 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      65% {
        transform: $node1-5;
      }
      100% {
        transform: $node1;
      }
    }
    @keyframes node2 {
      0% {
        transform: $node_0;
        width: 85%;
      }
      30% {
        transform: $node_30;
      }
      70% {
        transform: $node2-5;
      }
      100% {
        transform: $node2;
      }
    }
    @keyframes node3 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      75% {
        transform: $node3-5;
      }
      100% {
        transform: $node3;
      }
    }
    @keyframes node4 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      80% {
        transform: $node4-5;
      }
      100% {
        transform: $node4;
      }
    }
    @keyframes node5 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      85% {
        transform: $node5-5;
      }
      100% {
        transform: $node5;
      }
    }
  }
  @media only screen and (min-device-width: 375px) {
    $node1: rotate(-295deg)translateX(-165px) translateY(-90px)rotate(-425deg);
    $node1-5: rotate(-335deg) translateX(-160px) translateY(-90px)rotate(-405deg);
    $node2: rotate(-290deg) translateX(-105px) translateY(-170px) rotate(-429deg);
    $node2-5: rotate(-300deg) translateX(-105px) translateY(-170px)rotate(-416deg);
    $node3: rotate(-350deg) translateX(-140px) translateY(-120px)rotate(-10deg);
    $node3-5: rotate(-350deg) translateX(-140px) translateY(-120px) rotate(-25deg);
    $node4: rotate(-170deg) translateX(-150px) translateY(-110px)rotate(-190deg);
    $node4-5: rotate(-205deg) translateX(-150px) translateY(-110px) rotate(-180deg);
    $node5: rotate(-100deg) translateX(-130px) translateY(-130px) rotate(-265deg);
    $node5-5: rotate(-165deg) translateX(-120px) translateY(-130px)rotate(-235deg);
    @keyframes node1 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      65% {
        transform: $node1-5;
      }
      100% {
        transform: $node1;
      }
    }
    @keyframes node2 {
      0% {
        transform: $node_0;
        width: 85%;
      }
      30% {
        transform: $node_30;
      }
      70% {
        transform: $node2-5;
      }
      100% {
        transform: $node2;
      }
    }
    @keyframes node3 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      75% {
        transform: $node3-5;
      }
      100% {
        transform: $node3;
      }
    }
    @keyframes node4 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      80% {
        transform: $node4-5;
      }
      100% {
        transform: $node4;
      }
    }
    @keyframes node5 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      85% {
        transform: $node5-5;
      }
      100% {
        transform: $node5;
      }
    } // @keyframes node6 {
    //   0% {
    //     transform: $node_0;
    //   }
    //   30% {
    //     transform: $node_30;
    //   }
    //   90% {
    //     transform: $node6-5;
    //   }
    //   100% {
    //     transform: $node6;
    //   }
    // }
  }
  @media only screen and (min-device-width: 768px) {
    $node1: rotate(-295deg)translateX(-210px) translateY(-100px)rotate(-425deg);
    $node1-5: rotate(-335deg) translateX(-140px) translateY(-80px)rotate(-405deg);
    $node2: rotate(-290deg) translateX(-95px) translateY(-250px) rotate(-429deg);
    $node2-5: rrotate(-300deg) translateX(-95px) translateY(-250px)rotate(-416deg);
    $node3: rotate(-350deg) translateX(-230px) translateY(-150px)rotate(-10deg);
    $node3-5: rotate(-365deg) translateX(-230px) translateY(-150px) rotate(-135deg);
    $node4: rotate(-170deg) translateX(-220px) translateY(-220px)rotate(-190deg);
    $node4-5: rotate(-205deg) translateX(-220px) translateY(-220px) rotate(-180deg);
    $node5: rotate(-100deg) translateX(-150px) translateY(-250px) rotate(-265deg);
    $node5-5: rotate(-165deg) translateX(-150px) translateY(-250px)rotate(-235deg);
    @keyframes node1 {
      0% {
        transform: $node_0
      }
      30% {
        transform: $node_30
      }
      65% {
        transform: $node1-5
      }
      100% {
        transform: $node1;
      }
    }
    @keyframes node2 {
      0% {
        transform: $node_0;
        width: 85%;
      }
      30% {
        transform: $node_30;
      }
      70% {
        transform: $node2-5;
      }
      100% {
        transform: $node2;
      }
    }
    @keyframes node3 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      75% {
        transform: $node3-5;
      }
      100% {
        transform: $node3;
      }
    }
    @keyframes node4 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      80% {
        transform: $node4-5;
      }
      100% {
        transform: $node4;
      }
    }
    @keyframes node5 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      85% {
        transform: $node5-5;
      }
      100% {
        transform: $node5
      }
    }
  }
  @media only screen and (min-device-width: 1024px) {
    $node1: rotate(-295deg)translateX(-250px) translateY(-160px)rotate(-425deg);
    $node1-5: rotate(-335deg) translateX(-250px) translateY(-160px)rotate(-405deg);
    $node2: rotate(-290deg) translateX(-95px) translateY(-350px) rotate(-429deg);
    $node2-5: rotate(-335deg) translateX(-95px) translateY(-350px)rotate(-405deg);
    $node3: rotate(-350deg) translateX(-230px) translateY(-170px)rotate(-10deg);
    $node3-5: rotate(-335deg) translateX(-230px) translateY(-170px)rotate(-405deg);
    $node4: rotate(-170deg) translateX(-320px) translateY(-220px)rotate(-190deg);
    $node4-5: rotate(-335deg) translateX(-320px) translateY(-220px)rotate(-405deg);
    $node5: rotate(-100deg) translateX(-210px) translateY(-250px) rotate(-265deg);
    $node5-5: rotate(-335deg) translabgteX(-210px) translateY(-250px)rotate(-405deg);
    @keyframes node1 {
      0% {
        transform: $node_0
      }
      30% {
        transform: $node_30
      }
      65% {
        transform: $node1-5
      }
      100% {
        transform: $node1;
      }
    }
    @keyframes node2 {
      0% {
        transform: $node_0;
        width: 85%;
      }
      30% {
        transform: $node_30;
      }
      70% {
        transform: $node2-5;
      }
      100% {
        transform: $node2;
      }
    }
    @keyframes node3 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      75% {
        transform: $node3-5;
      }
      100% {
        transform: $node3;
      }
    }
    @keyframes node4 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      80% {
        transform: $node4-5;
      }
      100% {
        transform: $node4;
      }
    }
    @keyframes node5 {
      0% {
        transform: $node_0;
      }
      30% {
        transform: $node_30;
      }
      85% {
        transform: $node5-5;
      }
      100% {
        transform: $node5;
      }
    }
  }
  @-webkit-keyframes txtcss {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes txtcss {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-ms-keyframes txtcss {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes txtcss {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes ring {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-moz-keyframes ring {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-ms-keyframes ring {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes ring {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes notification {
    0% {
      margin-left: 100%
    }
    100% {
      margin-left: 0%
    }
  }
  @-moz-keyframes notification {
    0% {
      margin-left: 100%
    }
    100% {
      margin-left: 0%
    }
  }
  @-ms-keyframes notification {
    0% {
      margin-left: 100%
    }
    100% {
      margin-left: 0%
    }
  }
  @keyframes notification {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .body.active {
    opacity: 0.6;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: blur;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: blur;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: blur;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: blur;
  }
  @keyframes blur {
    0% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
    100% {
      -webkit-filter: blur(40px);
      -moz-filter: blur(40px);
      -o-filter: blur(40px);
      -ms-filter: blur(40px);
      filter: blur(40px);
    }
  }
  @keyframes blurout {
    0% {
      -webkit-filter: blur(40px);
      -moz-filter: blur(40px);
      -o-filter: blur(40px);
      -ms-filter: blur(40px);
      filter: blur(40px);
    }
    100% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
  }
  .loadding {
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: blur;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.2s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: blur;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 0.2s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: blur;
    animation-delay: 0;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: blur;
  }
  .effect {
    margin-top: 22%;
    z-index: 5;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: try;
    -moz-animation-delay: 0.1s;
    -moz-animation-duration: 2.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: try;
    -ms-animation-delay: 0.1s;
    -ms-animation-duration: 2.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: try;
    animation-delay: 0.1s;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: try;
  } // Donut Chart Mixin
  .donut-chart {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    top: -10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.178);
    z-index: -3;
    .slice {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .chart-center {
      position: absolute;
      border-radius: 50%;
      background: #f6edf4;
      span {
        display: block;
        text-align: center;
      }
    }
  }
  @mixin donut-chart($name,
  $perc,
  $size,
  $width,
  $base,
  $center,
  $color,
  $textColor: $color,
  $textSize: 50px) {
    $color2: $color;
    $base2: $base;
    $deg: ($perc/100*360)+deg;
    $deg1: 90deg;
    $deg2: $deg; // If percentage is less than 50%
    @if $perc < 50 {
      $base: $color;
      $color: $base2;
      $color2: $base2;
      $deg1: ($perc/100*360+90)+deg;
      $deg2: 0deg;
    }
    .donut-chart {
      &#{$name} {
        width: $size;
        height: $size;
        background: $base;
        .slice {
          &.one {
            clip: rect(0 $size $size/2 0);
            -webkit-transform: rotate($deg1);
            transform: rotate($deg1);
            background: $color;
          }
          &.two {
            clip: rect(0 $size/2 $size 0);
            -webkit-transform: rotate($deg2);
            transform: rotate($deg2);
            background: $color2;
          }
        }
        .chart-center {
          top: $width;
          left: $width;
          width: $size - ($width * 2);
          height: $size - ($width * 2);
          background: $center;
          span {
            font-size: $textSize;
            line-height: $size - ($width * 2);
            color: $textColor;
            &:after {
              content: '#{$perc}%';
            }
          }
        }
      }
    }
  } // mixin    background: 
  // Charts
  @include donut-chart('.chart0',
  0,
  100px,
  8px,
  #e1e1e1,
  #f6edf4,
  rgb(214, 111, 149));
  @include donut-chart('.chart1',
  25,
  100px,
  8px,
  #e1e1e1,
  #f6edf4,
  rgb(214, 111, 149));
  @include donut-chart('.chart2',
  50,
  100px,
  8px,
  #e1e1e1,
  #f6edf4,
  rgb(214, 111, 149));
  @include donut-chart('.chart3',
  45,
  100px,
  8px,
  #e1e1e1,
  #f6edf4,
  rgb(214, 111, 149));
  @include donut-chart('.chart4',
  100,
  100px,
  8px,
  #e1e1e1,
  #fff,
  rgb(214, 111, 149));
  @media screen and (min-device-width: 320px) {
    @include donut-chart('.chart0',
    0,
    100px,
    8px,
    #e1e1e1,
    #f6edf4,
    rgb(214, 111, 149));
    @include donut-chart('.chart1',
    25,
    100px,
    8px,
    #e1e1e1,
    #f6edf4,
    rgb(214, 111, 149));
    @include donut-chart('.chart2',
    50,
    100px,
    8px,
    #e1e1e1,
    #f6edf4,
    rgb(214, 111, 149));
    @include donut-chart('.chart3',
    45,
    60px,
    8px,
    #e1e1e1,
    #f6edf4,
    rgb(214, 111, 149));
    @include donut-chart('.chart4',
    100,
    100px,
    8px,
    #e1e1e1,
    #fff,
    rgb(214, 111, 149));
  }
  @media only screen and (min-device-width: 768px) {
    @include donut-chart('.chart0',
    0,
    120px,
    8px,
    #e1e1e1,
    #f6edf4,
    rgb(214, 111, 149));
    @include donut-chart('.chart1',
    25,
    120px,
    8px,
    #e1e1e1,
    #f6edf4,
    rgb(214, 111, 149));
    @include donut-chart('.chart2',
    50,
    120px,
    8px,
    #e1e1e100,
    #f6edf4,
    rgb(214, 111, 149));
    @include donut-chart('.chart3',
    45,
    120px,
    8px,
    #e1e1e1,
    #f6edf4,
    rgb(214, 111, 149));
    @include donut-chart('.chart4',
    100,
    120px,
    8px,
    #e1e1e1,
    #f6edf4,
    rgb(214, 111, 149));
  }
  @media only screen and (min-device-width: 1024px) {
    @include donut-chart('.chart0',
    0,
    390px,
    25px,
    #e1e1e1,
    #f6edf4,
    rgb(214, 111, 149));
    @include donut-chart('.chart1',
    25,
    390px,
    25px,
    #e1e1e1,
    #f6edf4,
    rgb(214, 111, 149));
    @include donut-chart('.chart2',
    50,
    390px,
    25px,
    #e1e1e100,
    #f6edf4,
    rgb(214, 111, 149));
    @include donut-chart('.chart3',
    45,
    390px,
    25px,
    #e1e1e1,
    #f6edf4,
    rgb(214, 111, 149));
    @include donut-chart('.chart4',
    100,
    190px,
    8px,
    #e1e1e1,
    #f6edf4,
    rgb(214, 111, 149));
  }
  .ring.fadeout {
    display: none;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeout;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadeout;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: fadeout;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: fadeout;
  }
  .ring.fadein {
    display: block;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadein;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadein;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: fadein;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: fadein;
  }
  @-webkit-keyframes fadeout {
    0% {
      margin-left: 100%
    }
    100% {
      margin-left: 0%
    }
  }
  @-moz-keyframes fadeout {
    0% {
      margin-left: 100%
    }
    100% {
      margin-left: 0%
    }
  }
  @-ms-keyframes fadeout {
    0% {
      margin-left: 100%
    }
    100% {
      margin-left: 0%
    }
  }
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-ms-keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .announce {
    position: absolute;
    display: inline-block;
    width: 100vw;
    top: 0;
    opacity: 0; // text-align: center;
    padding: 10px;
    height: 50%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; // z-index: 100;
    // background-color: red;
    z-index: -1;
    .head {
      position: relative;
      color: #ff9c00 !important;
      background: rgba(0, 0, 0, 0.493);
      margin: 0 auto;
      width: 100%;
      margin-top: 10px;
      height: 60px;
      border-radius: 15px;
      font-size: 28px;
      padding: 14px;
      box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
        margin-top: 40px;
      }
    }
    .announce-slide {

      position: relative;
      z-index: 10;

      // padding-top: 10%;
      .newscard {
        position: relative;
        width: 100%;
        background: rgba(19, 19, 19, 0.651);
        // height: 40vh;
        border-radius: 15px;
        box-shadow: 0px -1px 65px rgba(0, 0, 0, 0.07);
        text-align: center;
        .imgs-container {
          width: 100%;
          .imgs {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            border-radius: 10px; // border-radius: 15px;
            // box-shadow: 0px 3px 39px rgba(0, 0, 0, 0.144);
          }
        }
        .text {
          text-align: center;
          position: relative;
          color: rgb(255, 255, 255);
          font-size: 75%;
          left: 0;
          right: 0;
          margin: auto;
          padding-left: 4%;
          padding-right: 4%;
          height: 60px;
        
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;  
      
          @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            bottom: 20%;
          }
        }
        .texttime {
          position: relative;
          color: rgba(255, 255, 255, 0.747);
          bottom: 2%;
          right: 3%;
          margin: auto;
          font-size: 13px;
          text-align: right;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 3%;
          @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            bottom: 4%;
            right: 4%;
          }
        }
      }
      @media only screen and (min-device-width: 768px) {
        .newscard {
          width: 74%;
          margin: auto;
          border-radius: 15px;
        }
      }
    }
  }
  .more {
    width: 8%;
    @media only screen and (min-device-width: 375px) {
      margin-top: 20px !important;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
      margin-top: 2px !important;
    }
    @media only screen and (min-device-width: 768px) {
      margin-top: 50px !important;    
      width: 4%;
    }
  }
  .announce.active {
    display: block !important;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadein;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadein;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: fadein;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: fadein;
  }
  .scholarship {
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    z-index: 100;
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .texttime {
      position: absolute;
      bottom: 15%;
      left: 10%;
      margin: auto;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: rgba(255, 255, 255, 0.788) !important;
    }
    .head {
      position: relative;
      color: #ff9c00; 


      background: rgba(19, 19, 19, 0.651);
      margin: 0 auto;
      width: 100%;
      margin-top: 10px;
      height: 60px;
      border-radius: 15px;
      font-size: 28px;
      padding: 14px;
      box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
        margin-top: 40px;
      }
    }
    .scholarship-contain {
      height: 45vh;
      overflow-y: scroll;
      z-index: 2000;
      @media only screen and (device-width: 375px) and (device-height: 667px) {
        height: 45vh;
      }
      @media only screen and (device-width: 412px) and (device-height: 732px) {
        height: 45vh;
      }
      .scholarship-card {
        display: block;
        position: relative;
        color: rgba(255, 255, 255, 0.78);
        margin: 0 auto;
        width: 100%;
        height: 62px;
    
        font-size: 13px; // padding: 2px;
        margin-top: 1%;
        text-align: left;
        padding-left: 10%;
        padding-right: 32px;
        // margin-bottom: 1%;
      
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.342); // white-space: nowrap; 
        border-radius: 15px;
        // border:solid 1px rgba(0, 0, 0, 0.432);
        // overflow: hidden;
        // text-overflow: ellipsis;
        padding-top: .5% !important;
 
        
        .scholarship-status {
          position: absolute;
          width: 15px;
          height: 15px;
          background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
          top: 0;
          bottom: 0;
          left: 4%;
          border-radius: 100%;
          margin: auto;
        }
        .arrow {
          position: absolute;
          width: 15px;
          height: 15px;
          top: 0;
          bottom: 0;
          right: 2%;
          transform: rotate(180deg);
          margin: auto;
        }
      }
    }
  }
  .scholarship.active {
    display: block;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadein;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadein;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: fadein;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: fadein;
  }
  .calendar {
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    z-index: 100;
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .texttime {
      position: absolute;
      bottom: 15%;
      left: 10%;
      margin: auto;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: rgba(255, 255, 255, 0.788) !important;
    }
    .head {
      position: relative;
      color: #ff9c00;
      background: rgba(19, 19, 19, 0.651);
      margin: 0 auto;
      width: 100%;
      margin-top: 10px;
      height: 60px;
      border-radius: 15px;
      font-size: 28px;
      padding: 14px;
      box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
        margin-top: 40px;
      }
    }
    .scholarship-contain {
      height: 45vh;
      overflow-y: scroll;
      z-index: 2000;
      @media only screen and (device-width: 375px) and (device-height: 667px) {
        height: 45vh;
      }
      @media only screen and (device-width: 412px) and (device-height: 732px) {
        height: 45vh;
      }
      .scholarship-card {
        display: block;
        position: relative;
        color: rgba(255, 255, 255, 0.78);
        margin: 0 auto;
        width: 100%;
        height: 62px;
        font-size: 13px; // padding: 2px;
        margin-top: 1%;
        text-align: left;
        padding-left: 10%;
        padding-right: 32px; // margin-bottom: 1%;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.342); // white-space: nowrap; 
        border-radius: 15px; // border:solid 1px rgba(0, 0, 0, 0.432);
        // overflow: hidden;
        // text-overflow: ellipsis;
        padding-top: .5% !important;
        .scholarship-status {
          position: absolute;
          width: 15px;
          height: 15px;
          background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
          top: 0;
          bottom: 0;
          left: 4%;
          border-radius: 100%;
          margin: auto;
        }
        .arrow {
          position: absolute;
          width: 15px;
          height: 15px;
          top: 0;
          bottom: 0;
          right: 2%;
          transform: rotate(180deg);
          margin: auto;
        }
      }
    }
  }
  .calendar.active {
    z-index: 4000;
    display: block;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadein;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadein;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: fadein;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: fadein;
  }
  .calender-item {
    // background-color:#e76693;
    height: 36%;
  } // calendar
  .calendar-display {
    position: relative;
    background-image: url('../assets/imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    text-align: center;
  }
  .calendarbtn {
    background-color: white;
    margin: 2%;
  }
  .calendar-haeder {
    position: relative;
    padding: 10%; // font-family: 'Kanit', serif;
    z-index: 10;
    h1 {
      font-size: 500%;
      background: -webkit-linear-gradient(#ff5a5a, #df043b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h3 {
      background: -webkit-linear-gradient(#ff5a5a, #df043b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h4 {
      font-size: 100%;
      color: rgb(204, 169, 169)
    }
  }
  .calendar-body {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 500px 17px rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  }
  .calendar {
    // padding-top: 5%;
    // font-family:'normal';
  }
  .setting {
    padding: 10%; // font-family: 'Kanit', serif;
  }
  .time {
    // font-family: 'Kanit', serif;
  }
  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.55550%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%; // border: 0.3px solid #f7ccdd;
  }
  @media only screen and (min-device-width: 768px) {
    [col-1] {
      margin: 1px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 14.33333%;
      -ms-flex: 0 0 14.33333%;
      flex: 0 0 13.95550%;
      width: 14.285714285714286%;
      max-width: 20.285714285714286%;
      // border: 0.3px solid #f7ccdd;
    }
  }
  .col {
    text-align: center; //   padding: 4px;
    color: white;
  }
  .last-month,
  .next-month {
    color: #161616;
    font-size: 90%;
    border: 0;
  }
  .currentDate,
  .otherDate {
     color: #161616;
    //   padding: 2px;
    //   border-radius: 30px;
  }
  .currentDate {
    font-weight: bold;
    // background-color: #f897cbce;
    background: #ff9c00;
    // opacity: 0.7;
    color: white; //   border-radius: 30px;
  }
  .calendar-header {
    background-color: #f36b6b;
    color: #FFFFFF;
  }
  .event-bullet {
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    margin: 2px auto;
    height: 7px;
    width: 7px;
    background: linear-gradient(to bottom right, #f5cc50, #e58633);

    border-radius: 100%;
    transform: translateY(6px) translateX(13px)
  }
  .selected-date {
    position: relative;
    left: 0;
    // background-color: #f88aa5;
    border-radius: 100%;
    color: #e58633;
  }
  .day{
    color: white;
  }
  .unselected-date {
    border: none;
    color: white;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
      color: white;
    }
    .calendar-weekday,
    .calendar-date {
      text-align: center;
      margin: 0;
      .row {
        width: 100%;
        background-color: #ffffffd5;
      }
    }
    .calendar-weekday {
      font-weight: bold;
      border-bottom: solid 1px #972727;
      background-color: #f88aa5;
    }
    .calendar-weekday.row {
      background: linear-gradient(to bottom right, #f5cc50, #e58633);

    }
    .calendar-date {
      border: 1.5px solid #fa6187;
      border-top: solid 1px #f88aa5;
      border-bottom: solid 1px #f88aa5;
    }
  }
  .circle-btn {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: linear-gradient(to bottom right, #f5cc50, #e58633);

  }
  .selected-event {
    height: 70px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2px;
  }
  .event-time {}
  .selected-day {
    margin: 0;
    font-size: 28px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(173, 173, 173);
  }
  .selected-mounth {
    margin: 0;
    font-size: 18px;
    margin-top: -12px;
    color: rgb(151, 151, 151);

    
  }
  .selected-des {
    text-align: left;
    padding: 16px;
    padding-left: 1px;
    font-size: 24px;
    color: rgb(92, 92, 92);
  }
  .selected-contain {
    height: 31vh;
    overflow-y: scroll;
    margin-bottom: 4px;
  }
  .addcalendar {
    position: absolute;
    right: 7%;
    top: 15%;
  }
  .addevent {
    position: absolute;
    width: 23%;
    z-index: 100;
    padding: 4%;
    top: 4%;
    margin-left: 3%;
    @media only screen and (min-device-width: 414px) {
      top: 13%;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      top: 9%;
    }
    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {

      top: 8%;
    }
    @media only screen and (min-device-width: 768px) {
      top: 7%;
    }
    .circle {
      width: 58px;
      height: 58px;
      background: rgba(255, 255, 255, 0.082);
      border: solid 1px white;
      padding: 10%;
      @media only screen and (min-device-width: 768px) {
        width: 98px;
        height: 98px;
      }
    }
  }
  .viewevent {
    position: absolute;
    width: 23%;
    padding: 4%;
    right: 0;
    z-index: 100;
    top: 4%;
    margin-right: 3%;
    @media only screen and (min-device-width: 414px) {
      top: 13%;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      top: 9%;
    }
    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {

      top: 8%;
    }
    @media only screen and (min-device-width: 768px) {
      top: 7%;
    }
    .circle {
      width: 58px;
      height: 58px;
      background: rgba(255, 255, 255, 0.082);
      border: solid 1px white;
      padding: 15%;
      @media only screen and (min-device-width: 768px) {
        width: 98px;
        height: 98px;
      }
    }
  }
  .del {
    font-size: 38px;
    background-color: #c07295;
    color: white;
    padding: 12px;
  }
  .segment-md .segment-button.activated,
  .segment-md .segment-button.segment-activated {
    border-color: rgba(165, 47, 47, 0.658);
    opacity: 1;
    background: rgba(255, 255, 255, 0.993);
    height: 38px;
  }
  .clound {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -3;
    animation-duration: 120s;
    animation-name: clound;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes clound {
    0% {
      transform: translateX(0) scale(3.7)
    }
    100% {
      transform: translateX(-300px) scale(3.7);
    }
  }
  @keyframes bubble {
    0% {
      transform: translateY(0px)
    }
    100% {
      transform: translateY(10px)
    }
  }
  #paper {
    -webkit-animation: flypaper 4s infinite ease-in-out;
    -moz-animation: flypaper 4s infinite ease-in-out;
  }
  #bg-1 {
    -webkit-animation: floting-line 4s infinite ease-in-out;
    -moz-animation: floting-line 4s infinite ease-in-out;
  }
  .left-lines {
    -webkit-animation: floting-line-2 4s infinite ease-in-out;
    -moz-animation: floting-line-2 4s infinite ease-in-out;
  }
  .dots {
    transform-origin: 10% 60%;
    -webkit-animation: rotate-dots 4s infinite ease-in-out;
    -moz-animation: rotate-dots 4s infinite ease-in-out;
  }
  @-webkit-keyframes flypaper {
    0% {
      -webkit-transform: translateY(15px);
    }
    50% {
      -webkit-transform: translateY(-15px);
    }
    100% {
      -webkit-transform: translateY(15px);
    }
  }
  @-webkit-keyframes floting-line {
    0% {
      -webkit-transform: translateX(15px);
    }
    50% {
      -webkit-transform: translateX(-15px);
    }
    100% {
      -webkit-transform: translateX(15px);
    }
  }
  @-webkit-keyframes floting-line-2 {
    0% {
      -webkit-transform: translateX(-10px);
    }
    50% {
      -webkit-transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(-10px);
    }
  }
  @-webkit-keyframes rotate-dots {
    0% {
      -webkit-transform: rotatez(0);
    }
    50% {
      -webkit-transform: rotatez(-15deg) translateY(7px);
    }
    100% {
      -webkit-transform: rotatez(0);
    }
  }
}


.swiper-container-horizontal>.swiper-pagination-bullets {
  left: 0;
  bottom: 2px;
  width: 100%;
}

svg {
  //  -webkit-transform: rotate(-90deg);
  //   transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 440;
  /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
}

.html .circle_animation {
  -webkit-animation: html 1s ease-out forwards;
  animation: html 1s ease-out forwards;
}

.css .circle_animation {
  -webkit-animation: css 1s ease-out forwards;
  animation: css 1s ease-out forwards;
}

@-webkit-keyframes html {
  to {
    stroke-dashoffset: 80;
    /* 50% would be 220 (half the initial value specified above) */
  }
}

@keyframes html {
  to {
    stroke-dashoffset: 80;
  }
}

@-webkit-keyframes css {
  to {
    stroke-dashoffset: 160;
  }
}

@keyframes css {
  to {
    stroke-dashoffset: 160;
  }
}

.dis {
  filter: grayscale(100%);
}

.circle-notification {
  width: 24px;
  height: 24px;
  padding: 1%;
  background:linear-gradient(to bottom right, #fb9400, #fa6500);

  position: absolute;
  color: white;
  font-weight: bold;
  border-radius: 100%;
  right: 37%;
  top: 4%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.04);
  animation-duration: 1s;
  animation-name: hello;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  @media only screen and (min-device-width: 768px) {
    width: 29px;
    height: 29px;
  }
  .text{
    font-size: 13px;
  }
}

@keyframes hello {
  0% {
    opacity: 0.7;
    transform: scale(0.9);
  }
  100% {
    opacity: 0.94444;
    transform: scale(1);
  }
}

.scaleup {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.156);
  border-radius: 100%;
  /* border: solid 1px white; */
  z-index: -3; // box-shadow: 0 0 40px rgba(0, 0, 0, 0.185);
  @media only screen and (min-device-width: 768px) {
    width: 350px;
    height: 350px;
  }
  animation-duration: 1s;
  animation-name: scale;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.scaleup2 {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.156);
  border-radius: 100%;
  /* border: solid 1px white; */
  z-index: -3; // box-shadow: 0 0 40px rgba(0, 0, 0, 0.185);
  @media only screen and (min-device-width: 768px) {
    width: 350px;
    height: 350px;
  }
  animation-duration: 1.4s;
  animation-name: scale2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes scale {
  0% {
    opacity: 0.4;
    transform: scale(0.9);
  }
  100% {
    opacity: .73;
    transform: scale(1.5);
  }
}

@keyframes scale2 {
  0% {
    opacity: 0.4;
    transform: scale(0.9);
  }
  100% {
    opacity: .63;
    transform: scale(1.3);
  }
}

.percentage {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 30%;
  color: #ffffff;
  font-weight: bold;
  transform: translateX(-4%);
  @media only screen and (min-device-width: 768px) {
    transform: translateX(-2%);
  }
  @media only screen and (min-device-width: 1024px) {
    font-size: 46px;
  }
  .per {
    position: absolute;
    left: 0;
    right: 0;
    top: 36%;
    margin: auto;
    transform: translateX(19%);
    font-size: 14px;
    @media only screen and (min-device-width: 768px) {
      transform: translateX(9%);
    }
    @media only screen and (min-device-width: 1024px) {
      font-size: 26px;
      top: 32%;
      transform: translateX(12%);
    }
  }
  

}
