page-research-capital {
  
}
.research-capitalBlock{
    position: relative;
    background-color: rgb(16, 29, 88);
    width: 100%;
    height: 100%;
    text-align: -webkit-center;
    #star{
        
        position: absolute;
        margin: 0 auto;
            top:38%;
             left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
        width:  150px;
        height: 150px;
        border-radius: 100%;
        background-color: rgb(243, 243, 243);
    }
    #menu1{
            position: absolute;
            // margin: 66% 0 0 39%;
            width:  100px;
            height: 100px;
            border-radius: 100%;
            background-color: rgb(255, 162, 162);
            left: 0; 
            right: 0; 
            top:40%;
            margin-left: auto; 
            margin-right: auto; 


    }
    #menu2{
        left: 0; 
        right: 0; 
        top:40%;
        margin-left: auto; 
        margin-right: auto; 
            position: absolute;
            width:  100px;
            height: 100px;
            border-radius: 100%;
            background-color: rgb(255, 218, 162);


            
    }
    #menu3{
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        position: absolute;
        width:  100px;
        height: 100px;
        border-radius: 100%;
        background-color: rgb(162, 255, 182);
        top:40%;


        
    }
}   




