
<ion-header >
    <ion-navbar class="ionic-header">
      <ion-buttons start>
        <button ion-button (click)="dismiss()">Close</button>
      </ion-buttons>
      <ion-title>ทุนวิจัย</ion-title>
    </ion-navbar>
  
  </ion-header>
<ion-content  class="field">
    <ion-content class="notification-field">
        <ion-slides class="slide-style">
    
            <ion-slide style="">
             <img src="https://image.slidesharecdn.com/random-120716210705-phpapp01/95/-30-728.jpg?cb=1342472925" alt="">
            </ion-slide>
          
            <ion-slide style="">
          <img src="http://blog.eduzones.com/images/blog/magazine/20160620-1466392171.1675-0.jpg" alt="">
            </ion-slide>
    
          </ion-slides>
     <button ion-button round class="menu1"  >ทุนไปต่างประเทศ</button>
     <button ion-button round class="menu2"  >ทุนอุดหนุนงบแผ่นดิน</button> 
     <button ion-button round class="menu3"  >ทุนวช</button>
</ion-content>

  