page-notification {

    .advisorbg{
      backdrop-filter: blur(28px);
      background-color: rgba(0, 0, 0, 0.589);
    }
  .notification-container {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.767);
  }
  .notification-content {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.733);
    font-size: 16px;
    border-radius: 40px;

    
  }
  .notification-des {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 15px;
    border-radius: 6px;

    
  }
  .notification-contain {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 14px;
    padding-left: 15px;
    height: 60vh;

    overflow-y: scroll;
    color: rgb(255, 255, 255);
    border-radius: 10px;

     background-color: rgba(0, 0, 0, 0.342); // white-space: nowrap; 
        border-radius: 15px;
     
    
  }
  .notification-header {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
    padding: 12px;
    padding-left: 16px;
    border-radius: 6px;
    font-size: 18px;

    text-align: center;
    color: #ff9c00;
    // background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
    border-radius: 10px;
    


    background: rgba(19, 19, 19, 0.651);
    border-radius: 15px;
    // border:solid 1px rgba(0, 0, 0, 0.432);
  }
  .notification-announcer {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
    color: rgba(141, 141, 141, 0.582);
    font-size: 19px;
  }
  .notification-date {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    bottom: 0;
    text-align: right;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 14px;
    color: rgba(141, 141, 141, 0.582);
  }
  .notification-time{
    margin-top:4%; 
    padding: 16px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0);
    text-align: right;
    color: white;
  }
  .btn-notification {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    .btn-down {
      width: 100%;
      background-color: rgba(94, 94, 94, 0.671);
    }
    .btn-share {
      width: 100%;
      background-color: rgba(94, 94, 94, 0.671);
    }
    h5 {
      color: rgb(94, 94, 94) !important;
    }
  }
  .bgnoti {

    background: url('../assets/imgs/notifcationbg.png');
    
    background-repeat:no-repeat; 
    text-align: left;  
  }
}
