<ion-header no-border class="padding-head active">
    <ion-navbar hideBackButton end>
      <ion-buttons right>
        <a (click)="dismiss()">
          <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
          <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
        </a>
      </ion-buttons>
      <ion-title style="color: aliceblue"></ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding class="advisorbg">
  <div class="notification-content">
    <div class="notification-header">
      {{notificattion.title}}
    </div>
  </div>
  <p></p>
  <div class="notification-content">
    <div class="notification-contain">
      <img src={{notificattion.img}} alt=""> 
          {{notificattion.des}}
    </div>
  </div>

</ion-content>
<ion-footer>
  <div class="notification-time">
    {{decode(notificattion.time)}}
  </div>
</ion-footer>