<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="advisorbg">
  <div class="card-head">
    <ion-grid>
      <ion-row>
        <div class="container">
          <div class="icon-circle icon-success">
            <svg class="icon-svg">
              <!-- 			<circle class="icon-svg-circle" cx="25" cy="25" r="50"/> -->
              <polyline class="icon-svg-line" points="
                6.5,25.2 18.7,37.4 43.5,12.6 " />
            </svg>
          </div>

        </div>
        <ion-col col-12 style=" font-family: 'kanit';   text-align: center !important;"> ผลการแต่งตั้งที่ปรึกษา<br>วิทยานิพนธ์/การค้นคว้าอิสระ<br></ion-col>

        <ion-col col-12 style=" font-family: 'kanit';   text-align: center !important;">{{items.position}} {{items.Exp}} {{items.first_name}} {{items.last_name}}</ion-col>
        <ion-col col-12>
          <div class="status">แต่งตั้งเรียบร้อยแล้ว</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="card-body">
    <br> {{items.position_eng}} {{items.DR}} {{items.first_name_eng}} {{items.last_name_eng}}
    <br> {{items.faculty_eng}}
    <br>

    <br> {{items.work}}
    <br> {{items.faculty}}
    <br>

    <br>

  </div>
  <div class="btn-chat">
    <!-- <button ion-button  color="dark"   class="btn-car">Chat</button> -->
  </div>

</ion-content>
