// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  notification:#a04f70,
  new:#ff9c00,
  box:rgba(255, 255, 255, 0.308)
);
  
$range-ios-pin-color:#000000;
$range-ios-pin-background-color:white;

$range-md-pin-color:#000000;
$range-md-pin-background-color:white;


$color_first: #ef6856;
$color_second: #ff3165;
$loading-md-box-shadow-color:#f53d3d;
$color-calendar:rgb(255, 255, 255);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$segment-button-ios-text-color:rgb(189, 0, 72);

$segment-button-ios-background-color-activated:$color-calendar;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$segment-button-md-border-bottom-color:rgb(255, 255, 255);

$segment-button-md-text-color-activated:#f5cc50;
$segment-button-md-border-color-activated:rgba(255, 255, 255, 0.658);
$segment-button-md-border-bottom-color:rgb(255, 255, 255);
$segment-button-md-border-bottom-width:0;


$toggle-md-track-width:36px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$infinite-scroll-loading-color:#fff;
$loading-md-background:red;
$infinite-scroll-loading-color:#fff;
$refresher-icon-color:#fff;
$refresher-border-color:rgba(255, 255, 255, 0); 


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.


@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
