<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue"></ion-title>
  </ion-navbar>
</ion-header>


<!-- <div class="card-body">
    <ion-row>
      <ion-col col-6 class="head-name">
       สอบวัดความรู้ภาษาอังกฤษ
      </ion-col>
      <ion-col col-6  class="head-status">
          <div *ngIf="this.element==true" class="pass">Pass</div>
          <div *ngIf="this.element!=true" class="wait">Wait</div>
      </ion-col>
    </ion-row>
</div> -->

<ion-content padding class="advisorbg">
  <div class="card-head" *ngIf="this.element==true">
    <ion-grid>
      <ion-row>
        <div class="container">
          <div class="icon-circle icon-success">
            <svg class="icon-svg">
              <!-- 			<circle class="icon-svg-circle" cx="25" cy="25" r="50"/> -->
              <polyline class="icon-svg-line" points="
                  6.5,25.2 18.7,37.4 43.5,12.6 " />
            </svg>
          </div>

        </div>
        <ion-col col-12 style=" font-family: 'kanit';   text-align: center !important;">ผลสอบวัดความรู้ภาษาอังกฤษ</ion-col>
        <ion-col col-12>
          <div class="status">ท่านยื่นผลการสอบเรียบร้อยแล้ว</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="card-head" *ngIf="this.element!=true">
    <ion-grid>
      <ion-row>
        <div class="container">
          <div class="icon-circle icon-danger">
            <svg class="icon-svg">
              <line class="icon-svg-line" x1="12.6" y1="37.4" x2="37.4" y2="12.6" />
              <line class="icon-svg-line" x1="12.6" y1="12.6" x2="37.4" y2="37.4" />
            </svg>
          </div>

        </div>
        <ion-col col-12 style=" font-family: 'kanit';   text-align: center !important;">ผลสอบวัดความรู้ภาษาอังกฤษ</ion-col>

        <ion-col col-12>
          <div class="card-body">
            ท่านยังไม่ได้ยื่นผลการสอบ
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
