page-eng {
    .advisorbg{
        backdrop-filter: blur(28px);
        background-color: rgba(0, 0, 0, 0.589);
    }
    .AdvisorCard-head{
        background-color: rgba(74, 212, 69, 0.973)
    }
    .head-name{

    }
    .head-status{
      text-align: right !important;
    }
    .status{
        position: relative;
        margin: auto;
     

     
        border-radius: 40px;
        background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: 'kanit';
        width: 96%;
        @media only screen and (min-device-width: 768px) {
            font-size: 2.3vw;
            width: 46%;
          }
        font-size: 4.6vw;
        animation-duration: 1s;
        animation-name: op;
        animation-iteration-count: infinite;
        animation-direction: alternate;

      
    }
    
    .card-body{
        background-color: rgba(0, 0, 0, 0);
        padding:2%;
        font-size: 14px;
        border-radius: 3px;
        border:0;
        border-radius: 6px;
        // border: solid 1px black;
        color: white;
        text-align: center;
    }
    .card-head{
        position: relative;
        margin-top:12px;
        border-radius:6px;  
        padding: 4%;
        margin-bottom: 0;
        border:0;
        background-color: rgba(0, 0, 0, 0);
        // border: solid 1px black;
        color: white;
    }
    .btn-chat{
        position: relative;
        text-align: center;
    }
    .btn-car{
        position: relative;
        width: 100%;
        background-color: rgb(133, 133, 133);
        margin-top: 7%;
    }
    @keyframes op {
        0%{
            opacity: 0.6;
        }
        100%{
            opacity: 1;
        }
    }
    @import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300';
$primary-color: #bdc5c5;
$primary-color-dark: darken( $primary-color, 10% );
$primary-color-tint: lighten( $primary-color, 15% );
$primary-font: "Roboto Condensed", sans-serif;
$black: #444;
$success-color:  #ff9c00;
$danger-color: #ff9c00;
$warning-color: #ffe64a;

* { box-sizing: border-box; }
body {
	background-color: $primary-color;
	font-family: $primary-font;
	font-size: 16px;
	line-height: 1.875em;
}
.container {
	margin: 20px auto;
	padding: 40px 0;
	max-width: 500px;
	text-align: center;
}
.icon-circle {
	display: inline-block;
	margin: 0 20px;
}


// ---------

$animation-time: 0.35s;

.icon-circle {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	animation: scale $animation-time cubic-bezier(0,0.5,0.2,1.5) forwards;
	
	.icon-svg {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50%;
		height: 50%;
		transform: translate(-50%,-50%);
	}
		
	.icon-svg-line {
		fill: none;
		stroke: #fff;
		stroke-width: 4;
		// stroke-width: 7;
		// stroke-linecap: round;
		// stroke-linejoin: round;
		stroke-miterlimit: 10;
		stroke-dasharray: 53;
		stroke-dashoffset: 53;
		animation: dashoffset $animation-time $animation-time ease-in-out forwards;
	}
}

.icon {
	&-success {
		background-color: $success-color;
	}
	
	&-danger {
		background-color: $danger-color;
		.icon-svg-line {
			&:nth-child(2) {
				animation: dashoffset $animation-time ($animation-time * 2) ease-in-out forwards;
			}
		}
	}
}

@keyframes dashoffset {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {
	0% { 
		transform: scale(0) 
	}
	100% {
		transform: scale(1)
	}
}
}
