page-modal-calendar-add {
  .notification {
    color: white;
  }
  .addbg {
    background-color: rgba(0, 0, 0, 0.432);
    text-align: left;
  }
  .btnadd {
    text-align: center;
  }
  .button-submit {
    position: relative;
    height: 50px;
    margin-top: 10%;
    border-radius: 105px;
    background: #ffffff;
    font-size: 140%;
  }
  .btn-down {
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom right, #f5cc50, #e58633);
    box-shadow: 3px 8px 40px rgba(0, 0, 0, 0.13);
    border-radius: 15px;
  }
  .inputAdd {
    background-color: rgba(0, 0, 0, 0.226);
    margin-bottom: 3px;
    height: 50px;
    padding: 3px;
    // font-size: 14px;
    border-radius: 8px;
    border: solid 1px black;
  }
  .datetime {
    background-color: rgba(0, 0, 0, 0.226);
    border: solid 1px black;
    width: 100%;
    border-radius: 8px;
    border:0;
    color: white!important;
  }
  .notification2 {
    color: white !important;
  }
  .inpute{
    color: rgb(252, 252, 252) !important;
    .notification2{
        color: white;
    }
  }
  .list > .item-block:last-child,{
    border:0;
  }
  .list .item-block .item-inner {
    border-bottom: 0;
}
}
