<ion-header no-border class="padding-head active">
    <ion-navbar hideBackButton end>
      <ion-buttons right>
        <a (click)="dismiss()">
          <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
          <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
        </a>
      </ion-buttons>
      <ion-title style="color: aliceblue">เพิ่มกิจกรรมส่วนตัว</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding    class="addbg">
  <ion-list>
    <div class="inpute">
        <ion-label class="notification2">หัวข้อ</ion-label>
        <ion-input class="inputAdd" type="text" [(ngModel)]="event.title" name="event.title"></ion-input>
    </div>
  

    <div class="inpute">
      <ion-label class="notification2">สถานที่</ion-label>
      <ion-input class="inputAdd" type="text" [(ngModel)]="event.location" name="event.location"></ion-input>
    </div>

   <div class="inpute">
      <ion-label class="notification2">รายละเอียด</ion-label>
      <ion-input  class="inputAdd" type="text" [(ngModel)]="event.message" name="event.message" ></ion-input>
   </div>

   <ion-label class="notification2" color="notification2">วันเริ่มกิจกกรม</ion-label>
    <ion-item  class="datetime" >
       
        <ion-datetime  placeholder="วันเริ่มกิจกรรม" displayFormat="DD-MMMM-YYYY" pickerFormat="DD-MMMM-YYYY" [(ngModel)]="event.startDate" name="event.startDate"></ion-datetime>
    </ion-item>

    <ion-label  class="notification2">วันสิ้นสุดกิจกรรม</ion-label>
    <ion-item class="datetime">
        <ion-datetime  placeholder="วันสิ้นสุดกิจกรรม" displayFormat="DD-MMMM-YYYY" pickerFormat="DD-MMMM-YYYY" [(ngModel)]="event.endDate" name="event.endDate"></ion-datetime>
    </ion-item>

  
  </ion-list>

  <div class="btnadd">
   
      <div ion-button  color="dark"   class="btn-down" (click)="save(event)">บันทึก</div>
  </div>
</ion-content>
