<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue"></ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background_origin">

  <div class="calendar active">
    <div class="calendar-head">
      <div class="calendar-circle">
        <div class="calendar-text">
          <div class="calendar-day">{{DateCurrent}}</div>
          <div class="calendar-mounth">{{MouthCurrent}}</div>
        </div>
      </div>
    </div>
    <!-- Head next mounth -->
    <div class="calendar active">
      <div>
          <ion-row class="calendar-month">
              <ion-col col-2 (click)="goToLastMonth()">
                <ion-icon name="arrow-dropleft" class="arrowIcon"></ion-icon>
              </ion-col>
              <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
              <ion-col col-2 (click)="goToNextMonth()">
                <ion-icon name="arrow-dropright" class="arrowIcon"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="calendar-weekday">
              <ion-col>Su</ion-col>
              <ion-col>Mo</ion-col>
              <ion-col>Tu</ion-col>
              <ion-col>We</ion-col>
              <ion-col>Th</ion-col>
              <ion-col>Fr</ion-col>
              <ion-col>Sa</ion-col>
            </ion-row>
            <ion-row class="calendar-date" style="width: 100%;">
              <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
              <ion-col col-1 *ngFor="let day of daysInThisMonth" class="day" (click)="selectDate(day)" (click)="showevent(checkEvent(day).status,checkEvent(day).event,day,currentMonth,currentYear)">
                <span class="currentDate" *ngIf="checkToday(day);else OtherDate">{{day}}</span>
                <ng-template class="otherDate " #OtherDate>
                  <span *ngIf="selected(day)" class="selected-date">{{day}}</span>
                  <span *ngIf="!selected(day)" class="unselected-date">{{day}}</span>
                  <span class="event-bullet" *ngIf="checkEvent(day).status"></span>
                </ng-template>
              </ion-col>
              <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
            </ion-row>
          </div>
      </div>

    </div>
    <div class="more" (click)="viewEvent()">
        <img src="assets/ui/home/more.png" width="38" alt="" style="">
      </div>
</ion-content>