page-modal-calendar {
  .calendar {
    display: none;
    overflow-y: scroll; // @media only screen and (min-device-width: 768px){
    //   width: 90%;
    //   margin: auto;
    // }
    .row {
      background-color: rgba(0, 0, 0, 0.348);
    }
    .arrowIcon {
      font-size: 180%;
    }
    .calendar-month {
      padding-top: 2%;
      padding-bottom: 2%;
      background-color: rgba(0, 0, 0, 0.733);
      border: solid 1px black;
      color: white;
    }
    .calendar-head {
      position: relative;
      top: 0;
      margin-top: 30%;
      margin-bottom: 4%;
      
      .calendar-circle {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        left: 0;
        right: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.342);
        margin-top: 28%;
   
        // border-radius: 15px;
        .calendar-text {
          position: relative;
          margin-top: -65%;
          margin-bottom: 4%;
          .calendar-day {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 0;
            padding: 4%;
            margin-top: 26% !important;
            font-size: 440%;
            color: #ff9c00; 
            text-align: center;
          }
          .calendar-mounth {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            margin-top: -11% !important;
            ; //  //   font-family: 'kanit';
            font-size: 134%;
            font-weight: bold;
            color: #ffffff;
            margin-bottom: 10%;
            text-align: center !important;
          }
        }
      }
    }
    @media only screen and (device-width: 320px) and (device-height: 568px) {
      .calendar-head {
        position: relative;
        top: 0;
        margin-bottom: 10px;
        .calendar-circle {
          position: relative;
          width: 130px;
          height: 130px;
          border-radius: 100%;
          left: 0;
          right: 0;
          margin: auto;
          background-color: rgba(0, 0, 0, 0.342);
          margin-top: 28%;
          .calendar-text {
            position: relative;
            margin-top: -65%;
            margin-bottom: 4%;
            .calendar-day {
              position: relative;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              top: 0;
              padding: 4%;
              margin-top: 26% !important;
              font-size: 540%;
              color: #ff9c00; 
            }
            .calendar-mounth {
              position: relative;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              margin-top: -11% !important;
              ; //  //   font-family: 'kanit';
              font-size: 134%;
              font-weight: bold;
              color: #ffffff;
              margin-bottom: 10%;
              text-align: center !important;
            }
          }
        }
      }
    }
    @media only screen and (device-width: 375px) and (device-height: 667px) {
      .calendar-head {
        position: relative;
        top: 0;
        margin-bottom: 10px;
        .calendar-circle {
          position: relative;
          width: 150px;
          height: 150px;
          border-radius: 100%;
          left: 0;
          right: 0;
          margin: auto;
          background-color: rgba(0, 0, 0, 0.342);
          margin-top: 28%;


          .calendar-text {
            position: relative;
            margin-top: -65%;
            .calendar-day {
              position: relative;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              top: 0;
              margin-top: 26%;
              font-size: 740%;
              color: #ff9c00; 
              padding: 1%;
            }
            .calendar-mounth {
              position: relative;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              margin-top: -11%; //  //   font-family: 'kanit';
              font-size: 134%;
              font-weight: bold;
              color: #ffffff;
              margin-bottom: 10%;
              text-align: center !important;
            }
          }
        }
      }
    }
    @media only screen and (device-width: 414px) and (device-height: 736px) {
      .calendar-head {
        position: relative;
        top: 0;
        .calendar-circle {
          position: relative;
          width: 150px;
          height: 150px;
          border-radius: 100%;
          left: 0;
          right: 0;
          margin: auto;
          background-color: rgba(0, 0, 0, 0.342);
          margin-top: 27%;
          margin-bottom: 3%;
          .calendar-text {
            position: relative;
            margin-top: -65%;
            .calendar-day {
              position: relative;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              top: 0;
              margin-top: 26%;
              font-size: 640%;
              color: #ff9c00; 
            }
            .calendar-mounth {
              position: relative;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              margin-top: -11%; //  //   font-family: 'kanit';
              font-size: 134%;
              font-weight: bold;
              color: #ffffff;
              margin-bottom: 10%;
              text-align: center !important;
            }
          }
        }
      }
    }
    @media only screen and (min-device-width: 768px) {
      .calendar-head {
        position: relative;
        top: 0;
        .calendar-circle {
          position: relative;
          width: 250px;
          height: 250px;
          border-radius: 100%;
          left: 0;
          right: 0;
          margin: auto;
          background-color: rgba(0, 0, 0, 0.342);
          margin-top: 25%;
          margin-bottom: 6%;
          .calendar-text {
            position: relative;
            margin-top: -79%;
            .calendar-day {
              position: relative;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              top: 0;
              margin-top: 13%;
              font-size: 840%;
              color: #ff9c00; 
              padding-top: 50px;
            }
            .calendar-mounth {
              position: relative;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              margin-top: -11%; //  //   font-family: 'kanit';
              font-size: 134%;
              font-weight: bold;
              color: #f5f5f5;
              margin-bottom: 10%;
              text-align: center !important;
            }
          }
        }
      }
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
      .calendar-head {
        position: relative;
        top: 0;
        .calendar-circle {
          position: relative;
          width: 150px;
          height: 150px;
          border-radius: 100%;
          left: 0;
          right: 0;
          margin: auto;
          background-color: rgba(0, 0, 0, 0.342);
          margin-top: 37%;
          margin-bottom: 6%;

          background-color: rgba(0, 0, 0, 0.342);
          // border: solid 1px rgba(0, 0, 0, 0.432);
          .calendar-text {
            position: relative;
            margin-top: -65%;
            .calendar-day {
              position: relative;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              top: 0;
              padding: 5px;
              margin-top: 23% !important;
              font-size: 660%;
              color: #ff9c00; 
            }
            .calendar-mounth {
              position: relative;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              margin-top: -11%; //  //   font-family: 'kanit';
              font-size: 134%;
              font-weight: bold;
              color: #ffffff;
              margin-bottom: 10%;
              text-align: center !important;
            }
          }
        }
      }
    }
  }
  .calendar.active {
   
        z-index: 4000;
    text-align: centen;
    display: block;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadein;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadein;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: fadein;
    animation-delay: 0;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: fadein;
  }
  .calender-item {
    // background-color:#e76693;
    height: 36%;
  } // calendar
  .calendar-display {
    position: relative;
    background-image: url('../assets/imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    text-align: center;
  }
  .calendarbtn {
    background-color: white;
    margin: 2%;
  }
  .calendar-haeder {
    position: relative;
    padding: 10%; // font-family: 'Kanit', serif;
    z-index: 10;
    h1 {
      font-size: 500%;
      background: -webkit-linear-gradient(#ff5a5a, #df043b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h3 {
      background: -webkit-linear-gradient(#ff5a5a, #df043b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h4 {
      font-size: 100%;
      color: rgb(204, 169, 169)
    }
  }
  .calendar-body {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 500px 17px rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  }
  .calendar {
    // padding-top: 5%;
    // font-family:'normal';
  }
  .setting {
    padding: 10%; // font-family: 'Kanit', serif;
  }
  .time {
    // font-family: 'Kanit', serif;
  }
  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.55550%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%; // border: 0.3px solid #f7ccdd;
  }
  @media only screen and (min-device-width: 768px) {
    [col-1] {
      margin: 1px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 14.33333%;
      -ms-flex: 0 0 14.33333%;
      flex: 0 0 13.95550%;
      width: 14.285714285714286%;
      max-width: 20.285714285714286%;
      // border: 0.3px solid #f7ccdd;
    }
  }
  .col {
    text-align: center !important; //   padding: 4px;
    color: white;
  }
  .last-month,
  .next-month {
    color: #161616;
    font-size: 90%;
    border: 0;
  }
  .currentDate,
  .otherDate {
     color: #161616;
      padding: 2px;
      border-radius: 30px;
  }
  .currentDate {
    font-weight: bold;
    // background-color: #f897cbce;
    background: #ff9c00;
    // opacity: 0.7;
    color: white; //   border-radius: 30px;
  }
  .calendar-header {
    background-color: #f36b6b;
    color: #FFFFFF;
  }
  .event-bullet {
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    margin: 2px auto;
    height: 7px;
    width: 7px;
    background: linear-gradient(to bottom right, #ff9c00, #e58633);

    border-radius: 100%;
    transform: translateY(6px) translateX(13px)
  }
  .selected-date {
    position: relative;
    left: 0;
    // background-color: #f88aa5;
    border-radius: 100%;
    color: #ff9c00;
  }
  .day{
    color: white;
  }
  .unselected-date {
    border: none;
    color: white;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
      color: white;
    }
    .calendar-weekday,
    .calendar-date {
      text-align: center;
      margin: 0;
      .row {
        width: 100%;
        background-color: #ffffffd5;
      }
    }
    .calendar-weekday {
      font-weight: bold;
      border-bottom: solid 1px #972727;
      background-color: #f88aa5;
    }
    .calendar-weekday.row {
      background: linear-gradient(to bottom right, #ff9c00, #e58633);

    }
    .calendar-date {
      border: 1.5px solid #fa6187;
      border-top: solid 1px #f88aa5;
      border-bottom: solid 1px #f88aa5;
    }
  }
  .circle-btn {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: linear-gradient(to bottom right, #ff9c00, #e58633);

  }
  .selected-event {
    height: 70px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2px;
  }
  .event-time {}
  .selected-day {
    margin: 0;
    font-size: 28px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(173, 173, 173);
  }
  .selected-mounth {
    margin: 0;
    font-size: 18px;
    margin-top: -12px;
    color: rgb(151, 151, 151);

    
  }
  .selected-des {
    text-align: left;
    padding: 16px;
    padding-left: 1px;
    font-size: 24px;
    color: rgb(92, 92, 92);
  }
  .selected-contain {
    height: 31vh;
    overflow-y: scroll;
    margin-bottom: 4px;
  }
  .addcalendar {
    position: absolute;
    right: 7%;
    top: 15%;
  }
  .addevent {
    position: absolute;
    width: 23%;
    z-index: 100;
    padding: 4%;
    top: 4%;
    margin-left: 3%;
    @media only screen and (min-device-width: 414px) {
      top: 13%;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      top: 9%;
    }
    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {

      top: 8%;
    }
    @media only screen and (min-device-width: 768px) {
      top: 7%;
    }
    .circle {
      width: 58px;
      height: 58px;
      background: rgba(255, 255, 255, 0.082);
      border: solid 1px white;
      padding: 10%;
 
      @media only screen and (min-device-width: 768px) {
        width: 98px;
        height: 98px;
      }
    }
  }
  .viewevent {
    position: absolute;
    width: 23%;
    padding: 4%;
    right: 0;
    z-index: 100;
    top: 4%;
    margin-right: 3%;
    @media only screen and (min-device-width: 414px) {
      top: 13%;
    }
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      top: 9%;
    }
    @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {

      top: 8%;
    }
    @media only screen and (min-device-width: 768px) {
      top: 7%;
    }
    .circle {
      width: 58px;
      height: 58px;
      background: rgba(255, 255, 255, 0.082);
      border: solid 1px white;
      padding: 15%;
      border-radius: 100%;  
      @media only screen and (min-device-width: 768px) {
        width: 98px;
        height: 98px;
      }
    }
  }
  .more{
    width: 100%;
    text-align: center;
    margin-top: 3vh;
  }
}
