page-camera {
  ion-content {
    background: transparent !important;
  
  }

  .home{
    .scroll-content {

        overflow: hidden !important;
      }
  }  
  .btn-open {
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 50%;
    width: 80%;
    margin: auto;
    border-radius: 40px;
    border-radius: 60px;
    font-weight: bold;
    font-size: 100%;
    background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
    @media only screen and (min-device-width: 320px) {
        font-size: 90%;
        top: 53%;
      }
    @media only screen and (min-device-width: 768px) {
        width: 34%;
        top: 53%;
      }
  }
  .btn-open2{
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 58%;
    width: 80%;
    margin: auto;
    border-radius: 40px;
    border-radius: 60px;
    font-weight: bold;
    font-size: 90%;
    background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
    @media only screen and (min-device-width: 768px) {
        width: 34%;
        top: 53%;
      }
  }
  .text{
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 45%;
    // font-weight: bold;
    margin: auto;
    color: #ff9c00;
    font-family: 'kanit';
    font-size: 140%;
    @media only screen and (min-device-width: 768px) {
        top: 48%;
      }
  }
  .textface{
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 46%;
    // font-weight: bold;
    margin: auto;
    color: #ff9c00;
    font-family: 'kanit';
    font-size: 106%;
    width: 72%;
    @media only screen and (min-device-width: 768px) {
        top: 48%;
        font-size: 90%;
      }
  }
  .slide {
    background: transparent !important;
    overflow: hidden;
  }
  .camera1 {
    text-align: center;
    overflow: hidden;
    // background-color: #000000
  }
  .camera2{

    background-image: url('../assets/ui/home/menu/background.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .logo {
    z-index: 999;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;

    @media only screen and (min-device-width: 320px) {
      top: 4%;
      width: 70%;
    }
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

      top: 10%;
      width: 80%;
    }
    @media only screen and (min-device-width: 768px) {
      width: 44%;
    }
  }
  .logo2{
    z-index: 999;
    width: 46%;
    position: absolute;
    top: 16%;
    left: 0;
    right: 0;
    margin: auto;
    @media only screen and (min-device-width: 320px) {
        width: 38%;
}
    @media only screen and (min-device-width: 375px) {
        width: 48%;
}

    @media only screen and (min-device-width: 768px) {
            width: 34%;
    }

  }
  .logo3{
    z-index: 999;
    width: 80%;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
        @media only screen and (min-device-width: 320px) {
            width: 60%;
    }
    @media only screen and (min-device-width: 375px) {
        width: 60%;
}

    @media only screen and (min-device-width: 768px) {
      width: 34%;
      top: 44%;
    }
   

  }
  .cursor {
    position: absolute;
    left: 0;
    right: 0;
    top: 12%;
    margin: auto;
    z-index: 999;
    width: 85%;
    @media only screen and (min-device-width: 320px) {
      width: 72%;
    }
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
      top: 19%;
      width: 85%;
    }
    @media only screen and (min-device-width: 768px) {
      width: 50%;
    }
  }
  .step {
    z-index: 999;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .fadetop {
    z-index: 999;
    position: absolute;
    top: -13%;
    left: 0;

    @media only screen and (min-device-width: 768px) {
      top: -22%;
    }
  }
  .fadebottom {
    z-index: 999;
    position: absolute;
    bottom: -12%;
    left: 0;
    @media only screen and (min-device-width: 768px) {
        bottom: -25%;
      }
  }
  .swipeCamera{
    position: absolute;
    right: 3%;
    top: 1%;
    font-size: 224%;
    color: rgb(255, 255, 255);
    z-index: 1000;
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
      top: 5%;
      right: 10%;
     }
  }
  .cursor.animate{

    animation-delay: 0s;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: Neon;
    @media only screen and (min-device-width: 320px) {
      top: 14.5%;
      width: 62%;
    }

    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
      top:22.5%;
      width: 72%;
    }
    @media only screen and (min-device-width: 768px) {
      width: 40%;
      top: 16%;
    }
  }
  @keyframes Neon {
    0%{
        opacity: 0.32;
    }100%{
      opacity:0.89;
    }
  
  }
  .takePhoto{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20%;
    width: 15vw;
    @media only screen and (min-device-width: 768px) {
      width: 12vw;
      bottom: 24%;

    }
  }
  .textface2{

    position: absolute;
    bottom: 30%;
    font-family: 'kanit';
    left: 0;
    right: 0;
    margin: auto;
    width: 49%;
    padding: 1%;
    background: #d1d1d1;
    border-radius: 9px;

    @media only screen and (min-device-width: 768px) {
      font-size: 150%;
      bottom: 37%;
      width: 49%;

    }
  }
  .arrowR{
    position: absolute;
    font-family: 'kanit';
    margin: auto;

    left: 20vw;
    bottom: 35%;
    width: 14%;


    animation-delay: 2s;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: right;

    @media only screen and (min-device-width: 320px) {
      bottom: 38%;
    }
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
      bottom: 35%;
    }

    @media only screen and (min-device-width: 768px) {
      bottom: 43%;
      width: 10%;
    }
  }
  .arrowL{
    position: absolute;
    font-family: 'kanit';
    margin: auto;

    left: 20vw;
    bottom: 35%;
    width: 14%;
  

    animation-delay: 2s;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: left;

    @media only screen and (min-device-width: 320px) {
      bottom: 38%;
    }
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
      bottom: 35%;
    }

    @media only screen and (min-device-width: 768px) {
      bottom: 43%;
      width: 10%;
    }
  }
  .arrowContainer{
 
  }
  @keyframes right {
    0%{
        opacity: 0.032;
        transform: translateX(0);
    }100%{
      opacity: 0.83;
      transform: translateX(43vw);
    }
}
@keyframes left {
  0%{
   
      opacity: 0.83;
      transform: translateX(0) rotate(180deg) ;
  }100%{
 
    transform: translateX(43vw) rotate(180deg) ;
    opacity: 0.032;
  }
}
}
.transparentBody {
  background: transparent !important;
}

ion-app.cameraView,
ion-app.cameraView .nav-decor {
  background: transparent !important;
}
