<ion-content class="home">

  <ion-icon *ngIf="CameraPreview==true" class="swipeCamera" ios="ios-reverse-camera" md="md-reverse-camera" (click)="swipeCamera()"></ion-icon>
  <ion-slides class="slide" lockSwipes="true">

    <ion-slide class="camera2">
      <img class="logo3" src="assets/imgs/camera/logo.png" alt="">

      <img class="logo2" src="assets/imgs/camera/logo2.png" alt="">
      <div class="textface">ท่านจำเป็นต้องบันทึกรูปภาพใบหน้าเพื่อใช้งานระบบ FaceID ในอนาคต
        <br>3 ขั้นตอน</div>
      <button class="btn-open2" ion-button full (click)='SetCamera()'>Continue..</button>
    </ion-slide>
    <ion-slide class="camera1" >

      <!-- <img  class="fadetop"src="assets/imgs/camera/fadetop.png" alt="">  -->


      <img class="cursor" src="assets/imgs/camera/scope.png" alt="">

      <img class="cursor animate" src="assets/imgs/camera/cursor.png" alt="">
      <img class="fadebottom" src="assets/imgs/camera/fadebuttom.png" alt="">
      <img class="logo" src="assets/imgs/camera/logo.png" alt="">



      <!-- <img class="arrow" src="assets/imgs/camera/arrow.png" alt=""> -->
      <img class="step" src="assets/imgs/camera/step1.png" alt="">
      <div class="textface2">มองตรง</div>
      <img class="takePhoto" (click)='swip(1)' src="assets/imgs/camera/takephoto.png" alt="">



    </ion-slide>
    <ion-slide class="camera1" >
      <img class="cursor" src="assets/imgs/camera/scope.png" alt="">

      <img class="cursor animate" src="assets/imgs/camera/cursorR.png" alt="">
      <!-- <img  class="fadetop"src="assets/imgs/camera/fadetop.png" alt="">  -->
      <img class="fadebottom" src="assets/imgs/camera/fadebuttom.png" alt="">
      <img class="logo" src="assets/imgs/camera/logo.png" alt="">
      <div class="arrowContainer">
        <img class="arrowR" src="assets/imgs/camera/arrow.png" alt="">
      </div>


      <div class="textface2">เอียงหน้าไปทางขวา</div>
      <img class="takePhoto" (click)='swip(2)' src="assets/imgs/camera/takephoto.png" alt="">

      <img class="step" src="assets/imgs/camera/step2.png" alt="">



    </ion-slide>
    <ion-slide class="camera1">
      <img class="cursor" src="assets/imgs/camera/scope.png" alt="">

      <img class="cursor animate" src="assets/imgs/camera/cursorL.png" alt="">

      <img class="fadebottom" src="assets/imgs/camera/fadebuttom.png" alt="">
      <img class="logo" src="assets/imgs/camera/logo.png" alt="">


      <div class="arrowContainer">
        <img class="arrowL" src="assets/imgs/camera/arrow.png" alt="">
      </div>


      <div class="textface2">เอียงหน้าไปทางซ้าย</div>
      <img class="takePhoto" (click)='swip(3)' src="assets/imgs/camera/takephoto.png" alt="">

      <img class="step" src="assets/imgs/camera/step3.png" alt="">


    </ion-slide>
    <ion-slide class="">
      <img class="logo3" src="assets/imgs/camera/logo.png" alt="">

      <img class="logo2" src="assets/imgs/camera/logo2.png" alt="">
      <div class="text">ขอบคุณที่ให้ความร่วมมือ</div>
      <button class="btn-open" ion-button full (click)='swip(4)'>Continue..</button>

    </ion-slide>
  </ion-slides>

</ion-content>
