<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: #ff9c00"></ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding class="background_origin">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div class="nocer" >
    ไม่มีแบบสอบถาม
  </div>
  <div *ngFor="let item of event   ;let i = index">
    <div >
      <div *ngIf="item.status==1 && survay_cheack(item.title)==true" class="event fadeIn{{i}}" (click)="viewSurway(item.title,item.key)">
        <div class="text"> {{item.key}}</div>
        <!-- <div class="textActive">{{decode(item.time)}} </div> -->
        <div class="statusOn"></div>
      </div>
    </div>
    <div >
      <div *ngIf="item.status==0 && survay_cheack(item.title)==true" class="eventoff fadeIn{{i}}" (click)="viewSurway(item.title,item.key)">
        <div class="text"> {{item.key}}</div>
        <!-- <div class="textActive">{{decode(item.time)}} </div> -->
        <div class="statusOn"></div>
      </div>
    </div>

  </div>
  
</ion-content>
