page-survay {
  .event{
    position: relative;
    width:  100%;
    // height: 58px;
    background-color: rgba(0, 0, 0, 0.985);
    // text-align: center;
    border: solid 1px rgba(0, 0, 0, 0);

    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
    // padding-left: 10%;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.062);
         color: white;
        .text{
          position: relative;
          width: 88%;
          bottom: 0;
          top: 21%;
          left: 11%;
          right: 0;
          /* margin: auto; */
          color: white;
          // white-space: nowrap;
          // overflow: hidden;
          // text-overflow: ellipsis;
        }
        .textActive{
          position: absolute;
          bottom: 2%;
          right: 1%;
          font-size: 12px;
          color: white;
        }
        .statusOn{
          position: absolute;
          width: 14px;
          height: 14px;
          background: -webkit-linear-gradient(#8acf7c, #69b875);
          border-radius: 100%;
          top:0;
          left: 4%;

          bottom: 0;
          margin: auto;
        }
   
        // opacity: 0.4;
  }

  .eventoff{
    position: relative;
    width:  100%;
    // height: 58px;
    background-color: rgba(0, 0, 0, 0.985);
    // text-align: center;
    border: solid 1px rgba(0, 0, 0, 0);

    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
    // padding-left: 10%;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.062);
    .text{
      position: relative;
      width: 88%;
      bottom: 0;
      top: 21%;
      left: 11%;
      right: 0;
      /* margin: auto; */
      color: white;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
    .textActive{
      position: relative;
      // bottom: 2%;
      // right: 7%;
      text-align: right;
      font-size: 12px;
      padding-right: 3%;
      color: white;
    }
    .statusOn{
      position: absolute;
      width: 14px;
      height: 14px;
      background: -webkit-linear-gradient(#ff5a5a, #df043b);
      border-radius: 100%;
      top:0;
      bottom: 0;
      left: 4%;

      margin: auto;
    }
}
  .head {
    position: relative;

    background: rgb(252, 252, 252);
    margin: 0 auto;
    width: 100%;

    height: 60px;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 28px;
    padding: 14px;
    box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
    color: #e76693;
    text-align: center;
  }
  .nocer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.295);
    margin-top:9vw;
    border-radius: 10px;
  }
  .has-refresher > .scroll-content {
  
    border-top: 1px solid transparent;
    
}
}
