<ion-header>
    <ion-navbar class="ionic-header">
      <ion-buttons start>
        <button ion-button (click)="dismiss()">Close</button>
      </ion-buttons>
      <ion-title>Tech</ion-title>
    </ion-navbar>
  
  </ion-header>
  
   
  <ion-content>
      <div class="notification-field">
          <ion-searchbar class="" placeholder="Filter Items with Cancel" showCancelButton color="danger" (ionInput)="filterItems($event)"></ion-searchbar>
  
    <ion-item *ngFor="let item of items">
      <div class="notification-card">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <div class="notification-status">
              </div>
            </ion-col>
            <ion-col col-8>
              <h4> {{ item }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
      </div>
  </ion-content>
    
  
  