<ion-header no-border class="padding-head active">
    <ion-navbar hideBackButton end>
      <ion-buttons right>
        <a (click)="dismiss()">
          <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
          <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
        </a>
      </ion-buttons>
      <ion-title style="color: aliceblue"></ion-title>
    </ion-navbar>
  </ion-header>


<ion-content no-padding style="background-color: rgb(255, 255, 255);">
  <div  id="container1" style="width: 100%; height: 100%;"></div>
</ion-content>
