page-survay-views {
  .downloadCer {
    position: relative;
  }
  .bgsurvay {
    background-image: url('../assets/ui/home/background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .event {
    position: relative;
    background: rgb(252, 252, 252);
    margin: 0 auto;
    width: 100%; // height: 60px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 3%;
    // font-size: 18px;
    padding: 14px;
    box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
    color: #e76693;
    text-align: center;
    
  }
  .label-toggle {
    display: block;
    margin-right: 15%;
  } // *, *:after, *:before {
  //   box-sizing: border-box;
  //   font-family: serif;
  // }
  .toggle {
    position: relative; // -webkit-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
  } // .toggle:after,

  .cer {
    position: relative;
    width: 100%;
    height: 270px;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    margin-bottom: 32px;
    text-align: center;
    padding: 4;
    @media only screen and (min-device-width: 768px) {
      position: relative;
      width: 100%;
      height: 500px;
      background: rgba(255, 255, 255, 0);
      border-radius: 10px;
      margin-bottom: 32px;
      text-align: center;
      padding: 4;
    }
    @media only screen and (min-device-width: 1024px) {
      position: relative;
      width: 100%;
      height: 677px;
      background: rgba(255, 255, 255, 0);
      border-radius: 10px;
      margin-bottom: 32px;
      text-align: center;
      padding: 4;
    }
  }
  h2 {
    line-height: inherit;
  }
  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: rgb(0, 0, 0) !important;
  }
  .item-md {
    background: rgba(46, 46, 46, 0);
    color: rgb(0, 0, 0);
    // font-size: 10px;
  }
  .range-ios,
  .range-md {
    padding: 0;
    padding-right: 10%;
    padding-left: 10%;
  }
  .topic {
    position: relative;
    width: 100%;
    text-align: left;
    background: rgba(0, 0, 0, 0.473) !important;
    // border: solid 1px black;
    border-radius: 6px !important;
    padding: 6px;
    padding-left: 12%;
  
    margin-bottom: 15px;
    padding: 4%;
    padding-left: 11%;
    color: white;
    padding-left: 12%;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    border-radius: 13px !important;
  }
  .item-inner {
    border: 0 !important;
  }
  .contain {
    border: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0) !important;
    margin-top: -17px;
    margin-bottom: 4%;
    // font-size: 14px !important;
    border-radius: 15px;
    .btn_submit {
      // margin-top: 4%;
      text-align: center;
 
    }
  }
  .textarea{
    width: 100%;
    margin-top: 10px;
    color: white;
    border-radius: 8px;
    background: rgba(19, 19, 19, 0.397);
    font-weight: bold;
    padding: 3%;
    border:0;
  }

  .gold {
    width: 100%;
    height: inherit;
    padding: 15px;
   
    background: rgba(19, 19, 19, 0.397);
    // -webkit-text-fill-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    // border: solid 1px rgb(0, 0, 0);
    margin: auto;
    text-align: center;
  }
  .range-tick {
    color: white;
    background-color: transparent !important;
  }
  .range-bar-active {
  
    background-color: rgb(255, 255, 255) !important;
  }
  .statusOn {
    position: absolute;
    width: 14px;
    height: 14px;
    background: -webkit-linear-gradient(#ff5a5a, #df043b);
    border-radius: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 4%;
  }
  .statusOff {
    position: absolute;
    width: 14px;
    height: 14px;
    background: -webkit-linear-gradient(#8acf7c, #69b875);
    border-radius: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 4%;
  }
  .item {
    background-color: transparent;
    // font-size: 16px !important;
    color: rgb(255, 255, 255);
    font-weight: 100 !important;
    background-color: rgba(0, 0, 0, 0.342);
        // border: solid 1px rgba(0, 0, 0, 0.432);

  }
  .close-container {
    position: relative;
    width: 100%;
    text-align: center;
    .close {
      width: 50%;
      position: relative;
      left: 0;
      right: 0;
      margin: auto;
    }
    .red {
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background: linear-gradient(to top left, #ff5a5a 10%, #ff1550 80%);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(50px);
    }
  }
  // .nocer {

  //   text-align: center;
  //   color: rgb(73, 73, 73);
  //   background: #ffffff49;
  //   padding: 4%;
  //   border-radius: 10px;
  // }
  .aws {
    position: relative;
  }
  .left {
    text-align: left !important;
    // font-size: 50%;
  }
  .right {
    text-align: right !important;
  }
  .label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  .label-text {
    margin-left: 8px;
  }
  .toggle {
    isolation: isolate;
    position: relative;
    height: 24px;
    width: 48px;
    border-radius: 15px;
    background: #d6d6d6;
    overflow: hidden;
  }
  .toggle-inner {
    z-index: 2;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 22px;
    width: 46px;
    border-radius: 15px;
    overflow: hidden;
  }
  .active-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
     background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.05s linear 0.17s;
  }
  .toggle-state {
    display: none;
  }
  .indicator {
    height: 100%;
    width: 200%;
    background: white;
    border-radius: 13px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  }
  .toggle-state:checked~.active-bg {
    transform: translate3d(-50%, 0, 0);
  }
  .toggle-state:checked~.toggle-inner .indicator {
    transform: translate3d(25%, 0, 0);
  }
  .btn-car {
    width: 94%;
     background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
    box-shadow: 3px 8px 40px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
  }
  .btn-chat {
    position: relative;
    text-align: center;
    padding-bottom: 4px;
  }
  .head {
    position: relative;
    color: #ff9c00; 


    background: rgba(19, 19, 19, 0.651);
    margin: 0 auto;
    width: 100%;


    border-radius: 15px;
    // font-size: px;
    padding: 14px;
    box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
    // @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
    //   margin-top: 40px;
    // }
    margin-bottom: 3%;
  }
  .item{
    font-size: 100%;
  }
  .range.range-has-pin{
     padding-top: 0 !important; 
  }
  .background{
    color: white;
    background-color: rgba(0, 0, 0, 0.185);
    // border-top-right-radius: 12px;
    // border-top-left-radius: 12px;
  }
  .nocer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.295);
  margin-top: 45%;
  border-radius: 10px;
  }
}
