<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue"> </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background_origin">
  <div class="head">
    {{name}}
  </div>
  <div *ngIf="Ishow==true && Image">
    <div *ngIf="downloadCer" class="cer">
      <a href="{{link}}?id={{uid}}&key={{title}}">
        <div class="image_load">
          <img class="imgCer" src="https://firebasestorage.googleapis.com/v0/b/gradnu-zenith.appspot.com/o/35142236_1783167665055152_167221278904680448_n.png?alt=media&token=aef836ef-9bad-4af8-bf12-d2ec18ada892"
            (load)="loaded = true" alt="">
          <div gravity="center" class="p-materialbox" *ngIf="!loaded">
            <div class="p-circle--rotate p-materialbox__item">
              <div class="p-circle--rotate__item1"></div>
              <div class="p-circle--rotate__item2"></div>
              <div class="p-circle--rotate__item3"></div>
              <div class="p-circle--rotate__item4"></div>
              <div class="p-circle--rotate__item5"></div>
              <div class="p-circle--rotate__item6"></div>
              <div class="p-circle--rotate__item7"></div>
              <div class="p-circle--rotate__item8"></div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>


  <div *ngIf="disableBtn" class="aws">
    <div *ngFor="let item of survey; let i = index">
      <button (click)="show(item.id)" detail-none [disabled]="disableBtn[item.id - 1]" class="topic">
        {{item.title}}
        <!-- <ion-icon item-end color="dark" name="ios-arrow-down"></ion-icon> -->

        <div *ngIf="disableBtn[item.id - 1]" class="statusOff"></div>
        <div *ngIf="!disableBtn[item.id - 1]" class="statusOn"></div>

      </button>

      <div [hidden]="!bools[item.id]" class="contain">
        <form (ngSubmit)="GenSend(survey[i], general, item.id)">
          <div *ngFor="let choice of item.choice | keys ; let j = index">
            <ion-list no-margin no-lines [ngSwitch]="choice.value.format">

              <div class="background" *ngSwitchCase="'range'" no-lines>


                <ion-grid>
                  <ion-row>
                    <ion-col col-12 class="left"> &#8226; {{choice.value.name}}</ion-col>
                    <ion-col col-12 class="right">
                      <ion-range pin="true" name="{{item.title}}{{choice.value.id}}" [(ngModel)]="survey[i].choice[j+1]" no-margin min="1" max="5"
                        step="1" snaps="true" pin="true" color="singlegold"></ion-range>


                    </ion-col>
                  </ion-row>
                </ion-grid>


              </div>

              <div class="background" *ngSwitchCase="'choice'" no-lines>

                <ion-grid>
                  <ion-row>
                    <ion-col col-12 class="left"> &#8226; {{choice.value.name}}</ion-col>
                    <ion-col col-12 class="right">
                      <!-- <input type="text" placeholder="Select" name="{{item.title}}{{choice.value.id}}" [(ngModel)]="survey[i].choice[j+1]"> -->
                      <div (click)="openPicker(choice.value.selection,j+1,i)">

                        <div class="gold" round>
                          <div class="text" *ngIf="survey[i].choice[j+1]">{{survey[i].choice[j+1]}}</div>
                          <div class="text" *ngIf="!survey[i].choice[j+1]">เลือกคำตอบของคุณ</div>
                        </div>
                      </div>


                    </ion-col>
                  </ion-row>
                </ion-grid>

              </div>
              <div class="background" *ngSwitchCase="'comment'" no-lines>
                <ion-grid>
                  <ion-row>
                    <ion-col col-12 class="left">
                      &#8226;{{choice.value.name}}</ion-col>
                    <ion-col col-12 class="right">
                      <label style="width:100%; margin-bottom:4%; " text-wrap></label>
                      <textarea class="textarea" rows="5" name="{{item.title}}{{choice.value.id}}" [(ngModel)]="survey[i].choice[j+1]" type="text"></textarea>


                    </ion-col>
                  </ion-row>
                </ion-grid>

              </div>
              <div class="background" *ngSwitchCase="'toggle'" no-lines>
                <!-- <label class="label-toggle" text-wrap>{{choice.value.name}}</label> -->

                <ion-grid>
                  <ion-row>
                    <ion-col col-12 class="left">
                      &#8226; {{choice.value.name}}
                    </ion-col>
                    <ion-col col-6 class="left">
                      เลือก:
                    </ion-col>

                    <ion-col col-6 class="right">

                      <label class="label">
                        <div class="toggle">
                          <input class="toggle-state" type="checkbox" name="check" value="check" name="{{item.title}}{{choice.value.id}}" id="{{item.title}}{{choice.value.id}}"
                            [(ngModel)]="survey[i].choice[j+1]" color="notification" />
                          <div class="toggle-inner">
                            <div class="indicator"></div>
                          </div>
                          <div class="active-bg"></div>
                        </div>
                      </label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>


            </ion-list>

          </div>
          <div class="btn_submit background">
            <!-- <button class="gold" ion-button round>Send</button> -->
            <div class="btn-chat">
              <button ion-button color="dark" class="btn-car">
                <b>S E N D</b>
              </button>
            </div>
          </div>
        </form>
      </div>


    </div>



  </div>
  <div class="nocer" *ngIf="Ishow==false">
    ไม่มีแบบสอบถาม
  </div>
  <!-- <div class="close-container">
        <div class=red></div>
        <img class="close" (click)="dismiss()" src="assets/ui/home/menu/new/close.png" />
  
      </div> -->
</ion-content>
