page-calendar-view {
  .background2{
    background-color: rgba(0, 0, 0, 0.089);;
}
.sliding {
    height: 80px;
    border: 0;
    border-radius: 6px;
    margin-bottom: 1%;
    border-radius: 15px;

    background-color: rgba(0, 0, 0, 0.342);
                border: solid 1px rgba(0, 0, 0, 0);
}
.bg{
  backdrop-filter: blur(28px);
  background-color: rgba(0, 0, 0, 0.589);
}
  .selected-day {
    margin: 0;
    font-size: 28px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  .selected-mounth {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 70%;
    margin-top: -5px;
    color: rgb(255, 255, 255);
  }
  .selected-des {
    position: relative;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    padding: 16px;
    color: rgb(252, 252, 252);
    // margin-left:  2%;
    // margin-top: 2%;
   


    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .selected-head {
    text-align: center !important;
    width: 10%;
    // margin: 6%
  }
  .container {
    text-align: center;
  }
  .toastcalendar {
    background: rgb(255, 255, 255);
  }
  .edit {
    background-color: #ff8abf;
  }
  .del {
    background-color: #fc0a5b;
  }
  .selected-address{
    position: absolute;
    color: rgb(255, 255, 255);
    bottom: 0;
    right: 0;
    font-size: 70%;
  }
  .col{
    text-align: center !important;
  }
  .has-refresher > .scroll-content {
  
    border-top: 1px solid transparent;
    
}
}
