<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue">ปฎิทินการศึกษา</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background_origin">
  <ion-list>
    <ion-item-sliding no-border class="sliding" *ngFor="let item of  dataset" (click)="popup(item)">
      <ion-item no-padding class="sliding">
        <ion-grid>
          <ion-row no-padding>
            <ion-col col-4 class="selected-head">
              <div class="selected-day">{{startdate(item.start)}}</div>
              <div class="selected-mounth ">{{mounth(item.start)}} {{year(item.start)}}</div>
            </ion-col>
            <ion-col col-8 class="container">
              <div class="selected-des">{{item.title}}</div>
              <!-- <div class="selected-address">{{item.address}}</div> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doRefresh($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
   
</ion-content>
