
<ion-header >
  <ion-navbar class="ionic-header">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-buy">
    <a href="http://www.nupress.grad.nu.ac.th/shop/"> <button ion-button round class="menu1"  >ผลงานของเรา</button></a> 
    <a href="http://www.nupress.grad.nu.ac.th/"> <button ion-button round class="menu2"  >ผลงานใหม่</button></a> 
    <a href="http://www.nupress.grad.nu.ac.th/sale-book-store/"> <button ion-button round class="menu3"  >โปรโมชั่น</button></a> 
    <a href="http://www.nupress.grad.nu.ac.th/order/"> <button ion-button round class="menu4"  >วิธีสั่งซื้อสินค้า</button></a> 
    <a href="http://www.nupress.grad.nu.ac.th/payment_notification/"> <button ion-button round class="menu5"  >แจ้งชาระเงิน</button></a> 
    <a href="http://www.nupress.grad.nu.ac.th/"> <button ion-button round class="menu6"  >ผู้แทนจาหน่าย</button></a> 

</ion-content>
