<ion-content class="bgqrcode">

  <div class="qrcode-container">
    <input type="checkbox" id="switch" name="switch" [(ngModel)]="items" (change)="flip(items)" (ionSwipe)=swipe(1)/>
    <label for="switch" class="qrcode-panel">

      <div class="card-qrcode">
        <div class="front">

          <a class="cross-front" (click)="dismiss()">
            <img src="assets/ui/home/cross.png" width="26">
          </a>
          <div class="top-front">
            <img class="logocard" src="assets/ui/home/logocard.png">
            <div class="text-feild-naresan">
              N a r e s u a n &nbsp;U n i v e r s i t y
              <br> G r a d u t e&nbsp; S c h o o l
            </div>
            <div class="colordiv">

            </div>
          </div>
          <div class="bottom-front">
            <h2 id="Idnisit">{{User.id}}</h2>
          </div>

        </div>
        <div class="back">
          <a class="cross-front" (click)="dismiss()">
            <img src="assets/ui/home/cross.png" width="26">
          </a>
          <div class="top">
            <img src="https://chart.googleapis.com/chart?cht=qr&chl={{User.qrcode}}&chs=250x250&chld=L|0" alt="" style="margin-top: 23%;
              width: 60%; 
              opacity: 0.7;
              animation-duration: 1s;
              animation-name: qrcode;
              animation-iteration-count: infinite;
              animation-direction: alternate;
">
            <div class="text-feild-naresan">
              N a r e s u a n &nbsp; U n i v e r s i t y
              <br> G r a d u t e &nbsp; S c h o o l
            </div>
            <div class="colordiv">

            </div>
          </div>

          <div class="bottom">
            <div class="text-feild">
              <h2 id="Idnisit-back">{{User.name}}</h2>
              <h4 id="fac">{{User.fac}}</h4>
            </div>
          </div>


        </div>
      </div>
    </label>
  </div>

</ion-content>
