page-modal-qrcode {
  $menubg1: rgba(255, 255, 255, 0.25);
  $menubg2: rgba(255, 255, 255, 0.65);
  $blur: 5px;
  .qrcode-container {
    width: 100vw;
    height: 100vh;
    margin-top: 8vw;
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      margin-top: 12vw;
    }
  }
  .qrbg {
    text-align: center;
    .scroll-content {
      overflow: hidden !important;
    }
  }
  .qrcode-panel {
    position: fixed;
    width: 100vw; // height: 35%;
    height: 100vh;
    perspective: 800px; // padding: 5%;
    padding: 4%;
    text-align: center;
  }
  .card-qrcode {
    border-radius: 15px;
    position: relative;
    margin: 0 auto;
    width: 76vw;
    height: 137vw;

    @media only screen and (min-device-width: 768px) {
      width: 60%;
      height: 83vw;
    }
    transform-style: preserve-3d;
    transition: transform 1s; // background-color: red;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: none;
    -webkit-animation-name: swing;
    -moz-animation-delay: 0.0s;
    -moz-animation-duration: 2.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: none;
    -moz-animation-name: swing;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 2.5s;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: none;
    -ms-animation-name: swing;
    animation-delay: 0s;
    animation-duration: 2.2s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-name: swing;
  }
  .back,
  .front {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    margin-top: 17%;
    .top-front {
      background-color: white;
      border-radius: 20px;
      .logocard {
        width: 68%;
        margin-top: 21%;
      }
      .text-feild-naresan {
        margin-top: 4%;
        color: #aeaeae;
      }
    }
    .bottom-front {
      background-color: white;
      width: 100%;
      height: 30vw;
      border-radius: 20px;
      padding-top: 13%;
      @media only screen and (min-device-width: 768px) {
        height: 24vw;
      }
      #Idnisit {
        position: relative;
        font-family: 'kanit';
        text-align: center;
        font-size: 5vw;
        color: #ff9c00, ;
        border: solid 2px #ff9c00, ;
        border-radius: 9px;
        width: 56%;
        padding: 1vw;
        margin: 0 auto;
      }
    }
    .logocard {
      width: 68%;
      margin-top: 21%;
    }
    .cross-front {
      position: absolute;
      right: 0;
      margin: 8%; // transform: translateX(45%)
    }
    .colordiv {
      margin-top: 20%;
      width: 100%;
      height: 25px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
    }
    #nameNisit {
      position: absolute;
      margin: 0 auto;
      font-size: 5vw;
      margin-left: 55%;
      border-top: 3px solid #fa5100;
    }
    .top {
      background-color: white;
      border-radius: 20px;
      .text-feild-naresan {
        margin-top: 4%;
        color: #aeaeae;
      }
    }
    .bottom {
      background-color: white;
      width: 100%;
      height: 30vw;
      border-radius: 20px;
      @media only screen and (min-device-width: 768px) {
        height: 24vw;
      }
      .text-feild {
        padding-top: 5%;
        @media only screen and (min-device-width: 768px) {
          padding-top: 12%;
        }
        #Idnisit-back {
          position: relative;
          font-family: 'kanit';
          text-align: center;
          font-size: 5vw;
          color: #ff9c00;
          border-radius: 9px;
          width: 77%;
          padding: 7px;
          margin: 0 auto; // margin-top: 18%;
          @media only screen and (min-device-width: 768px) {
            font-size: 4vw;
          }
        }
        #fac {
          margin: 0;
          position: relative;
          font-family: 'kanit';
          text-align: center;
          font-size: 3vw;
          color: #ff9c00;
          width: 77%;
          margin: auto;
        }
      }
    }
  }
  h1 {
    margin: 0;
  }
  .card-qrcode .front {
    // background-color: white;
    transform: rotateY( 360deg);
    border-radius: 24px;
  }
  .card-qrcode .back {
    // background-color: white;
    transform: rotateY( 180deg);
    border-radius: 24px;
  }
  .bgqrcode {
    backdrop-filter: blur(28px);
    background-color: rgba(0, 0, 0, 0.589);
    @media only screen and (min-device-width: 768px) {
      background-image: url('../assets/ui/home/background.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .scroll-content {
      overflow: hidden !important;
    }
  }
  .field-qrcode {
    padding: 10%;
  }
  .qrblur {
    opacity: 0.6;
  }
  .imgqrcode {
    width: 100%;
    height: 100%;
  }
  .imgcenter {
    background-color: rgba(255, 72, 0, 0.959);
    margin-top: 23%;
    width: 60%;
  }
  .dot {
    margin-top: 10%;
    width: 100%;
    border-top: 3px dotted #e4e4e4;
  }
  @keyframes swing {
    0% {
      transform: rotateY( 0deg);
    }
    5% {
      transform: rotateY( 230deg);
    }
    90% {
      transform: rotateY( 370deg);
    }
    100% {
      transform: rotateY( 360deg);
    }
  }
  input:checked+label {}
  .card-qrcode.flip {
    transform: rotateY( 180deg);
  }
  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  @keyframes qrcode {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  #menu{
    opacity:0.9;
   }
   .container {
    height:300px;
    width:300px;
    position: relative;
    overflow: hidden;
    margin: 25px;
    display: inline-block;
    
  
  }
  .container:before {
    content:"";
    -webkit-filter: blur(10px);
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background-image: radial-gradient(ellipse at center, rgba(255,255,255,.2) 0%,rgba(255,255,255,.2) 90%);
    z-index:-1;
  
  }
  .container.no-g {
    color:white;
  }
  

  
}
