<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue">Scholarship</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="background_origin">
  <a>
    <div class="scholarship-contain">
      <div class="scholarship-card">
        <p>{{ElementObject.title}}</p>
        <div class="scholarship-status"></div>
      </div>
    </div>
  </a>
  <div class="notification-content">

    <ion-card-content>
      <div>
          <div class="image_load_scho">
              <img class="imgCer fadeI_grad" src="{{ElementObject.imgUrl}}" (load)="loaded = true" alt="">
              <div gravity="center" class="p-materialbox" >
                <div class="p-circle--rotate p-materialbox__item">
                  <div class="p-circle--rotate__item1"></div>
                  <div class="p-circle--rotate__item2"></div>
                  <div class="p-circle--rotate__item3"></div>
                  <div class="p-circle--rotate__item4"></div>
                  <div class="p-circle--rotate__item5"></div>
                  <div class="p-circle--rotate__item6"></div>
                  <div class="p-circle--rotate__item7"></div>
                  <div class="p-circle--rotate__item8"></div>
                </div>
              </div>
            </div>
      
      </div>

    </ion-card-content>
    <ion-card-content class="notification-announcer">
      {{ElementObject.des}}
    </ion-card-content>
    <ion-card-content class="notification-link">

    </ion-card-content>

  </div>
  <div class="btn-notification">
    <!-- <button ion-button  color="dark"   class="btn-down">D O W N L O A D</button>
          <h3>OR</h3> -->
    <a href="{{ElementObject.file}}">
      <button ion-button color="dark" class="btn-share">M O R E</button>
    </a>

  </div>
  <div class="btn-notification">
    <!-- <button ion-button  color="dark"   class="btn-down">D O W N L O A D</button>
        <h3>OR</h3> -->
    <button ion-button (click)="ScholarshipShare(ElementObject)" color="dark" class="btn-share">S H A R E</button>
  </div>

</ion-content>
