page-scholarship-view {
  ion-modal {
  
}
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  .notification-content {
    backdrop-filter: blur(28px);
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
  }
  .notification-des {}
  .notification-header {
    border-radius: 10%;
  }
  .notification-announcer {
    text-align: left;
  }
  .notification-date {
    text-align: left;
  }
  .btn-notification {
    text-align: center;
    .btn-down {}
    .btn-share {}
  }
  .bg_scho {
    backdrop-filter: blur(28px);
    background-color: rgba(0, 0, 0, 0.589);
    text-align: left;

    
  }
  .head {
    position: relative;
    color: #5e5e5e;
    background: rgb(252, 252, 252);
    margin: 0 auto;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    font-size: 28px;
    padding: 14px;
    box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
  }
  .scholarship-contain {
    p {
      margin-top: 1%
      // overflow: hidden;
      // white-space: nowrap;
      // text-overflow: ellipsis;
    }
    overflow-y: scroll;
    z-index: 2000;
    .scholarship-card {
      display: block;
      position: relative;
      color: rgb(255, 255, 255);
      margin: 0 auto;
      width: 100%;
      // height: 62px;
      border-radius: 15px;
      font-size: 13px;
      padding: 2px;
      margin-top: 13px;
      text-align: left;
      padding-left: 10%;
      padding-right: 32px;
      margin-bottom: 2px;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.644); // white-space: nowrap; 
      padding-top: 2% !important;
      // border: solid 1px rgba(0, 0, 0, 0.534);
      .scholarship-status {
        position: absolute;
        width: 15px;
        height: 15px;
         background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
        top: 0;
        bottom: 0;
        left: 4%;
        border-radius: 100%;
        margin: auto;
  
      }
    }
  }
  .btn-notification {
    width: 100%;
    .btn-share {
      width: 100%;
       background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
      box-shadow: 3px 8px 40px rgba(0, 0, 0, 0.13);
      border-radius: 33px;
    }
  }

  .image_load_scho{
    position: relative;
    width: 100%;
    height: 56.5vw;
    @media only screen and (min-device-width: 768px) {
      height:63.5vw;
  
    }
    .imgCer{
        position: relative;
        width: 100%;
        border-radius: 15px;
        z-index: 3;
    }
  .p-materialbox {
    z-index: 2;
    padding-top: 25%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 12%;
 
    &__item {
      margin-left: 50px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  
  // circle--rotate
  .p-circle--rotate {
  position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
  
  }
  
  // circle--rotate__item基本
  .circle--rotate__item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
  }
  
  @mixin circle--rotate($delay: 0s) {
    animation: circle--rotate 1s linear $delay infinite;
  }
  
  // circle--rotate__item 8個生成して動きをずらす
  @for $i from 1 through 8 {
    .p-circle--rotate__item#{$i} {
      @extend .circle--rotate__item;
      @include circle--rotate($i*.125s);
    }
  }
  
  // circle--rotate__itemそれぞれのポジション
  .p-circle--rotate__item1 {
    top: -1px;
    left:  20px;
  }
  .p-circle--rotate__item2 {
    top: 5px;
    left: 35px;
  }
  .p-circle--rotate__item3 {
    top: 20px;
    left: 41px;
  }
  .p-circle--rotate__item4 {
    top: 35px;
    left: 35px;
  }
  .p-circle--rotate__item5 {
    top: 41px;
    left: 20px;
  }
  .p-circle--rotate__item6 {
    top: 35px;
    left: 5px;
  }
  .p-circle--rotate__item7 {
    top: 20px;
    left: -1px;
  }
  .p-circle--rotate__item8 {
    top: 5px;
    left: 5px;
  }
  }
  @keyframes circle--rotate {
    0% {
      opacity: 0;
    }
  
    50% {
      background: #ff9c00;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  .notification-link{
    text-align: right;
  }
}
