<ion-header no-border class="padding-head active">
    <ion-navbar hideBackButton end>
      <ion-buttons right>
        <a (click)="dismiss()">
          <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
          <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
        </a>
      </ion-buttons>
      <ion-title style="color: aliceblue">DTS</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding class="background_origin">
    <ion-refresher (ionRefresh)="ref($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <div class="nocer" *ngIf="items.length==0">

       ไม่มีรายการเอกสาร
    
      </div>
  <div class="Dtsitem fadeIn{{i}}" *ngFor="let item of items ;let i = index" (click)="gopage(item)">
      <div class="text">{{item.title}} : {{item.des}}<br>
        <div class="textTime">{{decode(item.time)}}</div></div>
      
      <div class="textTime"></div>
    <!-- <img class="arrow" src="assets/imgs/back.png" width="24"> -->
    <div class="status pass" *ngIf="item.status==0"> </div>
    <div class="status wait" *ngIf="item.status==1"> </div>
    <div class="status busy" *ngIf="item.status==2"> </div>
  </div>
  <ion-infinite-scroll *ngIf="Infi_load==false"  (ionInfinite)="doRefresh($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
