page-dts {
  .Dtsitem {
    position: relative;
    width: 100%; // height: 65px;
    background-color: rgba(0, 0, 0, 0.418);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.019);
    margin-bottom: 1%;
    border-radius: 6px;
    // border: solid 1px rgb(0, 0, 0);
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.342);
    // border: solid 1px rgba(0, 0, 0, 0.432);
    border-radius: 15px;
  }
  .arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto;
    transform: rotate(180deg);
    opacity: 0.5;
  }
  .status.busy {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3%;
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.075);
    margin-right: 3%;
    background: -webkit-linear-gradient(#ff5a5a, #df043b);
  }
  .status.wait {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3%;
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.075);
    margin-right: 3%;
    background-color: #ffd000;
  }
  .status.pass {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3%;
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.075);
    margin-right: 3%;
    background: -webkit-linear-gradient(#8acf7c, #69b875);
  }
  .text {
    position: relative;
    top: 0;
    /* bottom: 0; */
    width: 93%;
    // font-size: 16px;
    color: white;
    margin: auto;
    padding-left: 5%;
  }
  .head {
    position: relative;
    background: rgb(252, 252, 252);
    margin: 0 auto;
    width: 100%;
    height: 60px;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 28px;
    padding: 9px;
    box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
    color: #e76693;
    text-align: center;
  }
  .textTime {
    // font-size: 14px;
    text-align: right;
  }
  .nocer {
   
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.295);
    margin-top: 45%;
    border-radius: 10px;
  }
}
