<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue"></ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding class="bg_an">
  <a (click)="scholarship()">
    <div class="scholarship-contain">
      <div class="scholarship-card">
        <p>{{ElementObject.title}}</p>
        <div class="scholarship-status"></div>
      </div>
    </div>
  </a>
  <div class="notification-content2" *ngIf="ElementObject.type=='event' ">
    <div>
      <div class="image_load" >
        <img class="imgCer fadeI_grad" src="{{ElementObject.imgurl}}" (load)="loaded = true" alt="">
        <div gravity="center" class="p-materialbox" *ngIf="!loaded">
          <div class="p-circle--rotate p-materialbox__item">
            <div class="p-circle--rotate__item1"></div>
            <div class="p-circle--rotate__item2"></div>
            <div class="p-circle--rotate__item3"></div>
            <div class="p-circle--rotate__item4"></div>
            <div class="p-circle--rotate__item5"></div>
            <div class="p-circle--rotate__item6"></div>
            <div class="p-circle--rotate__item7"></div>
            <div class="p-circle--rotate__item8"></div>
          </div>
        </div>
      </div>
    </div>
    <ion-card-content class="notification-announcer">
      {{ElementObject.des}}
    </ion-card-content>
    <ion-card-content>
      <div class="notification-date">
        {{decode(ElementObject.timeStart)}}
      </div>
    </ion-card-content>
  </div>
  <div class="notification-content" *ngIf="ElementObject.type=='News' ">
    <div>
      <div class="image2_load">
        <img class="imgCer fadeI_grad" src="{{ElementObject.imgurl}}" (load)="loaded = true" alt="">
        <div gravity="center" class="p-materialbox" *ngIf="!loaded">
          <div class="p-circle--rotate p-materialbox__item">
            <div class="p-circle--rotate__item1"></div>
            <div class="p-circle--rotate__item2"></div>
            <div class="p-circle--rotate__item3"></div>
            <div class="p-circle--rotate__item4"></div>
            <div class="p-circle--rotate__item5"></div>
            <div class="p-circle--rotate__item6"></div>
            <div class="p-circle--rotate__item7"></div>
            <div class="p-circle--rotate__item8"></div>
          </div>
        </div>
      </div>
    </div>
    <ion-card-content class="notification-announcer">
      {{ElementObject.des}}
    </ion-card-content>
    <ion-card-content>
      <div class="notification-date">
        {{decode(ElementObject.timeStart)}}
      </div>
    </ion-card-content>

  </div>
  <div *ngIf="ElementObject.RegisterStatus==1">
    <button class="btm" *ngIf="register_status==1" (click)="register(ElementObject)" disabled>
      <h1>ลงทะเบียนแล้ว</h1>
    </button>
    <button class="btm active" *ngIf="register_status==0" (click)="register(ElementObject)">
      <h1>ลงทะเบียน</h1>
    </button>
  </div>
  <p></p>
  <div class="btn-notification">

    <a href="{{ElementObject.link}}">
      <button ion-button color="dark" class="btn-share">M O R E</button>
    </a>
  </div>
  <div class="btn-notification">
    <button ion-button (click)="ScholarshipShare(ElementObject)" color="dark" class="btn-share">S H A R E</button>
  </div>


</ion-content>
