<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue">Setting</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="backgroundSetting" padding> 
  <ion-grid>
    <ion-row class="settinglist padding" *ngFor="let item of items">
      <ion-col col-2 class="left">
        <div class="title-header">
          <img class="title-img" src="{{item.img}}" alt="" width="24">

        </div>
      </ion-col>
        <ion-col col-8>
          <div class="title-text">{{item.title}}</div>
        </ion-col>

        <ion-col col-2 class="right">
          <div class="contain-toggle">

            <ion-toggle class="toggle" [(ngModel)]="item.model" color="notification"></ion-toggle>
          </div>

          <!-- <div class="contain-toggle">
          <ion-toggle  [(ngModel)]="item.model" color="notification"></ion-toggle>
       
        </div> -->
        </ion-col>
    </ion-row>
    <ion-row class="settinglist padding"   style="margin-top:8%; ">
        <ion-col col-2 >
        
      </ion-col>
          <ion-col col-8>
            <div class="title-text">Application Version</div>
          </ion-col>
  
          <ion-col col-2 class="title-text" >
                1.6
          </ion-col>
      </ion-row>
  </ion-grid>
  <h1></h1>
  <p></p>
  <div class="setting-container">
    <div class="btn-chat">
      <button ion-button color="dark" class="btn-car" (click)="save()"><b>S A V E</b></button>
    </div>
    <div class="btn-chat">
      <button (click)="logout()" ion-button color="dark" class="btn-car"><b>L O G O U T</b></button>
    </div>
    <!-- <div class="tools" ><br> <u> <a (click)="report()" style="color: white;"> รายงานปัญหา</a></u></div> -->
    <div class="tools" ><br> <u> <a (click)="tools()" style="color: white;"> แนะนำการใช้งาน</a></u></div>
  </div>


</ion-content>
