page-setting {
  .backgroundSetting {
    backdrop-filter: blur(28px);
    background-color: rgba(0, 0, 0, 0.589);
  }
  .toggle {
    width: 100%;
  }
  .left {
    text-align: left;
  }
  .right {
    position: relative;
    .contain-toggle {
      width: 50px;
      height: 32px;
      position: absolute;
      right: 0;

      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
     margin-right: 10px;
     padding-top: 4%;
      }
 
    }
  }
  .title-header {
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(88, 88, 88);
    font-size: 100%;
    text-align: center;
    
    .title-img {
      width: 43%;
      padding: 6%;
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        width: 29%;
      }
    }
  }
  .settinglist2 {
    margin-top: 50px;
  }
  .padding {
    padding: 5px;
    border-radius: 20px;
    border-bottom: solid 0.2px transparent;
    background-color: rgba(0, 0, 0, 0.61);
    margin-top: 3px;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        border-radius: 30px;
      }
      @media only screen and (min-device-width: 1024px){
        border-radius: 40px;
      }
  }
  .title-text {
    padding: 2%;
    text-align: left;
    color: white;
  }
  .btn-chat {
    position: relative;
    text-align: center;
    padding-bottom: 4px;
  }
  .btn-car {
    width: 100%;
     background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
    box-shadow: 3px 8px 40px rgba(0, 0, 0, 0.13);
    border-radius: 33px;
  }
  .grid {
    padding: 0%;
  }
  .toggle-icon{
     background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
  }
  .tools{
    text-align: center;
    color: white;
  }
  page-setting .padding {
    padding: 5px;
    border-radius: 20px;
    border-bottom: solid 0.2px transparent !important;
    background-color: rgba(0, 0, 0, 0.61);
    margin-top: 3px;
}
}
