<ion-header>
  <ion-navbar class="ionic-header">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>Capital</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      หัวข้อ
    </ion-card-header>

    <ion-card-content>
      <!-- Add card content here! -->
    </ion-card-content>
    <ion-card-header>
      รายละเอียด
    </ion-card-header>

    <ion-card-content>
      <!-- Add card content here! -->
    </ion-card-content>
    <ion-card-header>
      เงือนไขการสมัคร
    </ion-card-header>

    <ion-card-content>
      <!-- Add card content here! -->
    </ion-card-content>
    <ion-card-header>
      เอกสาร
    </ion-card-header>

    <ion-card-content>
      <!-- Add card content here! -->
    </ion-card-content>
    <ion-card-header>
      สถานะทุน
    </ion-card-header>

    <ion-card-content>
      <!-- Add card content here! -->
    </ion-card-content>

  </ion-card>
</ion-content>
