<ion-content padding class="bg" >
    <a class="cross-front" (click)="dismiss()"> 
        <img src="assets/ui/home/cross.png" width="20">
    </a>
  <img class="img" src="{{item.imgurl}}" alt="">

</ion-content>
