page-announce-normal {
    .bg{
        position: relative;
        background-color: rgba(0, 0, 0, 0.603);
       
       
    }
    .img{
        width: 80%;
        position: absolute;
        top:15%;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 2.6%;
        z-index: 1;
        box-shadow: 1px -2px 50px rgba(0, 0, 0, 0.603);
    }
    .cross-front{
        position: absolute;
        top:15.4%;
        right: 12%;
        margin: auto;
        z-index: 10;
    }
    @media only screen and (min-device-width: 768px) {
        .img{
            width: 50%;
            position: absolute;
            top:15%;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 2.6%;
            z-index: 1;
            box-shadow: 1px -2px 50px rgba(0, 0, 0, 0.603);
        }
        .cross-front{
            right: 26%;
            
        }
    }
   
}

