page-guests {

        //Tint and blur intensity
        //Set 1&2 to same color for uniform
        //Otherwise it's a gradient
        $menubg1: rgba(255,255,255,0.25);
        $menubg2: rgba(255,255,255,0.65);
        $blur: 5px;
    .bgMenu{
        backdrop-filter: blur(28px);
        background-color: rgba(0, 0, 0, 0.589);
    }
    .circle-menu{
        position: relative;
        width: 18vw;
        height: 18vw;
        background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
        border-radius: 100%;
        border:solid 1px white;
        margin: auto; 
        box-shadow: 0 0 70px rgba(0, 0, 0, 0.125);
        padding: 12%;
        margin-bottom: 7%;

        @media only screen and (min-device-width: 768px) {
            width: 13vw;
            height: 13vw;
          }
      }
      .text {
        // position: absolute;
        color: rgb(255, 255, 255);
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        text-align: center;
        // padding-top: 75%;
        
    }
    .box{
        height: 100%;;
        // background-color: rgba(255, 255, 255, 0.041);
        padding-top: 26%; 

 
        @media only screen 
            and (device-width : 375px) 
            and (device-height : 812px) 
            and (-webkit-device-pixel-ratio : 3) {

                padding-top: 26%; 
             }
        @media only screen and (min-device-width: 768px) {
            padding-top:33%;
          }
    }
    .close{
        padding-left: 10px;
        @media only screen and (min-device-width: 768px) {
            width: 50%;
             }
         

      
    }
    .blurred-box{
        position: relative;
        width: 250px;
        height: 350px;
        top: calc(50% - 175px);
        left: calc(50% - 125px);
        background: inherit;
        border-radius: 2px;
        overflow: hidden;
      }
      
      .blurred-box:after{
       content: '';
       width: 300px;
       height: 300px;
       background: inherit; 
       position: absolute;
       left: -25px;
     
       right: 0;
       top: -25px;  
   
       bottom: 0;
       box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
       filter: blur(50px);
      }
      
      
 
}
