<ion-content pager class="background_base scho">
  <div class="circle_bg"></div>
  <div class="circle_bg2"></div>
  <div class="skip" (click)="skip()" *ngIf="slider!=false">S k i p</div>
  <ion-slides pager effect="" parallax="true" (ionSlideWillChange)="SlideChange($event)" (ionSlideDrag)="drag($event)">
    <ion-slide>
      <img class="iphonex" src="assets/cover/iphonex.png" alt="">
      <div class="box-set">
        <div class="text">เปิดประสบการณ์สู่</div>
        <div class="text_nu">
          <div class="nu">
            <strong> NU GRAD </strong> Mobile Appication</div>

        </div>
        <div class="text_grad">บัณฑิตวิทยาลัย มหาวิทยาลัยนเรศวร</div>
      </div>
    </ion-slide>
    <ion-slide>
      <img class="iphonex" src="assets/cover/iphonex2.png" alt="">
      <div class="box-set">
        <div class="text_nu">
          <div class="nu">
            <strong>แจ้งผลการแต่งตั้ง</strong>ที่ปรึกษางานวิจัย</div>
        </div>
        <div>
          <img class="advisor" src="assets/cover/advisor.png" alt="">
        </div>

      </div>
      <div class="arrow">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9"
          style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
          <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow1" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1"
          />
          <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow1 tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58"
          />
          <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow1 tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9"
          />
        </svg>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="arrow2" style="z-index: 999;">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9"
          style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
          <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow2" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1"
          />
          <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow2 tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58"
          />
          <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow2 tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9"
          />
        </svg>
      </div>
      <div class="box-set">
        <div class="text_nu">
          <div class="nu">ตรวจผลการสอบ
            <strong>ภาษาอังกฤษ</strong>
          </div>
        </div>
        <div>
          <img class="advisor" src="assets/cover/eng.png" alt="">
        </div>

      </div>
      <img class="iphonex" src="assets/cover/iphonex3.png" alt="">

    </ion-slide>

    <ion-slide>
      <img class="iphonex" src="assets/cover/iphonex5.png" alt="">
      <div class="box-set">
        <div class="text_nu_center">
          <div class="nu">ตรวจสอบความก้าวหน้าผลการอนุมัติ
            <br>
            <strong>Thesis/IS ของนิสิต</strong>
          </div>
        </div>

      </div>
      <div class="arrow4">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9"
          style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
          <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow3" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1"
          />
          <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow3 tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58"
          />
          <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow3 tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9"
          />
        </svg>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="l">
        <img src="assets/cover/hand.png" alt="" class="hand1">
      </div>
      <!-- <div class="r">
        <img src="assets/cover/hand.png" alt="" class="hand2">
      </div> -->


      <img class="iphonex" src="assets/cover/iphonex7.png" alt="">
      <div class="box-set">
        <div class="text_nu_center">
          <div class="nu">
            <strong>สไลด์ตรงนี้</strong>เพื่อเปลี่ยนเมนู</div>
        </div>
        <div class="advisor_text_small">ไปยังหน้าอิ่น</div>
      </div>

    </ion-slide>
    <ion-slide>
      <img class="card-back" src="assets/cover/card-back.png" alt="">
      <img class="card-front" src="assets/cover/card-font.png" alt="">
      <img class="iphonex" src="assets/cover/iphonex11.png" alt="">
      <div class="box-set">
        <div class="text_nu_center">
          <div class="nu">
            <strong>E-Student</strong> Card
            <br>
          </div>
        </div>
        <div class="advisor_text_small">QR Code สำหรับติดต่อกับบัณฑิตวิทยาลัย</div>
      </div>
      <div class="click"></div>
      <img src="assets/cover/hand.png" alt="" class="hand4">

    </ion-slide>
    <ion-slide>
      <div class="scale"></div>
      <img src="assets/cover/hand.png" alt="" class="hand3">
      <img src="assets/cover/menu.png" alt="" class="menu">
      <div class="click2"></div>
      <img class="iphonex" src="assets/cover/iphonex10.png" alt="">
      <div class="box-set">
        <div class="text_nu_center">
          <div class="nu">และฟังค์ชันอื่นๆอีกมากมาย
            <br>
            <strong>รอให้คุณเข้ามาสัมผัส</strong>
          </div>
        </div>

      </div>

    </ion-slide>


    <ion-slide>
      <img class="iphonex" src="assets/cover/iphonex.png" alt="">
      <div (click)="gohome()" class="gohome">S T A R T E D</div>
      <div class="box-set">

        <div class="text_nu">
          <div class="nu">
            พร้อมแล้วที่จะสัมผัสประสบการณ์จาก
            <br>
            <strong> NU GRAD </strong>
          </div>

        </div>

        <div class="text_grad">#ชีวิตดีๆที่มหาวิทยาลัย</div>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
