page-interviews {
  .background_cover {
    background-image: url('../assets/cover/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    .scroll-content {
      overflow: hidden !important;
    }
  }
  .background_base {
    background-image: url('../assets/cover/backgrond-only.png');
    background-size: cover;
    background-repeat: no-repeat;
    .scroll-content {
      overflow: hidden !important;
    }
  }
  .iphonex {
    width: 80%;
    margin-top: -30%;
    @media screen and (device-aspect-ratio: 40/71) {
      width: 68%;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
      width: 67%;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
      width: 70%;
    }
    @media only screen and (min-device-width: 768px) {
      width: 42%;
    }
  }
  .box-set {
    position: absolute;
    width: 100%;
    height: 18vh;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    padding: 4%;

  
    @media only screen and (min-device-width: 411px) and (max-device-width: 823px) {
      height: 16vh;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
      height: 18vh;
    }
    @media only screen and (min-device-width: 768px) {
      height: 21vh;
    }
    .text {
      position: relative;
      color: white;
      font-family: 'kanit';
      font-size: 128%;
      @media screen and (device-aspect-ratio: 40/71) {
        font-size: 100%;
      }
    }
    .text_nu {
      position: relative;
      color: white;
      font-family: 'kanit';
      font-size: 4vw;

      strong {
        font-size: 5vw;
        color: #ff6c00;
        ;
      }
    }
    .text_grad {
      position: relative;
      color: white;
      font-family: 'kanit';
      font-size: 4;
   
    }
    .text_small {
      position: relative;
      color: white;
      font-family: 'kanit';
      font-size: 86%;
    }
    .advisor {
      position: relative;
      width: 80%;
      margin: auto;
      @media screen and (device-aspect-ratio: 40/71) {
        width: 50%;
      }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
        width: 50%;
      }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
        width: 50%;
      }
      @media only screen and (min-device-width: 768px) {
        width: 42%;
      }
    }
    .advisor_text_small {
      position: relative;
      color: white;
      font-family: 'kanit';
      font-size: 86%;
      left: 0;
      right: 0;
      margin: auto;
    }
    .text_nu_center {
      position: relative;
      color: white;
      font-family: 'kanit';
      font-size: 105%;
      padding-top: 6%;
      @media screen and (device-aspect-ratio: 40/71) {
        padding-top: 0%;
      }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
        padding-top: 2%;
      }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
        padding-top: 3%;
      } //   margin-bottom: 15.3%;
      @media only screen and (min-device-width: 768px) {
        padding-top: 3%;
      }
      strong {
        font-size: 120%;
        color: #ff6c00;
        ;
        @media screen and (device-aspect-ratio: 40/71) {
          font-size: 90%;
        }
      }
    }
  }
  .arrow {
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(180deg);
    animation-duration: 1s;
    animation-name: scale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media screen and (device-aspect-ratio: 40/71) {
      top: 15%;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
      top: 18%;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
      top: 24vh;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
      top: 19vh;
    }
    svg {
      width: 47px;
      height: 200px;
      margin: 0 auto;
      @media screen and (device-aspect-ratio: 40/71) {
        width: 27px;
      }
      .draw-arrow1 {
        stroke-width: 5;
        stroke: #ff6c00;
        fill: none;
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        &.tail-1 {
          animation-delay: .5s;
        }
        &.tail-2 {
          animation-delay: .7s;
        }
      }
      .draw-arrow1.active {
        animation-duration: 2.0s;
        animation-fill-mode: forwards;
        animation-name: draw;
      }
    }
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    } // DEMO
    body {
      padding: 20px;
      text-align: center;
      background-color: #222;
    }
    @keyframes blink {
      0% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .arrow2 {
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(218deg) translateX(-2%);
    animation-duration: 1s;
    animation-name: scale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media screen and (device-aspect-ratio: 40/71) {
      top: 10vh;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
      top: 16%;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
      top: 24vh;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
      top: 17vh;
    }
    svg {
      width: 47px;
      height: 200px;
      margin: 0 auto;
      @media screen and (device-aspect-ratio: 40/71) {
        width: 27px;
      }
      .draw-arrow2 {
        stroke-width: 5;
        stroke: #ff6c00;
        fill: none;
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        &.tail-1 {
          animation-delay: .5s;
        }
        &.tail-2 {
          animation-delay: .7s;
        }
      }
      .draw-arrow2.active {
        animation-duration: 2.0s;
        animation-fill-mode: forwards;
        animation-name: draw;
      }
    }
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    } // DEMO
    body {
      padding: 20px;
      text-align: center;
      background-color: #222;
    }
    @keyframes blink {
      0% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .arrow3 {
    position: absolute;
    top: 19%;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(270deg) translateX(-10%);
    animation-duration: 1s;
    animation-name: scale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    svg {
      width: 47px;
      height: 200px;
      margin: 0 auto;
      .draw-arrow {
        stroke-width: 5;
        stroke: #ff6c00;
        fill: none;
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        &.tail-1 {
          animation-delay: .5s;
        }
        &.tail-2 {
          animation-delay: .7s;
        }
      }
      .draw-arrow.active {
        animation-duration: 2.0s;
        animation-fill-mode: forwards;
        animation-name: draw;
      }
    }
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    } // DEMO
    body {
      padding: 20px;
      text-align: center;
      background-color: #222;
    }
    @keyframes blink {
      0% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .arrow4 {
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateX(0);
    animation-duration: 1s;
    animation-name: scale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media screen and (device-aspect-ratio: 40/71) {
      top: 26%;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
      top: 27%;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
      top: 31vh;
    }
    svg {
      width: 47px;
      height: 200px;
      margin: 0 auto;
      @media screen and (device-aspect-ratio: 40/71) {
        width: 27px;
      }
      .draw-arrow3 {
        stroke-width: 5;
        stroke: #ff6c00;
        fill: none;
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        &.tail-1 {
          animation-delay: .5s;
        }
        &.tail-2 {
          animation-delay: .7s;
        }
      }
      .draw-arrow3.active {
        animation-duration: 2.0s;
        animation-fill-mode: forwards;
        animation-name: draw;
      }
    }
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    } // DEMO
    body {
      padding: 20px;
      text-align: center;
      background-color: #222;
    }
    @keyframes blink {
      0% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .arrow5 {
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateX(0) rotateY(180deg);
    animation-duration: 1s;
    animation-name: scale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    svg {
      width: 47px;
      height: 200px;
      margin: 0 auto;
      .draw-arrow {
        stroke-width: 5;
        stroke: #ff6c00;
        fill: none;
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        &.tail-1 {
          animation-delay: .5s;
        }
        &.tail-2 {
          animation-delay: .7s;
        }
      }
      .draw-arrow.active {
        animation-duration: 2.0s;
        animation-fill-mode: forwards;
        animation-name: draw;
      }
    }
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    } // DEMO
    body {
      padding: 20px;
      text-align: center;
      background-color: #222;
    }
    @keyframes blink {
      0% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .arrow6 {
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateX(-6%) rotateY(180deg);
    animation-duration: 1s;
    animation-name: scale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    svg {
      width: 47px;
      height: 200px;
      margin: 0 auto;
      .draw-arrow {
        stroke-width: 5;
        stroke: #ff6c00;
        fill: none;
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        &.tail-1 {
          animation-delay: .5s;
        }
        &.tail-2 {
          animation-delay: .7s;
        }
      }
      .draw-arrow.active {
        animation-duration: 2.0s;
        animation-fill-mode: forwards;
        animation-name: draw;
      }
    }
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    } // DEMO
    body {
      padding: 20px;
      text-align: center;
      background-color: #222;
    }
    @keyframes blink {
      0% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .arrow7 {
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotateY(deg) rotate(270deg);
    animation-duration: 1s;
    animation-name: scale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    svg {
      width: 47px;
      height: 200px;
      margin: 0 auto;
      .draw-arrow {
        stroke-width: 5;
        stroke: #ff6c00;
        fill: none;
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        &.tail-1 {
          animation-delay: .5s;
        }
        &.tail-2 {
          animation-delay: .7s;
        }
      }
      .draw-arrow.active {
        animation-duration: 2.0s;
        animation-fill-mode: forwards;
        animation-name: draw;
      }
    }
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    } // DEMO
    body {
      padding: 20px;
      text-align: center;
      background-color: #222;
    }
    @keyframes blink {
      0% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .hand3 {
    width: 14%;
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    // animation-duration: 1s;
    // animation-name: click;
    // animation-iteration-count: infinite;
    // animation-direction: alternate;
    @media screen and (device-aspect-ratio: 40/71) {
        bottom: 25%;
      }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
        bottom: 25%;
      }
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
      bottom: 30%;
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
      /* STYLES GO HERE */
      bottom: 23%;
    }
    @media only screen and (min-device-width: 768px) {
      width: 6%;
      bottom: 36%;
    }
  }
  .click{
      width: 50px;
      height: 50px;
      border-radius: 100%;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #fb920065;

        animation-duration: .7s;
        animation-name: circle_bg;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        @media only screen and (min-device-width: 768px) {
            bottom: 16vh;
          }
  }
  .click2{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: -30vh;
    background-color: #fb920065;

      animation-duration: .7s;
      animation-name: circle_bg;
      animation-iteration-count: infinite;
      animation-direction: alternate;


      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
        bottom: -24vh;
      }
       @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
        bottom: -32vh;
      }
      @media only screen and (min-device-width: 768px) {
        bottom: -18vh;
      }

}
  .hand4 {
    width: 14%;
    position: absolute;
    bottom: 43%;
    left: 0;
    right: 0;
    margin: auto;
    // animation-duration: 1s;
    // animation-name: click;
    // animation-iteration-count: infinite;
    // animation-direction: alternate;
    @media only screen and (min-device-width: 768px) {
      width: 6%;
      bottom: 52%;
    }
  }
  .hand1 {
    width: 12%;
    position: absolute;
    bottom: 36%;
    left: 0;
    right: 0;
    margin: auto;
    @media only screen and (min-device-width: 768px) {
        width: 6%;
        bottom: 42%;
      }
  
    animation-duration: 1s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes slide {
    0% {
      transform: translateX(-60px);
      @media screen and (device-aspect-ratio: 40/71) {
        transform: translateX(-80px)
      }
    }
    100% {
      transform: translateX(60px);
      @media screen and (device-aspect-ratio: 40/71) {
        transform: translateX(80px)
      }
    }
  }
  .r {
    transform: rotateY(180deg)
  }
  @keyframes click {
    0% {
      transform: translateY(0)
    }
    100% {
      transform: translateY(-40px)
    }
  }
  .scale {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 32%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100%;
    animation-duration: 1s;
    animation-name: scale1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
      bottom: 35%;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
      bottom: 32%;
    }
    @media only screen and (min-device-width: 768px) {
      bottom: 38%;
    }
  }
  @keyframes scale1 {
    0% {
      opacity: 0;
      transform: scale(0.4)
    }
    100% {
      opacity: 1;
      transform: scale(1.3)
    }
  }
  .menu {
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 43vw;
    animation-duration: 1s;
    animation-name: click;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media only screen and (min-device-width: 768px) {
      width: 23vw;
      top: -20%;
    } // animation-delay: 0.5s;
  }
  .card-front {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    animation-duration: 1.5s;
    animation-name: comeon;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
      top: 24%;
    }
    @media only screen and (min-device-width: 768px) {
      width: 20%;
    }
  }
  .card-back {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
      top: 24%;
    }
    @media only screen and (min-device-width: 768px) {
      width: 20%;
    }
  }
  @keyframes comeon {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes up {
    0% {
      transform: translateY(-40%)
    }
    100% {
      transform: translateY(-70%)
    }
  }
  .skip {
    position: absolute;
    top: 0;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    background: black;
    color: #ffffff;
    font-weight: bold;
    border-radius: 40px;
    right: 0;
    margin: 4%;
    z-index: 999;
    animation-duration: 1.5s;
    animation-name: skip;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
      top: 6%;
      /* STYLES GO HERE */
    }
  }
  @keyframes skip {
    0% {
      opacity: .6;
    }
    100% {
      opacity: 1;
    }
  }
  .gohome {
    position: relative;
    width: 78%;
    padding: 2%;
    color: white;
    background: -webkit-gradient(linear, left top, right bottom, from(#fb9400), to(#fa6500));
    background: linear-gradient(to bottom right, #fb9400, #fa6500);
    border-radius: 40px;
    font-weight: bold;
    width: 43%;
    margin: auto;
    @media only screen and (min-device-width: 768px) {
        width: 32%;
      }
    // animation-duration: 1.5s;
    // animation-name: skip;
    // animation-iteration-count: infinite;
    // animation-direction: alternate;
    margin: auto;
  }
  .circle_bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.039);
    border-radius: 100%;
    width: 60vw;
    height: 60vw;
      animation-duration: 1.5s;
    animation-name: circle_bg;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .circle_bg2{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.015);
    border-radius: 100%;
    width: 60vw;
    height: 60vw;

    animation-duration: 1s;
    animation-name: circle_bg;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes circle_bg {
    0% {
      opacity: .6;
      transform: scale(1)
    }
    100% {
      opacity: 1;
      transform: scale(1.4)
    }
  }
  .swiper-pagination-bullet-active{
    background-color: #fb9400;
  }
  .swiper-pagination-bullet{
    background-color: #fb9400;
  }
  //  .swiper-pagination-bullet{
  //    background-color: white;
  //  }
}
