page-calendar-event-views {
  .bright{
    background-color: rgba(0, 0, 0, 0.712);
  }
  .bg-event {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 74vw;
    height: 60%;



    border-radius: 20px;
    border: solid 1px rgb(255, 255, 255); 
    padding: 4%;
  }
 
  .content {
    backdrop-filter: blur(28px);
    background-color: rgba(0, 0, 0, 0.589);
  }
  .title{
    text-align: center;
    // font-size: 28px;
    // white-space: nowrap; 
    // overflow: hidden;
    // text-overflow: ellipsis;
    margin-top: 10%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .time{
    position: relative;
    text-align: center;
    font-size:18vw;
    color: #ff9c00;
    font-family: Arial, Helvetica, sans-serif;

    
    .mounth{
      position: relative;

      left: 0;
      right: 0;
      font-size: 15px;
      color: white;
    }
  }
  .address{
    position: absolute;
   bottom: 5%;
   right: 5%;
  }
  .close{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 32px;
    color: rgba(255, 250, 250, 0.603);
    z-index: 999;
    margin: 2%;
  }
  .des{
    width: 100%;
    height: 260px;
    color: white;
    text-align: -webkit-left;
    overflow-y: scroll;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
      font-family: Arial, Helvetica, sans-serif;
  }
}
