<ion-content padding class="bright">
  <div class="bg-event">
    <a (click)="dismiss()">
      <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
      <ion-icon class="close" ios="ios-close-circle" md="md-close-circle"></ion-icon>
    </a>
    <div class="time">
      {{startdate(items.start)}}
      <br>
      <div class="mounth"> {{mounth(items.start)}} {{year(items.start)}}</div>

    </div>
    <div class="title">
      {{items.title}}
    </div>
    <div class="des">
      {{items.des}}
    </div>
    <div class="address">

    </div>
  </div>

</ion-content>
