page-thesis {
  .advisorbg {
    backdrop-filter: blur(28px);
    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
  }
  .AdvisorCard-head {
    background-color: rgba(74, 212, 69, 0.973)
  }
  .head-name {
    text-align: left !important;
  }
  .head-status {
    text-align: right !important;
  }
  .status {
    margin-left: 70px;
    position: relative;
    width: 60px;
  }
  .card-body {
    background-color: rgba(0, 0, 0, 0.349);
    padding: 2%;
    font-size: 14px;
    border-radius: 3px;
    border: 0;
    border-radius: 6px;
    margin-bottom: 3px;
    color: white;
  }
  .card-head {
    margin-top: 12px;
    border-radius: 6px;
    padding: 4%;
    margin-bottom: 0;
    border: 0;
    background-color: rgb(255, 255, 255);
  }
  .btn-chat {
    position: relative;
    text-align: center;
  }
  .btn-car {
    position: relative;
    width: 100%;
    background-color: rgb(133, 133, 133);
    margin-top: 7%;
  }
  .mybox {
    border: solid 1px white;
  }
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  body {
    background: #1F2428;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  section {
    display: inline-block;
    width: 100%;
    margin: 50px 0;
    text-align: center; // min-width: 320px;
    position: relative;
  }
  .tooltip {
    position: absolute;
    background: #eee;
    padding: 3px;
    font-weight: 100;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid #ddd;
    bottom: 100%;
    left: 50%;
    opacity: 0;
    transition: 0.3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .tooltip:after {
    content: "" attr(tooltip) "";
    margin-left: 3px;
    color: #2DABD8;
  }
  .tooltip:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #2DABD8;
    display: inline-block;
    margin-right: 5px;
  }
  .graph {
    width: 300px;
    height: 150px;
    position: relative;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 280px;
    font-weight: 600;
    border-radius: 150px 150px 0 0;
    overflow: hidden;
    color: #0ff;
  }
  .graph:before,
  .graph:after {
    content: '';
    width: 100%;
    height: 150px;
    border: 50px solid #0ff;
    border-top: none;
    position: absolute;
    transition: 0.3s;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    border-radius: 0 0 300px 300px;
    -webkit-animation: demo 2s;
    animation: demo 2s;
    left: 0;
    top: 100%;
    z-index: 5; // @media only screen and (min-device-width: 320px) {
    //   width: 265px;
    //   height: 132px;
    // }
    // @media only screen and (min-device-width: 375px) {
    //   width: 300px;
    //   height: 150px;
    // }
  }
  .graph:after {
    z-index: 3;
    border-color: rgba(255, 255, 255, 0.45);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .graph:hover:before {
    opacity: .8;
    cursor: pointer;
  }
  .graph:hover+.tooltip {
    bottom: 105%;
    opacity: 1;
  }
  .multi-graph {
    width: 300px;
    height: 150px;
    position: relative;
    margin: auto;
    color: #fff;
    font-size: 22px;
    line-height: 280px;
    font-weight: 600;
  }
  .multi-graph:before {
    content: '';
    width: 300px;
    height: 150px;
    border: 50px solid rgba(0, 0, 0, 0.15);
    border-bottom: none;
    position: absolute;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    border-radius: 300px 300px 0 0;
    left: 0;
    top: 0;
  }
  .multi-graph .graph {
    position: absolute;
    top: 0;
    left: 0;
  }
  .multi-graph .graph:after {
    background: #eee;
    border: medium none;
    border-radius: 2px;
    color: #333;
    font-weight: 200;
    content: "" attr(data-name) "";
    display: inline-block;
    font-size: 12px;
    height: 20px;
    left: 50%;
    line-height: 20px;
    padding: 0 5px;
    top: 50px;
    z-index: 0;
    -webkit-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
    width: auto;
    opacity: 0;
  }
  .multi-graph .graph:hover:after {
    opacity: 1;
    top: 70px;
  }
  .model-1 .graph {
    border-color: #ff9c00;
    color: #ff9c00;
    animation-duration: 1s;
    animation-name: scale;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .model-1 .graph[value="0"]:before {
    -webkit-transform: rotate(100deg);
    transform: rotate(0deg);
    border-color: #ff9c00;
  }
  .model-1 .graph[value="14.28"]:before {
    -webkit-transform: rotate(100deg);
    transform: rotate(25.71deg);
    border-color: #ff9c00;
  }
  .model-1 .graph[value="28.56"]:before {
    -webkit-transform: rotate(100deg);
    transform: rotate(51.42deg);
    border-color: #ff9c00;
  }
  .model-1 .graph[value="42.84"]:before {
    -webkit-transform: rotate(100deg);
    transform: rotate(77.13deg);
    border-color: #ff9c00;
  }
  .model-1 .graph[value="57.12"]:before {
    -webkit-transform: rotate(100deg);
    transform: rotate(102.84deg);
    border-color: #ff9c00;
  }
  .model-1 .graph[value="71.4"]:before {
    -webkit-transform: rotate(100deg);
    transform: rotate(128.55deg);
    border-color: #ff9c00;
  }
  .model-1 .graph[value="85.68"]:before {
    -webkit-transform: rotate(100deg);
    transform: rotate(154.26deg);
    border-color: #ff9c00;
  }
  .model-1 .graph[value="99.96"]:before {
    -webkit-transform: rotate(100deg);
    transform: rotate(180deg);
    border-color: #ff9c00;
  }
  section.model-2 .graph {
    color: #2DABD8;
  }
  section.model-2 .graph:before {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
    border-color: #2DABD8;
  }
  section.model-3 .javaScript:before {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    border-color: #FEDA3E;
  }
  section.model-3 .jQuery:before {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
    border-color: #0669AD;
  }
  section.model-3 .angular:before {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    border-color: #E62A39;
  }
  section.model-3 .graph {
    color: #2DABD8;
  }
  @-webkit-keyframes demo {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes demo {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  .thesis {
    color: #ff6c00;
    font-size: 200%;
  }
  .textG {
    position: absolute;
    font-size: 188%;
    top: -10%;
    left: 0;
    right: 0;
    margin: auto;
    color: #ff9c00;
  }
  .pass {
    text-align: -webkit-right;
  }
  .wait {
    text-align: -webkit-right;
    opacity: 0.6;
  }
  .container_thisis {
    position: relative;
    height: 30vh;
  }
  @keyframes scale {
    0% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  svg {
    width: 34px;
    display: block;
    // margin: 40px auto 0;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    // &.circle {
    //   -webkit-animation: dash .9s ease-in-out;
    //   animation: dash .9s ease-in-out;
    // }
    // &.line {
    //   stroke-dashoffset: 1000;
    //   -webkit-animation: dash .9s .35s ease-in-out forwards;
    //   animation: dash .9s .35s ease-in-out forwards;
    // }
    // &.check {
    //   stroke-dashoffset: -100;
    //   -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    //   animation: dash-check .9s .35s ease-in-out forwards;
    // }
  }
  

  
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
}
