<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="advisorbg">
  <!-- <input type="numbrt" [(ngModel)]="value"> -->
  <div class="container_thisis">
    <!-- End type 1 -->
    <div *ngIf="type==0">
      <section *ngIf="value==0" class="model-1">
        <div class="graph" value="0">
          <div class="textG">
            {{value.toFixed(0)}}%

          </div>
        </div>
      </section>
      <section *ngIf="value==14" class="model-1">
        <div class="graph" value="14.28">

          <div class="textG">
            {{value.toFixed(0)}}%

          </div>

        </div>
      </section>
      <section *ngIf="value==28" class="model-1">
        <div class="graph" value="28.56">
          <div class="textG">
            {{value.toFixed(0)}}%

          </div>

        </div>
      </section>
      <section *ngIf="value==42" class="model-1">
        <div class="graph " value="42.84">
          <div class="textG">
            {{value.toFixed(0)}}%

          </div>
        </div>
      </section>
      <section *ngIf="value==56" class="model-1">
        <div class="graph " value="57.12">
          <div class="textG">{{value.toFixed(0)}}%</div>
        </div>
      </section>
      <section *ngIf="value==70" class="model-1">
        <div class="graph " value="71.4">
          <div class="textG">{{value.toFixed(0)}}%</div>
        </div>
      </section>
      <section *ngIf="value==84" class="model-1">
        <div class="graph " value="85.68">
          <div class="textG">{{value.toFixed(0)}}%</div>
        </div>
      </section>
      <section *ngIf="value==98" class="model-1">
        <div class="graph" value="99.96">
          <div class="textG">100%</div>
        </div>
      </section>
    </div>
    <!-- End type 1 -->
    <div *ngIf="type==1">
      <section *ngIf="value==0" class="model-1">
        <div class="graph" value="0">
          <div class="textG">
            {{value.toFixed(0)}}%

          </div>
        </div>
      </section>
      <section *ngIf="value==16.7" class="model-1">
        <div class="graph " value="14.28">
          <div class="textG">
            {{value.toFixed(0)}}%

          </div>


        </div>
      </section>
      <section *ngIf="value==33.4" class="model-1">
        <div class="graph " value="28.56">

          <div class="textG">
            {{value.toFixed(0)}}%

          </div>
        </div>
      </section>
      <section *ngIf="value==50.1" class="model-1">
        <div class="graph " value="42.84">
          <div class="textG">{{value.toFixed(0)}}%</div>
        </div>
      </section>
      <section *ngIf="value==66.8" class="model-1">
        <div class="graph " value="57.12">
          <div class="textG">{{value.toFixed(0)}}%</div>
        </div>
      </section>
      <section *ngIf="value==83.5" class="model-1">
        <div class="graph " value="85.68">
          <div class="textG">{{value.toFixed(0)}}%</div>
        </div>
      </section>
      <section *ngIf="value==100.2" class="model-1">
        <div class="graph " value="99.96">
          <div class="textG">100%</div>
        </div>
      </section>
    </div>
    <div *ngIf="type==2">
      <section *ngIf="value==0" class="model-1">
        <div class="graph" value="0">
          <div class="textG">{{value.toFixed(0)}}

          </div>
        </div>
      </section>
      <section *ngIf="value==20" class="model-1">
        <div class="graph" value="14.28">
          <div class="textG">
            {{value.toFixed(0)}}%

          </div>


        </div>
      </section>
      <section *ngIf="value==40" class="model-1">
        <div class="graph " value="42.84">
         
            <div class="textG">
              {{value.toFixed(0)}}%
            </div>

      
        </div>
      </section>

      <section *ngIf="value==60" class="model-1">
        <div class="graph " value="57.12">
          <div class="textG">{{value.toFixed(0)}}%</div>
        </div>
      </section>
      <section *ngIf="value==80" class="model-1">
          <div class="graph " value="85.68">
           
              <div class="textG">
                {{value.toFixed(0)}}%
              </div>
  
        
          </div>
        </section>
      <section *ngIf="value==100" class="model-1">
        <div class="graph " value="99.96">
          <div class="textG">100%</div>
        </div>
      </section>
    </div>

  </div>

  <div *ngIf="type==0">
    <div class="card-body">
      <ion-row>
        <ion-col class="head-name fadeIn1">
          แต่งตั้งที่ปรึกษา
        </ion-col>
        <ion-col class="head-status">
           
          <div class="pass" *ngIf="advisorStatus==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>

          </div>
          <div class="wait" *ngIf="advisorStatus==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body  fadeIn2">
      <ion-row>
        <ion-col class="head-name">
          อนุมัติทำวิจัย

        </ion-col>
        <ion-col class="head-status">
         
          <div class="pass" *ngIf="PermitInfo==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="PermitInfo==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body fadeIn3">
      <ion-row>
        <ion-col class="head-name">
          สอบจบ
        </ion-col>
        <ion-col class="head-status">
          
          <div class="pass" *ngIf="getCompleteInfo_value==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="getCompleteInfo_value==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body fadeIn4">
      <ion-row>
        <ion-col class="head-name">
          ส่งเล่มสมบูรณ์

        </ion-col>
        <ion-col class="head-status">
          <div class="pass" *ngIf="thesisexam==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="thesisexam==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body fadeIn5">
      <ion-row>
        <ion-col class="head-name">
          ผ่านการสอบวัดคุณสมบัติ

        </ion-col>
        <ion-col class="head-status">
         
          <div class="pass" *ngIf="qualification==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="qualification==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body fadeIn6">
      <ion-row>
        <ion-col class="head-name">
          อนุมัติผลการตีพิมพ์

        </ion-col>
        <ion-col class="head-status">
           
          <div class="pass" *ngIf="publication==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="publication==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body fadeIn7">
      <ion-row>
        <ion-col class="head-name">
          ผลสอบภาษาอังกฤษ
        </ion-col>
        <ion-col class="head-status">
  
            
          <div class="pass" *ngIf="engStatus==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="engStatus==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf="type==1">
    <div class="card-body">
      <ion-row>
        <ion-col class="head-name fadeIn1">
          แต่งตั้งที่ปรึกษา
        </ion-col>
        <ion-col class="head-status">
          <div class="pass" *ngIf="advisorStatus==1">


            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>


          </div>
          <div class="wait" *ngIf="advisorStatus==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body  fadeIn2">
      <ion-row>
        <ion-col class="head-name">
          อนุมัติทำวิจัย

        </ion-col>
        <ion-col class="head-status">
          <div class="pass" *ngIf="PermitInfo==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="PermitInfo==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body fadeIn3">
      <ion-row>
        <ion-col class="head-name">
          สอบจบ
        </ion-col>
        <ion-col class="head-status">
          <div class="pass" *ngIf="getCompleteInfo_value==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="getCompleteInfo_value==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body fadeIn4">
      <ion-row>
        <ion-col class="head-name">
          ส่งเล่มสมบูรณ์

        </ion-col>
        <ion-col class="head-status">
          <div class="pass" *ngIf="thesisexam==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="thesisexam==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body fadeIn6">
      <ion-row>
        <ion-col class="head-name">
          อนุมัติผลการตีพิมพ์

        </ion-col>
        <ion-col class="head-status">
          <div class="pass" *ngIf="publication==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="publication==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body fadeIn7">
     
      <ion-row>
        <ion-col class="head-name">
          ผลสอบภาษาอังกฤษ
        </ion-col>
        <ion-col class="head-status">
          <div class="pass" *ngIf="engStatus==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="engStatus==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div *ngIf="type==2">
    <div class="card-body">
      <ion-row>
        <ion-col class="head-name fadeIn1">
          แต่งตั้งที่ปรึกษา
        </ion-col>
        <ion-col class="head-status">
          <div class="pass" *ngIf="advisorStatus==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="advisorStatus==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>


        </ion-col>
      </ion-row>
    </div>
    <div class="card-body fadeIn2">
      <ion-row>
        <ion-col class="head-name">
          อนุมัติผลการตีพิมพ์

        </ion-col>
        <ion-col class="head-status">
          <div class="pass" *ngIf="publication==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="publication==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="card-body fadeIn3">
      <ion-row>
        <ion-col class="head-name">
          ผลสอบภาษาอังกฤษ
        </ion-col>
        <ion-col class="head-status">
          <div class="pass" *ngIf="engStatus==1">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#ff9c00" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <polyline class="path check" fill="none" stroke="#ff9c00" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10"
                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div class="wait" *ngIf="engStatus==0">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#fff" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"
              />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4"
                y1="37.9" x2="95.8" y2="92.3" />
              <line class="path line" fill="none" stroke="#fff" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8"
                y1="38" x2="34.4" y2="92.2" />
            </svg>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>









</ion-content>
