page-scholarship-more {
    .scholarship-body{
        text-align: center;
        backdrop-filter: blur(28px);
        background-color: rgba(0, 0, 0, 0.589);
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .head {
        position: relative;
        color: #636363;
        background: #fcfcfc;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        height: 60px;
  
        font-size: 34px;
        padding: 11px;
        -webkit-box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
        box-shadow: 0px 3px 39px rgba(255, 255, 255, 0.144);
    }
        .scholarship-contain{
            overflow-y: scroll;
            z-index: 2000;
         
         
            .scholarship-card{
                display: block;
                position: relative;
                color: rgba(255, 255, 255, 0.78);
                margin: 0 auto;
                width: 100%;
                /* height: 62px; */
                font-size: 13px;
                padding: 4%;
                text-align: left;
                padding-left: 10%;
                padding-right: 32px;
                margin-bottom: 1%;
                font-weight: bold;
                border-radius: 15px;
                background-color: rgba(0, 0, 0, 0.342);
                .title{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                .texttime {
                    position: relative;
                    color: rgba(255, 255, 255, 0.78);
                    bottom: 14%;
             
                    // left: 10%;
                    margin: auto;
                    font-size: 13px;
                    text-align: right;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                .scholarship-status {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                     background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
                    top: 0;
                    bottom: 0;
                    left: 4%;
                    border-radius: 100%;
                    margin: auto;
                  }
                  .arrow{
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top: 0;
                    bottom: 0;
                    right: 2%;
                    transform: rotate(180deg);
                    margin: auto;
                  }
            }
            
        }
        .has-refresher > .scroll-content {
  
            border-top: 1px solid transparent;
            
        }
       
    
}
