
<ion-content padding class="background_origin">
    <div class="box">
        <ion-grid>
          <ion-row>
            <ion-col>
    
            </ion-col>
            <ion-col style=" padding: 4% !important; text-align:center;">
              <a (click)="gotopage(3,'ประกาศนียบัตรชั้นสูง')">
                <div class="circle-menu scaleUp">
                  <img src="./assets/ui/home/menu/new/scho.png" alt="">
                </div>
                <div class="text">ประกาศนียบัตรชั้นสูง</div>
              </a>
            </ion-col>
            <ion-col></ion-col>
    
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <ion-col style=" padding: 4% !important; text-align:center;">
              <a (click)="gotopage(2,'ปริญญาโท')">
                <div class="circle-menu scaleUp2">
                  <img src="./assets/ui/home/menu/new/scho.png" alt="">
                </div>
                <div class="text">ปริญญาโท</div>
              </a>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <ion-col style=" padding: 4% !important; text-align:center;">
              <a (click)="gotopage(1,'ปริญญาเอก')">
                <div class="circle-menu scaleUp3">
                  <img src="./assets/ui/home/menu/new/scho.png" alt="">
                </div>
                <div class="text">ปริญญาเอก</div>
              </a>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
          <!-- <ion-row>
              <ion-col></ion-col>
              <ion-col style=" padding: 4% !important; text-align:center;">
                <a (click)="gotopage(4)">
                  <div class="circle-menu scaleUp3">
                    <img src="./assets/ui/home/menu/new/camera.png" alt="">
                  </div>
                  <div class="text">Mooc</div>
                </a>
              </ion-col>
              <ion-col></ion-col>
            </ion-row> -->
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
              <img class="close" (click)="dismiss()" src="assets/ui/home/menu/new/close.png" />
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    
</ion-content>
