page-guests-course-views {
    .bgMenu {
        backdrop-filter: blur(28px);
        background-color: rgba(0, 0, 0, 0.589);
    }
    .circle-menu {
        position: relative;
        width: 18vw;
        height: 18vw;
        background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
        border-radius: 100%;
        border: solid 1px white;
        margin: auto;
        box-shadow: 0 0 70px rgba(0, 0, 0, 0.125);
        padding: 8%;
        margin-bottom: 7%;
        @media only screen and (min-device-width: 768px) {
            width: 9vw;
            height:9vw;
        }
    }
    .text {
        // position: absolute;
        color: rgb(255, 255, 255);
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        text-align: center; // padding-top: 75%;
    }
    .box {
        height: 100%;
        ; // background-color: rgba(255, 255, 255, 0.041);
        padding-top: 26%;
        @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            padding-top: 26%;
        }
        @media only screen and (min-device-width: 768px) {
            padding-top: 16%;
        }
    }
    .close {
        padding-left: 10px;
        @media only screen and (min-device-width: 768px) {
            width: 50%;
        }
    }
    .col {
        text-align: center !important;
    }   
  
    .item-md.item-block .item-inner {
        padding-right: 8px;
        padding-right: 8px;
        border-bottom: 0.55px solid transparent !important;
    }
}
