<ion-header no-border class="padding-head active">
    <ion-navbar hideBackButton end>
      <ion-buttons right>
        <a (click)="dismiss()">
          <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
          <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
        </a>
      </ion-buttons>
      <ion-title style="color: aliceblue"></ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="advisorbg">
    <div class="card-head">
      <ion-grid>
        <ion-row>
          <div class="container">
              <div class="icon-circle icon-danger">
                  <svg class="icon-svg">
                    <line class="icon-svg-line" x1="12.6" y1="37.4" x2="37.4" y2="12.6"/>
                    <line class="icon-svg-line" x1="12.6" y1="12.6" x2="37.4" y2="37.4"/>
                  </svg>
                </div>
  
          </div>
          <ion-col col-12>
              <div class="card-body">
                  ท่านยังไม่ได้แต่งตั้งที่ปรึกษา<br>วิทยานิพนธ์/การค้นคว้าอิสระ
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
  