page-test {
    #paper-icon{
        position: absolute;
        // left:50%;
        top:0;
        width: 200px;
        height: 200px;
        // transform: translatey(-50%) translatex(-50%);
      }
      
      #paper{
        -webkit-animation: flypaper 4s infinite ease-in-out;
        -moz-animation: flypaper 4s infinite ease-in-out;
      }
      
      #bg-1{
        -webkit-animation: floting-line 4s infinite ease-in-out;
        -moz-animation: floting-line 4s infinite ease-in-out;
      }
      .left-lines{
        -webkit-animation: floting-line-2 4s infinite ease-in-out;
        -moz-animation: floting-line-2 4s infinite ease-in-out;
      } 
      
      .dots{
        transform-origin: 10% 60%;
        -webkit-animation: rotate-dots 4s infinite ease-in-out;
        -moz-animation: rotate-dots 4s infinite ease-in-out;
      }  
      
      @-webkit-keyframes flypaper
      {  
      0%  {-webkit-transform: translateY(15px);}  
      50% {-webkit-transform: translateY(-15px);} 
      100%  {-webkit-transform: translateY(15px);} }
      
      @-webkit-keyframes floting-line
      {  
      0%  {-webkit-transform: translateX(15px);}  
      50% {-webkit-transform: translateX(-15px);} 
      100%  {-webkit-transform: translateX(15px);} }
      
      @-webkit-keyframes floting-line-2
      {  
      0%  {-webkit-transform: translateX(-10px);}  
      50% {-webkit-transform: translateX(20px);} 
      100%  {-webkit-transform: translateX(-10px);} }
      
      @-webkit-keyframes rotate-dots
      {  
      0%  {-webkit-transform: rotatez(0);}  
      50% {-webkit-transform: rotatez(-15deg) translateY(7px);} 
      100%  {-webkit-transform: rotatez(0);} }
}
