<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div id="paper-icon">

      <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg version="1.1" id="paper-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 212 212" style="enable-background:new 0 1 212 212;" xml:space="preserve">
      <style type="text/css">
        .st0{opacity:0.352;fill:none;stroke:#53486D;stroke-miterlimit:10;}
        .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#D8F5E4;}
        .st2{fill:#F9F8F9;}
        .st3{fill:#53486D;}
        .st4{fill:#C8EFD7;}
        .st5{fill:#EFEFEF;}
        .st6{fill:#7CE1A6;}
        .st7{fill-rule:evenodd;clip-rule:evenodd;fill:#E8D4A3;}
        .st8{fill-rule:evenodd;clip-rule:evenodd;fill:#AEA2FF;}
        .st9{fill:#80E0A8;}
      </style>
      <g id="static">
        <circle class="st0" cx="105" cy="105" r="105"/>
      </g>
      <g class="left-lines"><path id="bg-3" class="st1" d="M111.5,108h34.8c5.2,0,9.5,4.3,9.5,9.5s-4.3,9.5-9.5,9.5h-34.8c-5.2,0-9.5-4.3-9.5-9.5
        S106.3,108,111.5,108z"/>
      <path id="bg-2" class="st1" d="M33.5,103h7.8c5.2,0,9.5,4.3,9.5,9.5c0,5.2-4.3,9.5-9.5,9.5h-7.8c-5.2,0-9.5-4.3-9.5-9.5
        C24,107.3,28.3,103,33.5,103z"/>
      </g>
      <path id="bg-1" class="st1" d="M130.5,78h34.8c5.2,0,9.5,4.3,9.5,9.5c0,5.2-4.3,9.5-9.5,9.5h-34.8c-5.2,0-9.5-4.3-9.5-9.5
        C121,82.3,125.3,78,130.5,78z"/>

      <g class="dots">  
      <path id="dot-4" class="st6" d="M95,161L95,161c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3S93.3,161,95,161z"/>
      <path id="dot-3" class="st8" d="M47,81L47,81c1.7,0,3,1.3,3,3c0,1.7-1.3,3-3,3s-3-1.3-3-3C44,82.3,45.3,81,47,81z"/>
      <path id="dot-2" class="st9" d="M165,61L165,61c1.7,0,3,1.3,3,3s-1.3,3-3,3s-3-1.3-3-3S163.3,61,165,61z"/>
      <circle id="dot-1" class="st7" cx="100.6" cy="64.6" r="5"/>
      </g>
      </svg>
      
      </div>  
</ion-content>
