<ion-header no-border class="padding-head active">
  <ion-navbar hideBackButton end>
    <ion-buttons right>
      <a (click)="dismiss()">
        <!-- <img src="assets/imgs/back.png" width="24" style="margin:5px"> -->
        <ion-icon class="closeAngle" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title style="color: aliceblue"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background_origin">
  <div class="slide-container">
    <ion-slides class="slider" pager autoplay="4000" speed="500">
      <ion-slide *ngFor="let item of items">
        <!-- <img class="slide_news" src="{{item.image}}" alt=""> -->
        <div class="image_load">
          <img class="imgCer fadeI_grad" src="{{item.image}}" (load)="loaded = true" alt="">
          <div gravity="center" class="p-materialbox" *ngIf="!loaded">
            <div class="p-circle--rotate p-materialbox__item">
              <div class="p-circle--rotate__item1"></div>
              <div class="p-circle--rotate__item2"></div>
              <div class="p-circle--rotate__item3"></div>
              <div class="p-circle--rotate__item4"></div>
              <div class="p-circle--rotate__item5"></div>
              <div class="p-circle--rotate__item6"></div>
              <div class="p-circle--rotate__item7"></div>
              <div class="p-circle--rotate__item8"></div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>

    <ion-grid>
      <ion-row>
        <ion-col col-4 *ngFor="let item of programID;let i =index" (click)="watchVideo(item)">
          <div class="listprogram fadeIn{{i}}" style="">
            <div>
              <div class="embed-responsive embed-responsive-16by9 video-block">
        <div class="play-btn">
          </div>
          </div>
              <div class="image3_load ">
                <div class="videoPoster " style="background: #00000050;"></div>
                <img class="imgCer fadeI_grad" src="{{item.img_url}}" (load)="loaded = true" alt="">
                <div gravity="center" class="p-materialbox" >
                  <div class="p-circle--rotate p-materialbox__item">
                    <div class="p-circle--rotate__item1"></div>
                    <div class="p-circle--rotate__item2"></div>
                    <div class="p-circle--rotate__item3"></div>
                    <div class="p-circle--rotate__item4"></div>
                    <div class="p-circle--rotate__item5"></div>
                    <div class="p-circle--rotate__item6"></div>
                    <div class="p-circle--rotate__item7"></div>
                    <div class="p-circle--rotate__item8"></div>
                  </div>
                </div>
              </div>
            </div>
            <div style="padding-top: 3%;
            padding-bottom: 3%;
            ">
              <div *ngIf="item.status == 'live'" class="live">Live</div>
              <div *ngIf="item.status !='live'" class="offline">Live</div>
            </div>


            <div class="text-con">

              <div class="name">{{item.name}}</div>

            </div>
          </div>
        </ion-col>

      </ion-row>


    </ion-grid>
  </div>

</ion-content>
