page-video {
  .slider {
    height: 57vw;
    // @media only screen and (min-device-width: 768px) {
    //   height: 34vh;
    // }
    // @media only screen and (min-device-width: 1024px) {
    //   height: 38vh;
    // }
  }
  .slide-container{

  }
  .cross-front {
    position: absolute;
    top: 0;
    left: 0;
    margin: 4%;
    margin-top: 6%;
    z-index: 10;
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      margin-top: 12%;
    }
  }
  .bg {
    background-image: url('bg.png')
  }
  .videoPlayer {
    background-color: hsla(0, 0%, 0%, .35);
    border: 0px solid #111;
    border-radius: 5px;
    display: inline-block;
    font-size: 0;
    padding: 16px;
    text-align: left;
  }
  .videoPlayer div {
    color: #fff;
    display: inline-block;
    font: bold 14px/10px sans-serif;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .videoPlayer .play {
    margin-top: 67px;
    margin-bottom: 67px;
    display: block;
    padding-left: 45%;
    font-size: 48px;
  }
  .videoPlayer .progress {
    background: hsla(255, 255, 255, .25);
    height: 1.3px;
    margin-right: 16px;
    width: 300px;
  }
  .videoPlayer .loading {
    height: 10px;
    width: 75%;
  }
  .videoPlayer .playback {
    height: 10px;
    position: relative;
    top: -10px;
    width: 60%;
  }
  .videoPlayer .time {
    margin-right: 16px;
    position: relative;
    top: -1px;
  }
  .videoPlayer .hd a {
    color: #ff859f;
    font-style: italic;
    position: relative;
    top: -1px;
  }
  html,
  body {
    height: 100%;
    background: #000428;
    background: -webkit-linear-gradient(to left, #000428, #004e92);
    background: linear-gradient(to left, #000428, #004e92);
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #app {
    overflow: hidden;
    position: relative;
  }
  @-webkit-keyframes opas {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes opas {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes opas {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .live {
    position: relative;
    -webkit-animation: 2s opas infinite;
    -moz-animation: 2s opas infinite;
    animation: 2s opas infinite; // display: inline-block;
    background: rgb(255, 0, 0);
    border-radius: 3px;
    color: #fff;
    padding: 8px; // margin-top: 20px;
    // margin-left: 20px;
    font-size: 12px;
    font-weight: 200;
    font-family: arial;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    margin: auto;
  }
  .offline {
    position: relative;
    -webkit-animation: 2s opas infinite;
    -moz-animation: 2s opas infinite;
    animation: 2s opas infinite; // display: inline-block;
    background: rgba(0, 0, 0, 0.514);
    border-radius: 3px;
    color: #fff;
    padding: 8px; // margin-top: 20px;
    // margin-left: 20px;
    font-size: 12px;
    font-weight: 200;
    font-family: arial;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    margin: auto;
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  #app:hover .reactions {
    pointer-events: auto;
    opacity: 1;
  }
  .reactions {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -143px;
    display: inline-block;
    background: #fff;
    padding: 6px 5px;
    border-radius: 30px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    transition: .3s all ease;
  }
  .reactions.show {
    opacity: 1;
    pointer-events: auto;
  }
  .reactions li {
    cursor: pointer;
    font-size: 0;
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    border-radius: 50%;
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  .reactions li:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
  .reactions li.like {
    background-position: 0 0;
  }
  .reactions li.love {
    background-position: -50px 0;
  }
  .reactions li.haha {
    background-position: -100px 0;
  }
  .reactions li.wow {
    background-position: -150px 0;
  }
  .reactions li.sad {
    background-position: -200px 0;
  }
  .reactions li.angry {
    background-position: -250px 0;
  }
  .pop-ctr {
    position: absolute;
    right: 0;
    bottom: -80px;
    will-change: transform;
  }
  .pop-ctr .user-photo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
  }
  .center {
    width: 79%;
    display: block; // margin-top: auto;
    // margin-bottom: auto;
    // margin-left: auto;
    // margin-right: auto;
    border-radius: 6px;
  }
  .listprogram {
    // margin-top: 13px;
    text-align: center; // border: solid 1.8px rgb(0, 0, 0);
    // padding-top: 3%;
    // padding-bottom: 3%;
    // background-color: rgba(0, 0, 0, 0.342);
    // border: solid 1px rgba(0, 0, 0, 0.432);
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.226);
    padding: 2%;
  }
  .more {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .videoheader {
    border-radius: 50px;
    text-align: center;
    z-index: 150;
  }
  .gradlive {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  html,
  body,
  a {
    width: 100%;
    height: 100%;
  }
  body {
    margin: 0;
  }
  @font-face {
    font-family: "GalanoGrotesqueW00-Bold";
    src: url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.eot");
    src: local("☺︎"), local("Galano Grotesque W00 Bold"), local("GalanoGrotesqueW00-Bold"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.eot?#iefix") format("embedded-opentype"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.woff2") format("woff2"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.woff") format("woff"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.ttf") format("truetype"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.svg#GalanoGrotesqueW00-Bold") format("svg");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  .waves {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    min-width: 100%;
    min-height: 70%;
    padding-bottom: 100%;
    opacity: 0.78;
    z-index: -3;
  }
  img,
  svg {
    pointer-events: none;
  }
  h1 {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    transform: translateY(-0%);
  }
  .text-con {
    .name {
      position: relative;
      // position: absolute;
      color: white;
      text-align: center; // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      width: 100%;
      height: 38px;
      margin: auto;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // background-color: black;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
    }
  }
 
  .coner_img {
    // max-height: 50px; 
    max-width: 100%;
  }
  .time {
    position: absolute;
    font-size: 11px;
    color: white;
    bottom: -20%;
    right: 0;
  }
  .slide_news {
    border-radius: 10px;
  }
  

  body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
  
  section {
    width: 100vw;
    background: #f7f5f5;
    // padding: 40px 80px;
    
    .block {
      float:left;
      width: calc(50% - 40px);
      height: 325px;
      background: #3d3d3d;
      border-radius: 6px;
      margin: 20px;
      position: relative;
      &.header {
        width: calc(100% - 40px);
      }
    }
    
  }
  .youtube-player {
    border-radius: 6px;
  }
  .overlay {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-image: radial-gradient(circle at top left, #FF8300, #FDA14B, #EB7767 );
    opacity: .75;
  }
  .video-placeholder {
    position: absolute;
    top:0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
  #v01 {
    background-image: url('//lorempixel.com/800/600/people/9/');
  }
  #v02 {
    background-image: url('//lorempixel.com/800/600/people/6/');
  }
  #v03 {
    background-image: url('//lorempixel.com/800/600/people/7/');
  }
  .ion-play {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 25px);
    font-size: 100px;
    color: #fff;
    line-height: 1;
    opacity: .75;
    transition: opacity .25s;
    z-index:10;
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  .video-title {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
  }
  
  
  
  #log {
    display: inline-block;
    width: calc(100% - 80px);
    margin: 20px;
    padding: 20px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 6px;
    h4 {
      margin: 0;
    }
  }
  
  // for video embed testing
  // .video-placeholder,
  // .overlay,
  // .video-title,
  // .play {
  //   display: none;
  // }

  //

  .videoPoster {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    outline: none;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-size: cover;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    border-radius: 8px;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
  }
  .videoPoster:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 0 18px 33.2px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.808);
     -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
  }
  
  /* .videoPoster:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -20px 0 0 -10px;
    border-left: 40px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
  } */
  .videoPoster:hover:before, .videoPoster:focus:before {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.808);
  }
  .videoPoster:hover:after, .videoPoster:focus:after {
    border-left-color: rgba(255, 255, 255, 0.808);
  }
  ._active .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
  }
 
}
