page-manage-alumni {
   background-color: white;
}
.news{
    height: 30%;;
}
.ionic-blank{
    background-color: white;
}
.search-container{
    position: relative;
    text-align: center;
    .search-member{
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 70%;
        border-radius: 100px;
        left: 0;
        right: 0;
        margin-left:auto;
        margin-right: auto;
        margin-top: 20%;
        padding-left: 5%;
        padding-right: 5%;
        border-style: solid;
        border-color: rgb(73, 73, 73);
        font-family: 'kanit','sans-serif';
        font-size: 150%;
    }
    .search-buttom{
        left: 0;
        right: 0;
        margin-left:auto;
        margin-right: auto;
        margin-top: 30%;

        border-style: solid;
        border-color: rgb(73, 73, 73);
        background-color: #494949;
        font-family: 'kanit','sans-serif';
        color: rgb(253, 253, 253)
    }
    .content-alum{
            width: 100%;
            height: 100%;
            padding: 10%;
            text-align: left;
            display: run-in;
            overflow: scroll;
    }
    .textdv{
        padding: 10%;
    }
}
.col{
    text-align: left !important;
}