
<ion-header >
    <ion-navbar class="ionic-header">
      <ion-buttons start>
        <button ion-button (click)="dismiss()">Close</button>
      </ion-buttons>
      <ion-title>อำนวยการ</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="ionic-blank">
      <ion-slides pager class="news">
          <ion-slide style="background-color: green">
              <img src="https://nateemylove.files.wordpress.com/2013/01/img_53681.jpg" alt="">
          </ion-slide>
        
          <ion-slide style="background-color: blue">
              <img src="https://image.dek-d.com/27/0346/7201/116677011" alt="">
          </ion-slide>
        
          <ion-slide style="background-color: red">
            <img src="https://pbs.twimg.com/media/Co3rW8mUsAAWJqo.jpg" alt="">
          </ion-slide>
        </ion-slides>
        <div>
            <ion-segment [(ngModel)]="pet">
              <ion-segment-button value="member">
                  ข้อมูลศิษย์เก่า
              </ion-segment-button>
              <ion-segment-button value="winner">
                  เกียรติคุณ
              </ion-segment-button>
              <ion-segment-button value="event">
                  กิจกรรม
                </ion-segment-button>
            </ion-segment>
          </div>
          
          <div [ngSwitch]="pet">
            <ion-list class="search-container" *ngSwitchCase="'member'">
              <ion-input class="search-member"  placeholder="โปรดรหัสใส่นิสิต"> </ion-input>
              <button ion-button round class="search-buttom" >Search</button>

            </ion-list>
          
            <ion-list *ngSwitchCase="'winner'">
                <ion-item *ngFor="let item of items">
                      <ion-grid>
                        <ion-row>
                          <img src="http://www.socsci.nu.ac.th/th/wp-content/uploads/2017/08/Best-Alumnai.png" alt="" width="100px" height="100px">
                          <ion-col col-8 >
                            <h4> {{ item }}</h4>
                          
                              <span>ขอแสดงความยินดีกับ พันตำรวจโท ดร.บันดาล บัวแดง สารวัตรใหญ่ สถานีตำรวจภูธรเด่นเหล็ก จังหวัดอุตรดิตถ์ ในโอกาสได้รับรางวัล “ศิษย์เก่า ดีเด่นมหาวิทยาลัยนเรศวร” </span>
                        
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                
                  </ion-item>
            </ion-list>
          
            <ion-list *ngSwitchCase="'event'">
                <ion-item *ngFor="let item of displayData ; let i = index">
                    <ion-card>
                     
                            <ion-row>
                              <ion-col col-4 >
                                  <img src="{{displayData[i].img}}" alt="" width="100px" height="100px">
                              </ion-col>
                              <ion-col col-8 >           
                                <label for="">{{displayData[i].text}}</label>             
                                  <p>sddslkfsdafsdpmcp[kmfpakbvp[KC[POJGCOK NG[ocn,r[a,dmg[pckm,psmfcoMF[woejf,caomfap,cfpsds</p>
                              </ion-col>
                            </ion-row>
                      
                    </ion-card>
                </ion-item>
            </ion-list>
          </div>
  </ion-content>
  
  