page-menu {
  .item{

    width: 60vw;

}
.circle-menu{
  position: relative;
  width: 18vw;
  height: 18vw;
      background: linear-gradient(to bottom right, #ff9c00, #ff6c00);
  border-radius: 100%;
  border:solid 1px white;
  margin: auto; 
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.432);
  padding: 12%;
}
@media only screen and (min-device-width: 768px){
  .circle-menu{
    width: 14vw;
    height: 14vw;
  }
}
.text{
  font-weight: bold;
  font-size: 76%;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif
}

.bgMenu{
  backdrop-filter: blur(28px);
  background-color: rgba(0, 0, 0, 0.589);
  }
.blurred{
    position: absolute;
    background: rgb(172, 4, 88);
    width: 100px;
    height: 100px;
    bottom: 0;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   border-radius: 100%;
   z-index: -3;

   -webkit-filter: blur(10px);
   -moz-filter: blur(10px);
   -o-filter: blur(10px);
   -ms-filter: blur(10px);
   filter: blur(160px);
} 
  .gridpadding{
    padding-top: 30%;
    ion-col{
      // width: 10px;
    }
    @media only screen and (device-width: 375px) and (device-height: 667px) {
        padding-top: 30%;
      }
      @media only screen and (device-width: 412px) and (device-height: 732px) {
        padding-top: 20%; 
      }
      @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

        padding-top: 50%;
     }
  }
  .close-container{

    width: 100px;
    height: 100px;
    border-radius: 100%;

  
  }
  .close{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%;
    margin-left: 4%;
  }
  .blur{
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: blurout;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.6s;;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: blurout;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 0.6s;;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: blurout;
    animation-delay: 0s;
    animation-duration: 0.6s;;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: blurout;
  }
  .blur.active {
    opacity: 0.9;
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.6s;;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: blur;
    -moz-animation-delay: 0s;
    -moz-animation-duration: 0.6s;;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: blur;
    -ms-animation-delay: 0s;
    -ms-animation-duration: 0.6s;;
    -ms-animation-iteration-count: 1;
    -ms-animation-fill-mode: both;
    -ms-animation-name: blur;
    animation-delay: 0;
    animation-duration: 0.6s;;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: blur;
  }
  @keyframes blur {
    0% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
    100% {
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px);
    }
  }
  @keyframes blurout {
    0% {
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px);
    }
    100% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
      filter: blur(0px);
    }
  }
}

