<ion-content class="bgMenu  notification-field" style="    box-shadow: 1px 4px 60px 0px #c5c5c557;">
  <ion-grid class="gridpadding" style="">
    <ion-row>
      <ion-col col-4 *ngFor="let item of items  ;let i = index" style="     padding: 4% !important; text-align:center  !important;">
        <a (click)="gotopage(item.component)">
          <div class="circle-menu  scaleUp{{i}}">
            <img src="{{item.url}}" alt="">
          </div>
          <div class="text">{{item.title}}</div>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <img class="close" (click)="dismiss()" src="assets/ui/home/menu/new/close.png" />
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="blurred"></div> -->
</ion-content>
